<style type="text/css">
	html, .off-canvas-wrap {
		overflow: hidden !important;
	}
	.inner-wrap {
		height: 100% !important;
	}
</style>

<!--{{%= outlet('breadcrumbs') }}-->

{{%= outlet('topbar') }}

<div class="view-content" style="position: relative" data-bind="css: { overflow:select(state_isLoading, 'hidden', 'auto') }" data-scroll>
	<div class="view-loading" data-bind="toggle: state_isLoading">
		<div class="loader-bubbles theme"></div>
	</div>
	{{%= outlet() }}
</div>