{{ _.each(obj, function (item) { }}
	<div>{{- item.title }}</div>
	<ul>{{ _.each( _.get(item,'children',[]), function (el) { console.log(el)  }}
		<li>{{%= JST['shared/templates/recourcive-child'](el) }}</li>
	{{ } ) }}
	</ul>
{{ }) }}