<div class="news-content">
	<div class="text-center no-news">
		<div class="hint">Скоро здесь будут наши новости</div>
	</div>
	<div class="news-list"></div>
</div>
<div class="loader-bubbles theme"></div>