<div class="promotions-content">
	<div class="text-center no-promotions">
		<div class="hint">Скоро здесь будут наши акции и предложения</div>
	</div>
	<div class="promotions-list"></div>
</div>

<div class="loader-bubbles theme"></div>