<div class="promotions-content">
	<div class="text-center no-feeds">
		<div class="hint">Предложений пока нет</div>
	</div>
	<div class="feed-list-wrapper" data-scroll>
		<ul class="feed-list"></ul>
	</div>
</div>

<div class="loader-bubbles theme"></div>
