<div class="flexbox">

	<img src="{{= Iconto.shared.helpers.image.resize(icon_url, Iconto.shared.helpers.image.FORMAT_SQUARE_SMALL) }}"
	     class="address-logo"/>

	<div class="info">

		<div class="title">
			<div class="company-name">
				{{- name }}
			</div>
			<div class="category-name">
				{{- category_name }}
			</div>
		</div>
	</div>
</div>


