<div name="qr-region" data-bind="toggle: not(state_error_text)"></div>
<div class="error-text" data-bind="toggle: state_error_text, text: state_error_text"></div>
<!--<div class="text" data-bind="text: state_text"></div>-->