{{%= outlet('officeTopbar') }}

<div class="inner-view-content">
  <i class="ic-plus-circle"></i><a href="/office/{{= company.id }}/employees/new">Добавить сотрудника</a>
</div>

<div class="employees"></div>