<ul class="radius tabs row collapse cashback-type-tabs">
	<li class="small-6 columns tab common-tab {{= state.mode!='personal'?'active':'' }}">
		<button class="button tiny">Общие</button>
	</li>
	<li class="small-6 columns tab personal-tab {{= state.mode=='personal'?'active':'' }}">
		<button class="button tiny">Персональные</button>
	</li>
</ul>