<div class="address-checkbox">
  <input type="checkbox" id="address_{{= id }}" class="green" value="{{= id }}"/>
</div>
<div class="address-label">
  <label for="address_{{= id }}">{{- address }}</label>
</div>