<!--<div class="shop-goods-search-region"></div>-->
<div class="shop-category-tree-view-region"></div>
<div class="shop-opened-categories-container">
	<!--<div class="shop-category-products-region"></div>-->
</div>
<div class="shop-product-details-region"></div>