<div class="list-container">
	<ul class="list menu-items" data-bind="classes:{hide: state_isLoading }"></ul>
	<div class="loader-bubbles theme" data-bind="classes:{hide: not(infiniteScrollState_isLoadingMore) }"></div>
</div>
