<!-- level 1 -->
<div id="catalog-region"
	 class="shop-catalog-region-wrapper"
	 data-bind="classes:{'is-visible': equal(state_stateName, 'catalog')}">
	<div
			class="shop-catalog-region">
	</div>
</div>

<!-- level 2 -->
<div id="search-region"
	 class="shop-catalog-region-wrapper"
	 data-bind="classes:{'is-visible': equal(state_stateName, 'search')}">
	<div
			class="shop-catalog-region">
	</div>
</div>

<!-- level 3 -->
<div id="review-region"
	 class="shop-catalog-region-wrapper"
	 data-bind="classes:{'is-visible': state_reviewVisible }">
	<div
			class="shop-catalog-region">
	</div>
</div>

<!-- level 4 -->
<div id="checkout-region"
	 class="shop-catalog-region-wrapper"
	 data-bind="classes:{'is-visible': equal(state_stateName, 'checkout')}">
	<div
			class="shop-catalog-region">
	</div>
</div>
