{{ var avatar = _.get(obj,'user.user_photo', obj.defaultImgUrl) + '?resize=w[100]h[100]'; }}
<div class="show-for-medium-up image s-rounded flex-0 l-w-50 l-h-50 l-mr-15 l-ml-15 s-bg-cover"
	 style="background-image: url({{- avatar }})">
</div>
<div class="flex-1 s-brb-1 l-pb-15">
	<div class="flexbox l-pr-15">
		<div class="show-for-small-only image s-rounded flex-0 l-w-45 l-h-45 l-mr-15 s-bg-cover"
			 style="background-image: url({{- avatar }})">
		</div>
		<div class="flex-1">
			<div class="t-grey-dark f-sz-18 f-lh-22 f-w-600">{{- _.get(obj,'user.user_name','Аноним') }}</div>
			<div class="show-for-small-only l-mb-5"></div>
			<div class="rating-wrapper"></div>

		</div>
		<div class="flex-0 f-sz-14 t-grey-light t-a-right">
			<div>{{- moment.unix(obj.updated_at).format('DD.MM.YY') }}</div>
			{{ if (obj.currentUserReview) { }}
			<i edit-button class="ic-pencil-black l-p-5 ic-pencil-black t-primary f-sz-22 s-cp"></i>
			{{ } }}
		</div>
	</div>
	<div class="l-pt-10 l-pr-15">{{- obj.comment }}</div>
</div>