<div class="messages" data-scroll>
	<div class="list"></div>
	<div class="typing" data-bind="text: sharedState_printingText"></div>
</div>
<div class="overlay"></div>

<div class="form-submit-region"></div>

