<div class="submit-form">

	<div class="attachments">
		<div class="list"></div>
		<button class="add-more attachment" type="button">
			<i class="ic-plus"></i>
		</button>
	</div>

	<!--<textarea name="body" placeholder="Введите теzкст" maxlength="1024"></textarea>-->
	<!--<input type="text" placeholder="Введите текст" name="body" maxlength="1024"/>-->

	<div class="flexbox">

		<!--<button class="filled blue theme attach needsclick" type="button" name="attach-button">-->
			<!--<i class="ic-clip needsclick"></i>-->
			<!--<div class="count">5</div>-->
			<!--&lt;!&ndash;<input type="file" multiple="multiple" accept="image/*" class="needsclick"/>&ndash;&gt;-->
			<!--<input type="file" accept="image/*" />-->
		<!--</button>-->

		<button class="theme attach needsclick" type="button" name="attach-button">
			<i class="ic-clip needsclick theme"></i>
			<div class="count">5</div>
			<!--<input type="file" multiple="multiple" accept="image/*" class="needsclick"/>-->
			<input type="file" accept="image/*" />
		</button>
		<div class="input-contenteditable">
			<div>
				<div contenteditable placeholder="Введите текст" maxlength="1024" name="body" class="needsclick"></div>
			</div>
		</div>

		<button class="review" type="button">
			<i class="ic-speaker"></i>
		</button>

		<button class="theme submit-button" name="submit">
			<i class="ic-level-up-alt theme"></i>
		</button>

	</div>

	<!--<div class="table expand">-->
	<!--<div class="table-row">-->
	<!--<div class="table-cell">-->
	<!--<div name="attach-button" data-dropdown="attachments-dropdown">-->
	<!--<i class="ic-clip"></i>-->
	<!--<input type="file" name="images[]" id="image" accept="image/jpeg,image/png,image/gif" multiple/>-->
	<!--</div>-->
	<!--</div>-->

	<!--<div class="table-cell">-->
	<!--<input type="text" name="message" placeholder="Введите сообщение:" class="radius"-->
	<!--data-bind="value: message_body, events: ['input', 'paste']"/>-->
	<!--</div>-->

	<!--<div class="table-cell">-->
	<!--<a href="#" name="send">Отправить</a>-->
	<!--</div>-->
	<!--</div>-->
	<!--</div>-->

	<!--<button class="button secondary tiny expand radius hide" type="submit" disabled>Отправить</button>-->


</div>