<!--<img alt=""/>-->
<div class="loading">
	<div class="loader-bubbles theme"></div>
</div>
<div class="remove">
	<i class="ic-cross"></i>
</div>
<div class="progress">
	<div class="meter"></div>
</div>