<div class="row">
	<div class="small-12 columns">
		<ul class="radius tabs row collapse requests-tabs">
			<li class="small-6 columns tab wishes-tab {{= state.mode=='wishes'?'active':'' }}">
				<button class="button tiny">Хочу привелегию</button>
			</li>
			<li class="small-6 columns tab discount-cards-tab {{= state.mode!='wishes'?'active':'' }}">
				<button class="button tiny">Дисконтные карты</button>
			</li>
		</ul>
	</div>
</div>

<div class="list"></div>