<div class="cropper-container">
	<div class="content">
		<div class="component">
			<!-- This image must be on the same domain as the demo or it will not work on a local file system -->
			<img id="image_to_crop" src="#" alt="image for resizing">
		</div>
	</div>
	<div class="controls-container">
		<button name="zoom-in" class="red filled zoom-in ic-">+</button>
		<button name="zoom-out" class="red filled zoom-out ic-">-</button>
		<button name="rotate-left" class="red filled rotate-left ic-rotate-left"></button>
		<button name="rotate-right" class="red filled rotate-right ic-rotate-right"></button>
		<button name="crop" class="red filled crop-button ic-crop"></button>
	</div>
</div>
