<form>
	<label>Название карты</label>
	<input type="text" data-bind="value:state_cardTitle, events: ['input', 'paste']" class="large" name="title" id="title"
	       maxlength="128"/>

	<div class="clearfix">
		<button type="submit" class="blue filled" name="save-card">Сохранить</button>

		<button type="button" class="grey" name="delete-card">Отключить карту</button>
	</div>

</form>