<form>
	<label for="cardNumber">Номер карты</label>
	<input type="tel" name="card_number" id="cardNumber" class="large"
	       data-bind="value:card_number, events: ['input', 'paste', 'change']" maxlength="25">
	<div class="hint text-center">Предоставляемые Вами данные являются конфиденциальными.</div>
	<button class="blue filled wide" type="submit" name="card-add-button">СОХРАНИТЬ</button>
</form>