<div class="image hide text-center">
  <img src="" alt="" class="user-img"/>

  <div class="text-center btn-change show-for-medium-up">Изменить</div>
</div>
<div class="text-center show-for-small-only">
  <p class="small btn-change">Изменить</p>
</div>
<form>
  <input type="file" class="upload-file" accept="image/*">
</form>
