<h4 class="title text-center">Внимание</h4>


<div class="row collapse">
  <div class="small-12 columns">
    Чтобы исключить возможность использования банковской карты посторонними лицами, на вашем счете была заблокирована
    случайная сумма (от 1 до 10 рублей). Точную сумму Вы можете узнать в
    смс-уведомлении банка или в Вашем интернет-банке. Её необходимо ввести в поле, расположенное ниже.
  </div>
</div>
<div class="row collapse">
  <div class="columns small-12">
    <div class="additional-info">Если я не получил код</div>
    <ul>
      <li>Позвоните в службу поддержки вашего банка</li>
      <li>Получите выписку из банкомата</li>
    </ul>
  </div>
</div>
<div class="row collapse">
  <div class="columns small-12">
    <div class="additional-info">Подробнее</div>
    <ul>
      <li>Операция активации в системе АЛОЛЬ доступна для банковских карт международных платежных систем VISA,
        MasterCard,
        Maestro, эмитированных любым банком, расположенным на территории Российской Федерации.
      </li>
      <li>Заблокированная сумма будет возвращена на Ваш счёт не позднее 48 часов с момента блокировки.</li>
      <li>Процедуру активации банковской карты в системе АЛОЛЬ необходимо завершить в течение 48 часов. В случае, если
        активация карты в системе не была завершена в течение указанного срока, необходимо заново пройти процедуру.
      </li>
    </ul>
  </div>
</div>
<div class="row collapse">
  <div class="columns small-12 medium-4">
    <button name="ok" class="button expand radius">OK</button>
  </div>
</div>

<a class="close-reveal-modal">&#215;</a>