<div class="row">
	<div class="small-12 columns">
		<h6 class="text-center">
			Выберите способ оплаты
		</h6>
	</div>
	<div class="small-12 columns">
		<ul class="tabs_pay radius vertical inverted"></ul>
	</div>
</div>