<div class="table">
	<div class="table-row">
		<div class="table-cell">
			<div class="wrapper">
				<img class="big-pnf-logo" src="<%= asset_path '404.svg' %>" alt=""/>

				<div class="info">
					<img class="logo" src="<%= asset_path 'alol-black.svg' %>" alt=""/>

					<h3>Страницу украли злые роботы!</h3>

					<img class="small-pnf-logo" src="<%= asset_path '404.svg' %>" alt=""/>

					<p>
						<span class="accent">Мы не виноваты ;)</span><br>
						Попробуйте найти нужную информацию на главной странице.
					</p>

					<a href="/" class="button grey" data-bypass>На главную</a>
					<a href="mailto:welcome@alol.io" class="text blue" data-bypass>Сообщить об ошибке</a>

				</div>
			</div>
		</div>
	</div>
</div>