<div class="image flex-0" style="background-image: url({{= user.image.url }}?resize=w[40]h[40]e[true]q[100])">
	<div class="overlay flexbox flex-v-center flex-h-center"><i class="ic ic-check"></i></div>
</div>
<div class="nickname flex-0">{{= nickname }}</div>
