<div class="header">Передать чат</div>
<div class="hint">Выберите сотрудника, которому будет передан чат:</div>
<div class="header-divider">Сотрудники</div>
<div class="employees" role="region">
	<div class="spinner">
		<div class="bounce1"></div>
		<div class="bounce2"></div>
		<div class="bounce3"></div>
	</div>
</div>
<div class="buttons flexbox">
	<button type="button" name="transfer-button" class="filled flex-1">Передать</button>
	<button type="button" name="cancel-button" class="grey flex-1">Отмена</button>
</div>