<div id="chat-info" role="region"></div>

<div id="messages" role="region">
  <div class="messages"></div>
</div>

<div id="submit" role="region"></div>

<div class="select-chat flexbox flex-v-center flex-h-center flex-column">
  <%= image_tag 'bubbles-empty.svg' %>
  <div class="text">Для начала работы выберите диалог</div>
</div>