<div class="operator-submit-form">

	<div class="attachments">
		<div class="list"></div>
		<button class="add-more attachment" type="button">
			<i class="ic-plus"></i>
		</button>
	</div>

	<div class="input-wrap flexbox">
		<div class="theme attach needsclick attach-button flex-0 flex-v-center flex-h-center flexbox">
			<i class="ic-plus needsclick theme"></i>

			<div class="count"></div>
			<input type="file" accept="image/*"/>
		</div>

		<div class="input-contenteditable flex-1 flexbox flex-v-center">
			<div contenteditable placeholder="Введите текст" maxlength="1024" name="body" class="needsclick flex-1"></div>
		</div>

		<div class="submit-button flexbox flex-v-center s-noselect">Отправить</div>
	</div>
</div>