<div class="company-image" style="background-image: url({{= Iconto.shared.helpers.image.resize(image.url, Iconto.shared.helpers.image.FORMAT_SQUARE_SMALL) }})"></div>
<div class="room-view-info">
	<div class="company-name" title="{{- name }}">{{- name }}</div>
	<div class="address-name" title="{{- additional_group_names }}">{{- additional_group_names }}</div>
</div>
<div class="unblock">
	<button class="blue unblock-button">Разблокировать</button>
</div>