<div class="wrapper flexbox">
	<div class="content">
		<!--<span class="close">-->
			<!--<i class="ic-cross-thin"></i>-->
		<!--</span>-->
		<div class="number">{{= getCardNumber() }}</div>
		<div class="desc">
			<span>Выдана: </span>
			<img src="{{= getCompanyImage() }}" alt=""/>
			<span class="company-name">{{= getCompanyName() }}</span>
		</div>
	</div>
</div>