<div class="mastercard-list flexbox">
	<a class="mastercard-item" href="/wallet/cards/mastercard" name="add-mastercard-button">
		<div class="wrapper flexbox button t-centered">
			<div class="content">
				<span class="add-mastercard-button">+ Добавить МАСТЕР-КАРТУ</span>
			</div>
		</div>
	</a>
</div>