<div class="form-frame-container">
	<div class="is-loading-text">Загрузка...</div>
	<iframe name="form-frame" id="form-frame" src="/get-order-form?path={{- formPath }}" frameborder="0" marginheight="0" marginwidth="0">Загрузка...</iframe>
</div>