<div class="info">
	<img class="logo" alt=""
	     data-bind="attr: { src: resize(get(company_image, 'url'), Iconto.shared.helpers.image.FORMAT_SQUARE_SMALL) }"/>

	<div class="company-name" data-bind="text:company_name"></div>
	<div class="company-category" data-bind="text:category_name"></div>
</div>
<div class="choose-address-text">Выберите адрес</div>
<div class="list"></div>