<div class="send-icon ic-send"></div>
<div class="content">{{=title}}</div>
<div class="arrow-right ic-chevron-right"></div>
<div class="edit ic-pencil-white"></div>
<div class="list-wrapper scroll-parent">
	<li class="button menu-item list-item close">
		<div class="arrow-left ic-chevron-left"></div>
		<div class="content">{{=title}}</div>
	</li>
	<ul class="list"></ul>
</div>
