<div class="offer" data-bind="toggle: not(state_isLoading)">
	<header class="header">
		<a href="/">
			<%= image_tag 'alol-black.svg', :class => 'iconto-logo-main' %>
		</a>
	</header>
	<div class="content">
		<div class="inner">
			<h1 class="text-center">Соглашение о сотрудничестве</h1>

			<p>Настоящее соглашение в соответствии с положениями п. 2 ст. 437 ГК РФ и п. 1 ст. 428 ГК РФ является публичной
				офертой ООО «АЛОЛЬ » (далее – АЛОЛЬ ) и адресовано всем заинтересованным юридическим или физическим лицам,
				которые акцептуют условия Соглашения (далее Агент). </p>

			<p>Термины и определения, используемые в Соглашении, имеют значение, приведенное в <a data-bypass class="link" href="/rules" target="_blank">Правилах АЛОЛЬ </a>.</p>

			<p>На отношения Сторон, заключивших Соглашение, в полной мере распространяются положения <a data-bypass class="link" href="/rules" target="_blank">Правил АЛОЛЬ </a> и положения
				действующего законодательства РФ.</p>

			<p>Соглашение заключается исключительно в целях развития и совершенствования Технологии АЛОЛЬ , улучшения качества
				услуг АЛОЛЬ , расширения числа Участников, Партнеров и Банков, использующих технологию АЛОЛЬ , и не преследует
				прямых коммерческих целей, а Стороны, заключая соглашение, не рассчитывают извлекать прибыль из его
				исполнения.</p>

			<p>Заключение Соглашения (акцепт настоящей оферты) совершается путем совершения конклюдентных действий -выбора и
				активации Агентом соответствующего интерактивного элемента (проставления отметки, нажатия кнопки и аналогичных
				действий, подтверждающих согласие с настоящим Соглашением) в Личном кабинете.</p>

			<p>Агент, совершив конклюдентные действия, получает возможность, используя Технологию АЛОЛЬ , сообщить о
				Технологии АЛОЛЬ и ее пользователях (Участниках, Партнерах) известным ему юридическим или физическим лицам.
				Агент самостоятельно выбирает получателя информации, вводит адрес электронной почты или телефон адресата и лично
				несет ответственность за правомерность использования этих данных.</p>

			<p>АЛОЛЬ может компенсировать Агенту затраты, которые Агент понес в связи с исполнением Соглашения. Размер
				компенсации устанавливается по усмотрению АЛОЛЬ в Тарифах.</p>

			<p>К отношениям Сторон, связанным с возмещением затрат, применяются положения действующего налогового
				законодательства РФ.</p>

			<p>Агент единолично и в полном объеме несет ответственность: за соблюдение требований действующего
				законодательства о порядке осуществления предпринимательской деятельности, за соблюдение законодательства о
				рекламе и требований законодательства о запрете SPAM-сообщений, а также за соблюдение требований
				законодательства о защите персональных данных лиц, которых Агент выбрал в качестве получателей информации о
				Технологии АЛОЛЬ </p>

			<p>Остальные вопросы сотрудничества Сторон, не урегулированные настоящим Соглашением, регулируются <a data-bypass class="link" href="/rules" target="_blank">Правилами
				АЛОЛЬ </a> и действующим законодательством РФ.</p>
		</div>
	</div>
	<div class="bottom-buttons">
		<button class="grey" name="cancel">Не принимаю</button>
		<button class="blue theme filled" name="ok">Принимаю</button>
	</div>
	<footer class="footer">
		<div class="left-side">
			<div class="service">
				<div class="heading">О СЕРВИСЕ</div>
				<ul>
					<li><a data-bypass class="link" href="/landing/cashback">CashBack</a></li>
					<li><a data-bypass class="link" href="/landing/places">Places</a></li>
					<li><a data-bypass class="link" href="/landing/office">Office</a></li>
					<li><a data-bypass class="link" href="/rules" target="_blank">Правила</a></li>
				</ul>
			</div>
			<div class="contacts">
				<div class="heading">КОНТАКТЫ</div>
				<ul>
					<li><a data-bypass href="mailto:welcome@alol.io">welcome@alol.io</a></li>
					<li><a data-bypass href="tel:+78123850045">+7 (812) 385 00 45</a></li>
				</ul>
			</div>
		</div>

		<div class="more">
			<div class="logos">
				<div class="pci">
					<%= image_tag "landing/pci.png" %>
				</div>
				<div class="social">
					<a data-bypass href="https://www.facebook.com/icontoapp?ref=br_rs--" target="_blank">
						<div class="icon fb"></div>
					</a>
					<a data-bypass href="https://vk.com/icontoapp" target="_blank">
						<div class="icon vk"></div>
					</a>
					<a data-bypass href="https://twitter.com/iConto_Rus" target="_blank">
						<div class="icon tw"></div>
					</a>
				</div>
			</div>
			<div class="copyright">2015 © АЛОЛЬ . All rights reserved</div>
		</div>
	</footer>
</div>
<div class="loader-bubbles blue" data-bind="toggle: state_isLoading"></div>
