<div class="about-logo text-center">
	<%= image_tag 'alol-logo-vertical.png' %>
	<div class="about-version" data-bind="classes:{'hide':!window.ICONTO_VERSION}">
		Версия: <span>{{= window.ICONTO_VERSION }}</span>
	</div>
</div>
<div class="about-content">
	<h5 class="about-header">Приложение АЛОЛЬ расширяет возможности Мастер-карты:</h5>
	<div class="about-text">
		<ul class="about-list">
			<li>Наглядная информация о подключенных программах лояльности, доступных скидках и накопленных бонусах.</li>
			<li>Встроенный мессенджер с консультантами: всегда под рукой, без голосового меню, бесплатно, с сохранением истории общения.</li>
			<li>Электронная книга отзывов. Делитесь эмоциями и идеями, следите за обработкой обращения.</li>
			<li>Актуальные новости и распродажи: Вы больше не пропустите выгодные предложения.</li>
			<li>Каталоги любимых компаний для эффективного планирования покупок. А скоро и покупки онлайн!</li>
		</ul>
	</div>
	<h5 class="about-header">Что такое Мастер-карта?</h5>
	<div class="about-text">
		Мастер-карта включает в себя множество карт лояльности, экономя место в вашем кошельке. Отправляйтесь на шопинг
		налегке и в любой момент, Ваша скидка всегда с Вами.
	</div>
</div>