<h1>Соглашение о сотрудничестве</h1>

<p>Настоящее соглашение в соответствии с положениями п. 2 ст. 437 ГК РФ и п. 1 ст. 428 ГК РФ является публичной офертой
  ООО «АЛОЛЬ » (далее – АЛОЛЬ ) и адресовано всем заинтересованным юридическим или физическим лицам, которые акцептуют
  условия Соглашения (далее Агент). </p>

<p>Термины и определения, используемые в Соглашении, имеют значение, приведенное в Правилах АЛОЛЬ .</p>

<p>На отношения Сторон, заключивших Соглашение, в полной мере распространяются положения Правил АЛОЛЬ и положения
  действующего законодательства РФ.</p>

<p>Соглашение заключается исключительно в целях развития и совершенствования Технологии АЛОЛЬ, улучшения качества услуг
  АЛОЛЬ, расширения числа Участников, Партнеров и Банков, использующих технологию АЛОЛЬ, и не преследует прямых
  коммерческих целей, а Стороны, заключая соглашение, не рассчитывают извлекать прибыль из его исполнения.</p>

<p>Заключение Соглашения (акцепт настоящей оферты) совершается путем совершения конклюдентных действий -выбора и
  активации Агентом соответствующего интерактивного элемента (проставления отметки, нажатия кнопки и аналогичных
  действий, подтверждающих согласие с настоящим Соглашением) в Личном кабинете.</p>

<p>Агент, совершив конклюдентные действия, получает возможность, используя Технологию АЛОЛЬ, сообщить о Технологии
  АЛОЛЬ и ее пользователях (Участниках, Партнерах) известным ему юридическим или физическим лицам. Агент самостоятельно
  выбирает получателя информации, вводит адрес электронной почты или телефон адресата и лично несет ответственность за
  правомерность использования этих данных.</p>

<p>АЛОЛЬ может компенсировать Агенту затраты, которые Агент понес в связи с исполнением Соглашения. Размер компенсации
  устанавливается по усмотрению АЛОЛЬ в Тарифах.</p>

<p>К отношениям Сторон, связанным с возмещением затрат, применяются положения действующего налогового законодательства
  РФ.</p>

<p>Агент единолично и в полном объеме несет ответственность: за соблюдение требований действующего законодательства о
  порядке осуществления предпринимательской деятельности, за соблюдение законодательства о рекламе и требований
  законодательства о запрете SPAM-сообщений, а также за соблюдение требований законодательства о защите персональных
  данных лиц, которых Агент выбрал в качестве получателей информации о Технологии АЛОЛЬ</p>

<p>Остальные вопросы сотрудничества Сторон, не урегулированные настоящим Соглашением, регулируются Правилами АЛОЛЬ и
  действующим законодательством РФ.</p>