<h4 class="text-center">Правила АЛОЛЬ</h4>
<div class="terms-layout">
	<!--<ul class="unstyled">-->
	<!--<li>1. Термины и определения</li>-->

	<!--<li>2. Общие положения.</li>-->

	<!--<li>3. Взаимоотношения с Участниками.-->

	<!--<ul>-->
	<!--<li>3.1. Установление взаимоотношений.</li>-->

	<!--<li>3.2. Присоединение к Технологии АЛОЛЬ, подключение Карты </li>-->

	<!--<li>или иного Электронного средства платежа.</li>-->

	<!--<li>3.3. Использование Технологии АЛОЛЬ Участником.</li>-->

	<!--<li>3.4. Согласие на обработку и хранение персональных данных. </li>-->

	<!--<li>3.5. Согласие на получение информации в Личный кабинет.</li>-->

	<!--<li>3.6. Прекращение взаимоотношений.</li>-->
	<!--</ul>-->

	<!--</li>-->

	<!--<li>4. Взаимоотношения с Партнерами.</li>-->

	<!--<li>5. КэшБэк.-->

	<!--<ul>-->
	<!--<li>5.1. Общие условия начисления и получения КэшБэка Участником.</li>-->

	<!--<li>5.2. Правила расчета КэшБэка.</li>-->

	<!--<li>5.3. Правила выплаты КэшБэка.</li>-->

	<!--<li>5.4. Порядок разрешения спорных ситуаций.</li>-->

	<!--<li>5.5. Взаимоотношения АЛОЛЬ, Расчетного банка и Банков.</li>-->
	<!--</ul>-->

	<!--</li>-->

	<!--<li>6. Ответственность.</li>-->

	<!--<li>7. Споры.</li>-->

	<!--<li>8. Прочие условия.</li>-->

	<!--<li>9. Безопасность.</li>-->
	<!--</ul>-->

	<h2>1. Термины и определения</h2>

	<p>В настоящих Правилах применяются следующие термины:</p>

	<p><b>АЛОЛЬ</b></p>

	<p>Общество с ограниченной ответственностью «АЛОЛЬ », Россия, 191024, г. Санкт-Петербург, Невский проспект, дом 147, ОГРН 1127847386358, ИНН 7840473816,расчетный счет: 40702810090330000311 в ОАО «Банк «Санкт-Петербург», корреспондентский счет: 30101810900000000790, БИК: 044030790.</p>

	<p><b>АЛОЛЬ</b>:</p>

	<p>• обладает всеми правами на Технологию <b>АЛОЛЬ</b>, </p>

	<p>• обеспечивает Партнерам технологическую возможность реализации Программы лояльности и оказывает связанные с этим информационно-технологические услуги по обеспечению расчетов между Партнером и Участником,</p>

	<p>• с привлечением банков и небанковских кредитных организаций обеспечивает Партнерам - возможность использования Технологии <b>АЛОЛЬ</b> и перечисления КэшБэка Участникам, Участникам - возможность использования Технологии <b>АЛОЛЬ</b> и получения КэшБэка при оплате Товаров.</p>

	<p><b>Банковский счет</b></p>

	<p>Банковский счет Участника, к которому эмитирована Карта, с которого происходит списание денежных средств для оплаты Товара, и на который зачисляется КэшБэк.</p>

	<p><b>Банк-эквайер</b></p>

	<p>Кредитная организация, обеспечивающая Партнеру возможность осуществления торговых операций и оплаты Товара с использованием Карты или иного Электронного средства платежа (эквайринг), которую Партнер уполномочивает удержать суммы КэшБэков из выручки по торговым операциям в порядке и на условиях, определенных Правилами. Банком-эквайером может быть также Банк-эмитент или Расчетный банк в отношении Партнеров и Участников, с которыми у них заключены соответствующие договоры и соглашения. Банк-эквайер может одновременно являться и Банком-эмитентом, и Расчетным банком.</p>

	<p>Если Банк-эквайер намеревается присоединиться к Технологии <b>АЛОЛЬ</b>, он должен выразить четкое и недвусмысленное согласие с Правилами и принять их путем письменного акцепта или заключения договора с <b>АЛОЛЬ</b>.</p>

	<p>Для выполнения своих функций, соответствующих Правилам, Банк-эквайер заключает Договор с Партнером, предметом которого является взаимодействие с Партнером по обеспечению оплаты Товара Картами (эквайринговый договор) и взаимодействие всех Сторон в рамках Правил <b>АЛОЛЬ</b>.</p>

	<p><b>Банк-эмитент</b></p>

	<p>Кредитная организация, предоставляющая Участнику Электронное средство платежа: персонифицированную или неперсонифицированную Карту или электронное средство платежа типа «кошелек». Банком-эмитентом может быть также Банк-эквайер или Расчетный банк в отношении Партнеров и Участников, с которыми у них заключены соответствующие договоры и соглашения. Банк-эмитент может быть одновременно и Банком-эквайером, и Расчетным банком.</p>

	<p>Если Банк-эмитент намеревается присоединиться к Технологии <b>АЛОЛЬ</b>, он должен выразить четкое и недвусмысленное согласие с Правилами и принять их и принять их путем письменного акцепта или заключения договора с <b>АЛОЛЬ</b>.</p>

	<p>Для выполнения своих функций, соответствующих Правилам, Банк-эмитент заключает договор с Участником, предметом которого является выпуск и обслуживание карты (или создание и обслуживание иного Электронного средства платежа) и взаимодействие всех Сторон в рамках Правил <b>АЛОЛЬ.</b></p>

	<p><b>Банки</b></p>

	<p>Банк-эквайер, Банк-эмитент и Расчетный банк, когда (если) упоминаются вместе; также используется для обозначения Банка-эквайера и Банка-эмитента, упоминаемых вместе.</p>

	<p><b>Договор с Партнером</b></p>

	<p>Договор, регламентирующий взаимоотношения <b>АЛОЛЬ</b> и Партнера.</p>

	<p><b>Карта</b></p>

	<p>Банковская карта, эмитированная Банком-эмитентом по правилам международных платежных систем.</p>

	<p>Карта используется для регистрации Участника на сайте Партнера, привязки к Технологии <b>АЛОЛЬ</b>, а также для формирования УИН, зачисления и выплаты КэшБэков.</p>

	<p><b>КэшБэк (CashBack)</b></p>

	<p>Скидка, предоставляемая Партнером Участнику в виде возврата части стоимости Товара, которую Партнер обязуется законным способом перечислить Участнику в порядке, предусмотренном Программой лояльности и Правилами <b>АЛОЛЬ</b>. Право на начисление КэшБэка возникает у Участника в рамках Программы лояльности Партнера. <b><i>Размер, виды и сроки выплаты КэшБэка устанавливаются Партнером самостоятельно. </i></b></p>

	<p><b>Личный кабинет Участника</b></p>

	<p>Обособленный раздел Сайта, где размещена информация, предоставленная Участником, собирается и приводится статистическая информация о Транзакциях и КэшБэках, предоставляются средства управления ими, включая программные средства формирования запросов на выплаты КэшБэков. Личный кабинет является однопользовательским, доступ к нему предоставляется при условии принятия настоящих Правил и прохождения процедуры формирования УИН. В Личном кабинете Участник ведет аналитический учет начисленных КэшБэков, выполняет иные действия по использованию Технологии <b>АЛОЛЬ</b>.</p>

	<p><b>Личный кабинет Партнера</b></p>

	<p>Обособленный раздел Сайта, где размещена информация о Партнере, его Программе лояльности, а также имеются программные средства для создания и редактирования условий Программы лояльности, учета КэшБэков, формирования, получения и отправки расчетных документов, актов и счетов, для отслеживания статистики и получения иной информации Партнером, а также настройки и использования возможностей <b>АЛОЛЬ</b>, в том числе, в целях организации получения платежей в пользу Партнера.</p>

	<p><b>Отчетный период</b></p>

	<p>Период с первого включительно по последнее число каждого календарного месяца. Первым Отчетным периодом является неполный месяц с даты заключения Договора по последнее число календарного месяца, в котором договор был заключен. Последним расчетным периодом является неполный календарный месяц, начиная с первого числа месяца, в котором договор расторгнут, и заканчивая датой расторжения договора включительно. </p>

	<p>В договорах между Сторонами данное определение может не применяться или применяться в другом виде.</p>

	<p><b>Партнер</b></p>

	<p>Юридическое лицо или индивидуальный предприниматель (включая их структурные подразделения: филиалы, торговые точки, пункты продаж, и тому подобные), если они реализуют Участникам Товар в рамках Программы лояльности, и</p>

	<p>• заключили с <b>АЛОЛЬ</b> соответствующий Договор и выполнили все необходимые процедуры информационно-технической интеграции с <b>АЛОЛЬ,</b> или </p>

	<p>• заключили с Расчетным банком соответствующий договор о взаимодействии и расчетах при осуществлении Программы лояльности.</p>

	<p><b>Правила АЛОЛЬ (Правила)</b></p>

	<p>Настоящий документ, актуальная и действительная версия которого всегда размещена по адресу: <a data-bypass href="https://iconto.net/rules">https://iconto.net/rules</a>. Правила <b>АЛОЛЬ </b>являются неотъемлемой частью Договора с Партнером, договоров и соглашений между <b>АЛОЛЬ </b>и Банками. В отношениях между Участником и <b>АЛОЛЬ </b>Правила являются офертой Участнику, которую он принимает, совершая любое действие из предусмотренных Правилами <b>АЛОЛЬ</b>. Правила обязательны для всех Сторон.</p>

	<p><b>Программа лояльности</b></p>

	<p>Маркетинговое мероприятие Партнера, направленное на поощрение клиентов Партнера, стимулирование спроса, повышение объема продаж, привлечение клиентов.</p>

	<p>Программа лояльности проводится по инициативе Партнера. Правила, по которым проводится Программа лояльности, определяются Партнером самостоятельно. Принятие Правил лояльности Участником (если это требуется Партнером), а также совершение Транзакции в рамках Программы лояльности является выражением его волеизъявления и согласия на изменение Партнером условий Договора с Участником, в том числе, на изменение условий о цене Товара и предоставление скидки в виде возврата части стоимости Товара.</p>

	<p><b>Расчетный банк</b></p>

	<p>Банк или небанковская кредитная организация, осуществляющая на основании соответствующих договоров с Партнерами, Участниками, <b>АЛОЛЬ</b>, Банком-эмитентом или Банком-эквайером операции по переводу Участникам КэшБэков в виде безналичных или электронных денежных средств. </p>

	<p>Для выполнения своих функций, соответствующих Правилам, Расчетный банк заключает договор с <b>АЛОЛЬ</b>, предметом которого являются: </p>

	<p>а) информационно-техническое взаимодействие с целью обеспечить расчеты между Партнером и Участником, включая информационный обмен </p>

	<p>б) обязательства <b>АЛОЛЬ </b>и Банка осуществлять зачисление и выплату Участнику КэшБэка на указанное Участником электронное средство платежа.</p>

	<p>При необходимости и для выполнения функций Банка-эмитента или Банка-эквайера Расчетный банк может заключать с Партнером или Участником соответствующие договоры.</p>

	<p>Расчетный банк является оператором по переводу денежных средств и/или оператором электронных денежных средств.</p>

	<p>Расчетный банк должен выразить четкое и недвусмысленное согласие с Правилами и принять их.</p>

	<p>Расчетный банк может одновременно выполнять функции Банка-эквайера и/или Банка-эмитента. В этих целях Расчетный банк может заключать: </p>

	<p>• договор с Партнером, предметом которого является взаимодействие с Партнером по обеспечению оплаты Товара Картами (эквайринговый договор) и взаимодействие Расчетного банка и Партнера в рамках Правил <b>АЛОЛЬ</b>, а также </p>

	<p>• договор с Участником, предметом которого является выпуск и обслуживание карты (или создание и обслуживание иного Электронного средства платежа) и взаимодействие Расчетного банка и Участника в рамках Правил <b>АЛОЛЬ.</b></p>

	<p><b>Сайт</b></p>

	<p>Сайт <b>АЛОЛЬ</b> в сети Интернет по адресу <a data-bypass href="https://iconto.net">https://iconto.net</a>, на котором:</p>

	<p>• размещена информация о Технологии <b>АЛОЛЬ</b>, включая текст <a data-bypass href="https://iconto.net/rules">Правил</a> в актуальной и действующей редакции, а также иная информация, предназначенная для Сторон,</p>

	<p>• предоставляется доступ к Технологии <b>АЛОЛЬ</b>, включая доступ к <b>АЛОЛЬ </b>и<b> АЛОЛЬ </b>и<b> АЛОЛЬ</b></p>

	<p><b>Сделка</b></p>

	<p><b>(Договор с Участником)</b></p>

	<p>Гражданско-правовая сделка между Партнером и Участником (розничная купля-продажа товаров, потребление работ или услуг), совершенная путем выполнения конклюдентных действий, порождающих права и обязанности Партнера и Участника.</p>

	<p><b>Стороны</b></p>

	<p>Участник, Банк-эквайер, Банк-эмитент, Расчетный банк, Партнер и <b>АЛОЛЬ </b>вместе именуются «Стороны» и по отдельности «Сторона». </p>

	<p><b>АЛОЛЬ </b>по своему усмотрению предоставляет Сторонам информацию о какой-либо другой Стороне, обязуясь при этом соблюдать применимые требования действующего законодательства о конфиденциальности, защите персональных данных и другой информации.</p>

	<p><b>Технология АЛОЛЬ</b></p>

	<p>Программно-аппаратный комплекс <b>АЛОЛЬ</b>, а также организационные, юридические, финансовые и технические способы, средства и меры (действия и бездействие), применяемые и осуществляемые <b>АЛОЛЬ</b> (всеми работниками <b>АЛОЛЬ </b>в том числе) для его эксплуатации. </p>

	<p>Технология <b>АЛОЛЬ</b> принадлежит <b>АЛОЛЬ </b>(включая исключительные права на Технологию <b>АЛОЛЬ</b> или любую ее составную часть как на объект интеллектуальной собственности).</p>

	<p>Предназначение Технологии <b>АЛОЛЬ</b> – обеспечить Сторонам:</p>

	<p>• информационно-технологическую возможность осуществления расчетов, включая выплату КэшБэков,</p>

	<p>• возможность Партнерам осуществлять Программы лояльности, а Участникам – участвовать в реализации таких Программ, </p>

	<p>• получение Сторонами всей и полной информации, необходимой для осуществления прав и обязанностей по отношению друг к другу, включая поддержание информационно-технического взаимодействия Сторон в пределах, указанных в Правилах.</p>

	<p>Технология <b>АЛОЛЬ</b> используется в соответствии с действующим законодательством РФ и своим предназначением. Конкретные виды, способы, области использования и применения Технологии <b>АЛОЛЬ</b> устанавливаются Правилами, договорами, а также иными документами, устанавливающими права и обязанности Сторон.</p>

	<p><b>АЛОЛЬ</b></p>

	<p><b>Информационно-технологическая инфраструктура</b> <b>АЛОЛЬ </b>– составная часть Технологии <b>АЛОЛЬ</b>. </p>

	<p><b>АЛОЛЬ </b>– информационно-технологическое средство обеспечения расчетов между Партнером, Участником, формирования отчетных и расчетных документов для Сторон, а также предоставления Сторонами информации о расчетах. <b>АЛОЛЬ</b> позволяет Участнику (путем регистрации и принятия оферты кредитной организации – оператора электронных денежных средств) создать электронное средство платежа (ЭСП), предназначенное для осуществления Участником переводов без открытия счета, в том числе расчетов электронными денежными средствами. </p>

	<p><b>АЛОЛЬ</b> размещен в сети Интернет на сайте <b>wallet.iconto.net </b>и не является электронным средством платежа.</p>

	<p><b>АЛОЛЬ и создаваемое с его помощью электронное средство платежа используются по умолчанию как средство обеспечения выплаты КэшБэка Участнику в порядке, предусмотренном Правилами, и до тех пор, пока Участником не определен иной способ получения КэшБэков (при наличии такой технологической возможности).</b></p>

	<p><b>АЛОЛЬ</b></p>

	<p><b>Информационно-технологическая инфраструктура</b> <b>АЛОЛЬ </b>– составная часть Технологии <b>АЛОЛЬ</b>. </p>

	<p><b>АЛОЛЬ </b>– информационно-технологическое средство обеспечения расчетов между Партнером, Участником, формирования отчетных и расчетных документов для Сторон, а также предоставления Сторонами информации о расчетах. <b>АЛОЛЬ</b> позволяет Партнеру: </p>

	<p>• путем регистрации и принятия оферты кредитной организации – оператора электронных денежных средств обеспечить прием платежей и обработку Транзакций с использованием Электронных средств платежа, когда плательщиком выступает Участник,</p>

	<p>• обеспечить управление получаемыми и отправляемыми уведомлениями и информацией, включая возможность прямого информационного обмена с Участником,</p>

	<p>• организовывать и проводить рекламу и маркетинговые мероприятия. </p>

	<p>Доступ к<b> АЛОЛЬ </b>предоставляется в Личном кабинете Партнера.</p>

	<p><b>АЛОЛЬ</b></p>

	<p><b>Информационно-технологическая инфраструктура</b> <b>АЛОЛЬ </b>– составная часть Технологии <b>АЛОЛЬ</b>. </p>

	<p><b>АЛОЛЬ </b>– информационно-технологическое средство обеспечения коммуникаций между Партнерами и Участниками, позволяющее формировать, отправлять, получать и контролировать отправку и получение электронных сообщений с использованием Личного кабинета и Сайта в рамках использования Технологии <b>АЛОЛЬ</b>.</p>

	<p><b>АЛОЛЬ</b> используется для коммуникаций, осуществляемых с использованием Технологии АЛОЛЬ и может применяться для формирования, отправки и получения коротких текстовых сообщений (SMS), отправляемых с использованием передвижной (мобильной) связи, только при наличии технической возможности, предоставленной оператором связи, а также четкого, недвусмысленного и идентифицированного согласия Участника на использование <b>АЛОЛЬ</b> для получения таких сообщений.</p>

	<p>Доступ к<b> АЛОЛЬ </b>и возможность его использования предоставляются в Личном кабинете Партнера или Участника на Сайте, в составе функций мобильного приложения либо отдельно на Сайте.</p>

	<p><b>Товар</b></p>

	<p>Товары, работы, услуги Партнера, а также любые иные материальные и нематериальные блага, которые (или права на которые) приобретаются и оплачиваются Участником в рамках Программы лояльности.</p>

	<p><b>Транзакция</b></p>

	<p>Операция по оплате Товара, совершенная Участником в рамках Программы лояльности. Не является Транзакцией и не служит основанием для предоставления КэшБэка операция по оплате Товара вне рамок Программы лояльности или совершенная с нарушением правил Программы лояльности.</p>

	<p>Транзакция совершается в рамках исполнения договора Партнера с Участником и является основанием для предоставления КэшБэка.</p>

	<p>Транзакция может быть осуществлена как с помощью Карты или иного Электронного средства платежа, так и наличными денежными средствами.</p>

	<p>Для признания операций по оплате Товара Транзакциями может потребоваться создание Уникального Идентификационного Номера Участника и привязка к нему Карты или иного Электронного средства платежа, с использованием которых Участнику будут выплачиваться КэшБэки.</p>

	<p><b>Участник</b></p>

	<p>Дееспособное физическое лицо, которое:</p>

	<p>• является держателем активированной и действительной Карты или пользователем иного действительного Электронного средства платежа,</p>

	<p>• присоединилось к Технологии <b>АЛОЛЬ</b> способом, указанным в Правилах <b>АЛОЛЬ</b>,</p>

	<p>• совершает Транзакции в рамках Программы лояльности Партнера.</p>

	<p>В целях получения КэшБэков Участник может использовать как Карту, так и иное Электронное средство платежа, если допустимо применимым законодательством.</p>

	<p><b>Уникальный Идентификационный Номер </b></p>

	<p>Уникальный идентификационный номер – <b>УИН </b>– номер, необходимый для идентификации Участника в Технологии <b>АЛОЛЬ</b> и сопоставления данных о Транзакциях исключительно в целях последующего предоставления КэшБэка и оказания Участнику услуг предусмотренных Правилами.</p>

	<p><b>УИН </b>формируется:</p>

	<p>• путем регистрации Участника на сайте <b>Партнера</b>, или</p>

	<p>• путем считывания данных Карты Участника на кассовом аппарате или POS-терминале <b>Партнера</b>, или</p>

	<p>• при выдаче Участнику Карты или средств доступа к иному Электронному средству платежа, подключаемому к Технологии <b>АЛОЛЬ</b>, или </p>

	<p>• при создании Участником через <b>АЛОЛЬ</b> электронного средства платежа, подключенного к Технологии <b>АЛОЛЬ</b>.</p>

	<p>При присоединении Участника к Технологии <b>АЛОЛЬ </b>Участнику создается Личный кабинет.</p>

	<p><b>Электронное средство платежа</b></p>

	<p>Средство или способ, позволяющее Участнику распоряжаться своими денежными средствами в рамках применяемых форм безналичных расчетов или расчетов электронными денежными средствами с использованием информационно-коммуникационных технологий, электронных носителей информации и других технических устройств, например: банковская карта (включая предоплаченная банковские карты); электронный кошелек и подобные.</p>

	<p>При присоединении Участника к Технологии <b>АЛОЛЬ</b>, Электронное средство платежа используется для формирования Уникального Идентификационного Номера Участника.</p>

	<p>Электронное средство платежа должно быть зарегистрировано Участником при присоединении к Технологии <b>АЛОЛЬ</b> (привязка Электронного средства платежа).</p>

	<h2>2. Общие положения.</h2>

	<p><b>2.1. </b>Все термины и определения, используемые в Правилах, трактуются и применяются в соответствии с действующим законодательством РФ.</p>

	<p><b>2.2. </b>Отношения Партнера и Участника по приобретению и оплате Товара регулируются действующим законодательством РФ, в том числе – законодательством о защите прав потребителей.</p>

	<p><b>2.3. </b>Отношения Банков с любой другой Стороной и между собой по перечислению сумм КэшБэков определяются действующим законодательством РФ о банках и банковской деятельности.</p>

	<p><b>2.4. </b>Правила определяют условия и порядок использования Технологии <b>АЛОЛЬ </b>Сторонами в целях участия в Программе лояльности, права и обязанности Сторон, порядок информационно-технологического взаимодействия Сторон.</p>

	<p><b>2.5. </b>Правила размещаются на Сайте в открытом публичном доступе. Размещенные на Сайте Правила являются наиболее актуальными. При разночтениях и расхождениях в тексте Правил, размещенном на Сайте, и тексте Правил, размещенном в печатных материалах или на других сайтах, приоритет имеют только Правила, размещенные на Сайте <b>АЛОЛЬ</b>.</p>

	<p>o Предоставление Участнику КэшБэка основано на праве Партнера и Участника изменять условия заключенной ими Сделки и исполнять их, а также на праве Партнера уполномочить на совершение этих действий <b>АЛОЛЬ </b>и поручить Банкам осуществить необходимые расчеты.</p>

	<h2>3. Взаимоотношения с Участниками.</h2>

	<p><b>3.1. Установление взаимоотношений.</b></p>

	<p><b>3.1.1.Физическое лицо становится Участником, если согласилось с Правилами и приняло их.</b></p>

	<p><b>Право Участника на получение КэшБэка возникает при условии:</b></p>

	<p>• принятия Правил <b>АЛОЛЬ</b> и присоединения к Технологии <b>АЛОЛЬ путем подключения Карты или иного Электронного средства платежа</b>,</p>

	<p>• формирования УИН,</p>

	<p>• совершения Транзакции в рамках Программы лояльности и в соответствии с ее правилами.</p>

	<p><b>3.1.2. </b>Последовательность действий, указанных в пункте 3.1.1 Правил, может быть любой.</p>

	<p><b>3.1.3.</b> Совершение Сделки и Транзакции происходит в обычном порядке, как установлено законодательством.</p>

	<p><b>3.1.4. </b>При необходимости принятия правил Программы лояльности (если такая необходимость установлена Партнером в правилах Программы лояльности), выражение согласия с ними и приобретение статуса клиента Партнера или участника Программы лояльности (в зависимости от того, что установлено Партнером), происходит в порядке и на условиях, установленных Программой лояльности, в том числе – путем совершения действий на сайте Партнера или на ином сайте или странице сайта по адресу в сети Интернет, указанному Партнером в Программе лояльности.</p>

	<p><b>3.1.5. </b>Присоединяясь к Технологии <b>АЛОЛЬ</b>, принимая Правила и соглашаясь с ними, Участник принимает оферту на заключение между ним и <b>АЛОЛЬ </b>договора оказания возмездных информационно-технологических услуг, включая информационно-технологические услуги по обеспечению расчетов и коммуникаций. </p>

	<p><b>3.1.6. </b>Принятие Правил <b>АЛОЛЬ </b>происходит путем совершения действий по принятию Правил (проставление отметки/чекбокса, нажатие кнопки «Согласен», «Принимаю» или аналогичной в соответствующем разделе на Сайте <b>АЛОЛЬ</b>). Дата принятия Правил определяется автоматически программными средствами Технологии <b>АЛОЛЬ </b>при выполнении указанных действий<b>.</b></p>

	<p><b>3.1.7.</b> Размер вознаграждения <b>АЛОЛЬ</b> за услуги, оказываемые Участнику, срок и порядок его уплаты устанавливается в <a data-bypass href="http://iconto.net/tariffs">Тарифах</a>, публикуемых на Сайте, и может быть изменен <b>АЛОЛЬ </b>по своему усмотрению в любой момент в порядке, указанном в пункте 8.1 Правил. При изменении размера вознаграждения в действующих Тарифах возврат части суммы вознаграждения не осуществляется, требование по доплате вознаграждения по отношению к уже присоединившимся Участникам не применяется.</p>

	<p><b>3.1.8.</b> Оплата услуг <b>АЛОЛЬ </b>происходит путем удержания денежных средств в размере, установленном Тарифами, до зачисления на счет Карты или иного Электронного средства платежа, либо списания денежных средств с Карты или иного Электронного средства платежа, использованных для формирования УИН или указанных Участником для получения КэшБэка, с чем Участник безусловно и безоговорочно соглашается, принимая Правила <b>АЛОЛЬ </b>и предоставляя <b>АЛОЛЬ </b>заранее данный акцепт на удержание/списание указанной суммы. </p>

	<p><b>3.1.9. </b>Получая КэшБэки и выполняя иные действия, как того требуют Правила, Программа лояльности, условия договоров со Сторонами и другие обязательные применимые документы, Участник подтверждает, что он ознакомился с Правилами, безусловно согласен с ними и обязуется их соблюдать. Присоединяясь к Технологии <b>АЛОЛЬ</b>, Участник дает согласие на рассылку (отправку Участнику) сообщений на номер сотового телефона и адрес электронной почты, которые Участник самостоятельно и по своей инициативе предоставляет при присоединении к Технологии <b>АЛОЛЬ</b>. Параметры рассылки информационных и рекламных сообщений могут быть изменены в Личном кабинете.</p>

	<p><b>3.1.10. </b>При присоединении к Технологии <b>АЛОЛЬ</b> Участник обязуется указать достоверную информацию о себе и представить иные сведения, о которых будет запрошено на Сайте при регистрации.</p>

	<p><b>3.2. Присоединение к Технологии АЛОЛЬ, подключение Карты или иного Электронного средства платежа.</b></p>

	<p><b>3.2.1. </b>Карта или иное Электронное средство платежа и их данные являются средством и способом сопоставления информации о Транзакциях, имеющейся у Сторон. Их использование для формирования УИН является непреложным условием взаимодействия Сторон. </p>

	<p><b>3.2.2. </b>Подключение Карты или иного Электронного средства платежа к Технологии<b> АЛОЛЬ </b>может происходить как в отношении уже выпущенной Карты или созданного Электронного средства платежа), так и в отношении вновь выпускаемой Карты или вновь созданного Электронного средства платежа.</p>

	<p><b>3.2.3. </b>При открытии счета и выпуске Карты к нему, при создании Электронного средства платежа и получении средств доступа к нему, присоединение к Технологии<b> АЛОЛЬ </b>может происходить путем совершения действий, указанных в пункте 3.1.6, на сайтах Партнеров или Банков, a также путем подписания документов (заключения договоров) с Партнерами или Банками. Партнеры и Банки в этом случае обеспечивают получение явно выраженного и недвусмысленного согласия Участника с Правилами <b>АЛОЛЬ. </b>Если такое согласие получено и подтверждено, Участник считается принявшим оферту<b> АЛОЛЬ</b>, содержащуюся в Правилах.</p>

	<p><b>3.2.4.</b> При подключении Карты или иного Электронного средства Платежа, формировании УИН, а также при совершении Участником действий, направленных на получение КэшБэка, от Участника может потребоваться осуществление верификационного платежа с использованием Электронного средства платежа, с помощью которого он намерен сформировать УИН или получить КэшБэк. Верификация производится осуществлением транзакции авторизации по платежным данным на случайную сумму в диапазоне, устанавливаемом Тарифами.</p>

	<p><b>3.2.5. </b>При принятии Участником Правил, Участнику создается Личный кабинет для получения сведений о покупках (время и дата, сумма и другие параметры), ведения учета покупок, информационного взаимодействия с Партнером, получения информации о Программах лояльности, других программах и акциях поощрения, информации и уведомлений о выплаченных и начисленных КэшБэках, подключения или отключения Карт и иных электронных средств платежа, добавления или изменения информации о себе и своих данных для уведомлений, настройки КэшБэков и формирования персональных специальных предложений, бюджетирования финансов.</p>

	<p>Вся информация, находящаяся в Личном кабинете Участника, включая УИН, хранится, обрабатывается и защищается в соответствии с действующим законодательством (раздел 9 Правил).</p>

	<p><b>3.2.6. </b>Информация о Транзакциях поступает Участнику от Банка непосредственно в Личный кабинет Участника. В Личном кабинете Участник может выбрать способ получения информации о транзакциях: SMS-уведомления или электронная почта. В зависимости от выбранного способа Участнику будет предоставлен индивидуальный адрес электронной почты либо индивидуальный федеральный номер телефона для приема SMS.</p>

	<p><b>3.3. Использование Технологии АЛОЛЬ Участником.</b></p>

	<p><b>3.3.1. </b>Участник в любое время может получить актуальную информацию о Технологии <b>АЛОЛЬ </b>и условиях предоставления услуг на Сайте или через соответствующее мобильное приложение. </p>

	<p><b>3.3.2. </b>Участник получает информацию о сумме КэшБэков, количестве и сумме Транзакций в Личном кабинете.</p>

	<p><b>3.3.3. </b>Участник обязуется не разглашать и не сообщать кому-либо информацию о своих средствах доступа (пароль, логин, иная контрольная информация) в Личный кабинет на Сайте, и подтверждает, что единолично, безусловно и безоговорочно отвечает перед <b>АЛОЛЬ </b>и Сторонами по всем возможным претензиям, обязуется возместить в полном объеме все возможные убытки, вызванные таким нарушением.</p>

	<p><b>3.3.4.</b> Принимая Правила и соглашаясь с ними, принимая оферту <b>АЛОЛЬ</b>, Участник получает неисключительное, неограниченное по территории использования, неограниченное по времени право использования программного обеспечения Технологии <b>АЛОЛЬ</b> в личных некоммерческих целях (без права на распространение, декомпиляцию, модификацию, передачу третьим лицам). Такое программное обеспечение <b>АЛОЛЬ</b> предоставляется на условиях «как есть». Участник полностью и единолично несет любую ответственность за любые нарушения прав и законных интересов любых третьих лиц, включая убытки (в виде реального ущерба и упущенной выгоды), если таковые произошли по причине нарушения Участником Правил или неправомерного использования Технологии <b>АЛОЛЬ</b> и включенного в него программного обеспечения.</p>

	<p><b>3.3.5.</b> Участник считается принявшим оферту <b>АЛОЛЬ</b>, если принял условия Правил и согласился с ними. Но в случае, если Участник не присоединил к Технологии <b>АЛОЛЬ</b> Карту или иное Электронное средство платежа, это влечет невозможность выплаты КэшБэка, и у Участника не возникает права требовать такой выплаты КэшБэка, а возможности Технологии <b>АЛОЛЬ</b> по выплате КэшБэка становятся ему недоступными.</p>

    <p><b>3.3.6.</b> При обнаружении Участником на веб-странице или приложениях <b>АЛОЛЬ</b> оскорбительной, сексуальной или иной информации ненадлежащего содержания, Участник может сообщить об этом <b>АЛОЛЬ</b>, а <b>АЛОЛЬ</b> обязуется устранить такой контент в течении 24 часов с момента получения обращения.</p>

	<p><b>3.4. Согласие на обработку и хранение персональных данных. Согласие на получение информации в Личный кабинет.</b></p>

	<p><b>3.4.1. Присоединяясь к Технологии АЛОЛЬ, </b>Участник дает согласие на обработку информации о себе, предоставленной им как при присоединении, так и при дальнейшем использовании Технологии <b>АЛОЛЬ</b> (согласие на обработку и хранение персональных данных, далее - <b>Согласие</b>). </p>

	<p>Это означает, что Участник добровольно, полностью и безусловно соглашается:</p>

	<p>• предоставить <b>АЛОЛЬ</b> свои актуальные, действительные и достоверные персональные данные в целях исполнения обязательств <b>АЛОЛЬ </b>перед Участником (настоящих Правил),</p>

	<p>• предоставить <b>АЛОЛЬ</b> право и возможность передавать свои персональные данные Партнерам и Банкам в целях исполнения обязательств <b>АЛОЛЬ </b>перед Участником, между Участником и Партнером, между Участником и Банками.</p>

	<p><b>3.4.2. </b>Участник единолично несет риск возникновения неблагоприятных последствий и ответственность, если при присоединении им указана неточная, неполная или ошибочная информация. </p>

	<p><b>3.4.3. </b>Обработка и хранение персональных данных, предоставленных Участником <b>АЛОЛЬ, </b>осуществляется на основании согласия Участника и исключительно в целях исполнения обязательств в отношениях между <b>АЛОЛЬ</b> и Участником<b>.</b></p>

	<p><b>3.4.4. </b>Если Участник не согласен предоставить свои персональные данные и дать согласие на их обработку, как требуется Правилами, а также, если умышленно предоставил недостоверную информацию о себе, использование Участником Технологии <b>АЛОЛЬ</b> в целях получения КэшБэка невозможно.</p>

	<p><b>3.4.5.</b> Предоставление персональных данных Участником, их обработка и хранение регламентируются настоящими Правилами и Политикой конфиденциальности, которая публикуется на <a data-bypass href="https://iconto.net/privacy">Сайте</a>.</p>

	<p><b>3.4.6.</b> Принимая Правила, Участник безусловно и безоговорочно соглашается получать данные о своих Транзакциях в том числе в свой Личный кабинет, созданный по Технологии <b>АЛОЛЬ</b>, и дает <b>АЛОЛЬ</b> право ссылаться на такое согласие как на полученное и действительное при установлении взаимоотношений между <b>АЛОЛЬ</b> и Банками. Если Участник не согласен получать информацию о Транзакциях в свой Личный кабинет, получение им КэшБэков невозможно.</p>

	<p><b>3.5. Прекращение взаимоотношений.</b></p>

	<p><b>3.5.1.</b> Участник вправе в любое время отказаться от использования Технологии <b>АЛОЛЬ</b>, получения КэшБэка и выполнения иных действий, предусмотренных Правилами. В этом случае, и немедленно после получения об этом уведомления от Участника, <b>АЛОЛЬ</b> удаляет все данные об Участнике, его Транзакциях, а также все данные, сведения и информацию, касающиеся Участника и имеющиеся у <b>АЛОЛЬ</b>.</p>

	<p><b>3.5.2.</b> Уведомление должно явно и недвусмысленно, прямо и четко выражать волю Участника на расторжение Договора и прекращение использования Технологии <b>АЛОЛЬ</b>. </p>

	<p><b>3.5.3.</b> Ни Партнер, ни Банки, ни <b>АЛОЛЬ</b> не имеют права и не могут препятствовать в реализации Участником права на расторжение договора с Участником и на отказ от использования технологии <b>АЛОЛЬ</b>.</p>

	<h2>4. Взаимоотношения с Партнерами.</h2>

	<p><b>4.1. </b>Реализация Партнером Программы лояльности осуществляется в соответствии с Правилами <b>АЛОЛЬ</b> и с использованием Технологии <b>iCоnto</b>.</p>

	<p><b>4.2. </b>Для реализации Программы лояльности с использованием Технологии <b>АЛОЛЬ</b> Партнер должен:</p>

	<p>• присоединиться к Правилам и заключить договор с <b>АЛОЛЬ</b>, как указано в пункте 4.3 Правил, или</p>

	<p>• заключить с Банком договор (соглашение), устанавливающие порядок взаимодействия, информационного обмена и расчетов между Партнером и Банком при реализации Программы лояльности с использованием Технологии <b>АЛОЛЬ</b>. Такой договор (соглашение) должен соответствовать Правилам и не может содержать положения, противоречащие Правилам. </p>

	<p><b>4.3.</b> Отношения <b>АЛОЛЬ</b> и Партнера регулируются Договором между ними<b>. </b>Заключение Договора – акцепт оферты <b>АЛОЛЬ</b> осуществляется Партнером в порядке, указанном в Договоре. Отношения Партнера и Банка (Расчетного банка или Банка-эквайера) регулируются договором (соглашением) между ними.</p>

	<p><b>4.4. </b>Заключая договор с <b>АЛОЛЬ</b>, как указано в Правилах и самом Договоре, или договор (соглашение с Банком), Партнер подтверждает, что он ознакомился с текстом Правил, принимает их условия, согласен с ними и обязуется их соблюдать.</p>

	<p><b>4.5.</b> В целях выплаты КэшБэков Участникам Партнер принимает или утверждает внутренним организационным документом положения или правила Программы лояльности, которые отражает в своем Личном кабинете.</p>

	<p><b>4.6.</b> В некоторых случаях использование Партнером Технологии <b>АЛОЛЬ</b> (функции <b>АЛОЛЬ</b>, позволяющие обеспечивать проведение Транзакций и получение платежей от Участников) невозможно, если Партнер не заключил соответствующий договор с Банком.</p>

	<p><b>4.7. </b>Во исполнение Договора с<b> АЛОЛЬ, </b>Партнер обязуется предоставить <b>АЛОЛЬ </b>всю необходимую и имеющуюся у него информацию о заключенных им Сделках и осуществленных Транзакциях, включая сведения о цене, условиях, характере и точном времени совершения Сделки, условиях Программы лояльности, а также другие сведения, запрашиваемые <b>АЛОЛЬ. АЛОЛЬ</b> гарантирует Партнеру полную конфиденциальность получаемых сведений и информации и их защиту от неправомерного доступа третьих лиц по применимым стандартам защиты информации.</p>

	<p>Информация предоставляется Партнером:</p>

	<p>• путем сбора и передачи в <b>АЛОЛЬ</b> информации о реализации за отчетный период на основе данных и документов контрольно-кассовой техники, в том числе - с использованием установленного на ККТ программного обеспечения,</p>

	<p>• с использованием технологического канала или данных Банка-эмитента электронного средства платежа, с помощью которого осуществлена Транзакция, при наличии договора об информационно-техническом сотрудничестве или информационном обмене между <b>АЛОЛЬ </b>и Банком-эмитентом,</p>

	<p>• в порядке, предусмотренном договором эквайринга между Партнером и Банком-эквайером, с учетом требований и с использованием технологического канала Банка-эквайера, при наличии договора об информационно-техническом сотрудничестве или информационном обмене между <b>АЛОЛЬ </b>и Банком-эквайером и наличия соответствующих пунктов и положений в договоре между Партнером и Банком-эквайером.</p>

	<p><b>4.8. </b>В целях перечисления КэшБэков Участникам Партнер по своему выбору и усмотрению:</p>

	<p><b>4.8.1. </b>На основании данных и реестров, полученных от <b>АЛОЛЬ</b>, перечисляет суммы КэшБэков на счет Расчетного банка по реквизитам, предоставленным Расчетным банком,</p>

	<p><b>4.8.2. </b>На основании соответствующего дополнительного соглашения к договору эквайринга с Банком-эквайером, данных и реестров, полученных от <b>АЛОЛЬ </b>(включая реестры, направляемые от <b>АЛОЛЬ</b> в Банк-эквайер) поручает Банку-эквайеру удерживать из сумм Транзакций суммы КэшБэков, производить их перечисление Участникам и/или по реквизитам, указанным в пунктах 4.8.1 или 4.8.3 Правил, или</p>

	<p><b>4.8.3.</b> На основании данных и реестров, полученных от <b>АЛОЛЬ</b>, по предварительному согласованию с <b>АЛОЛЬ</b> направляет суммы КэшБэков на расчетный счет <b>АЛОЛЬ</b>, указанный в Договоре.</p>

	<p><b>4.9.</b> Размер суммы, перечисляемой Партнером по пунктам 4.8.1-4.8.3 Договора, определяется Партнером самостоятельно и по своему усмотрению, исходя из прогнозируемых Партнером размеров КэшБэков, причитающихся к выплате. </p>

	<p><b>4.10.</b> Партнер осуществляет перечисление сумм КэшБэков в порядке, Правилами, за первый Отчетный период - в течение 5 (пяти) рабочих дней с даты заключения Договора, за последующие Отчетные периоды – не позже 5 (пяти) рабочих дней с даты начала текущего Отчетного периода. </p>

	<p><b>4.11.</b> <b>АЛОЛЬ </b>формирует отчет о рассчитанных КэшБэках и направляет его Партнеру в порядке, предусмотренном Договором, вместе с Актом об оказанных услугах не позже 1 (одного) рабочего дня, следующего за днем окончания Отчетного периода.</p>

	<p><b>4</b>.<b>12. АЛОЛЬ </b>имеет право приостановить исполнение любых обязательств по Договору при отсутствии или недостаточности средств, предоставленных Партнером в целях выплаты КэшБэков, или в случае неоплаты партнером услуг <b>АЛОЛЬ</b>.</p>

	<h2>5. КэшБэк.</h2>

	<p><b>5.1. Общие условия начисления и получения КэшБэка Участником.</b></p>

	<p><b>5.1.1. </b>Выбор вида КэшБэка, определение его размера и даты вступления в силу размера КэшБэка, сроков выплаты, минимального и максимального порога выплаты и других условия его предоставления, осуществляется Партнером в одностороннем порядке, утверждается им и отражается в Личном кабинете. Участник самостоятельно отслеживает изменение информации о величине КэшБэка на Сайте. Партнер и <b>АЛОЛЬ</b> имеют право уведомлять Участника об изменениях этих сведений в любой момент способами, предусмотренными в Правилах.</p>

	<p><b>5.1.2. </b>Если Партнер предоставляет Участнику право самостоятельно выбрать, какой КэшБэк получает Участник в рамках Программы лояльности, Участник реализует такое право в порядке, предусмотренном Программой лояльности, а <b>АЛОЛЬ </b>предоставляет Участнику технологическую возможность реализации этого права. Если Участник не реализовал такое право, то считается согласившимся получить обычный КэшБэк по умолчанию.</p>

	<p><b>5.1.3. </b>Участник получает КэшБэк на Банковский счет, соответствующий Карте, присоединенной к Технологии <b>АЛОЛЬ</b>, или с использованием иного присоединенного к Технологии <b>АЛОЛЬ </b>Электронного средства платежа.</p>

	<p><b>5.1.4. </b>Участник не сможет получить КэшБэк, если информация, указанная им при присоединении Карты или иного Электронного средства платежа, является или окажется недействительной или неверной. В этом случае присоединение считается несостоявшимся и является недействительным.При этом Участник несет полную ответственность за последствия предоставления в <b>АЛОЛЬ </b>недостоверных данных. </p>

	<p><b>5.1.5. </b>Перечисление КэшБэка производится путем осуществления Банками своих обязанностей по договорам между Банками и <b>АЛОЛЬ</b>, Банками и Партнером.</p>

	<p><b>5.1.6. </b>Минимальная сумма подлежащего выплате КэшБэка, а также правила выплаты или аннулирования КэшБэка при недостижении минимальной суммы к выплате могут устанавливаться Партнером и/или АЛОЛЬ в Тарифах.</p>

	<p><b>5.1.7.</b> Если иное не установлено Программой лояльности Партнера, КэшБэк выплачивается только один раз в месяц, но не реже. Период (число), в течение (после) которого может быть выплачен КэшБэк, устанавливается по усмотрению Партнера, Банка или <b>АЛОЛЬ</b>, исходя из технологических возможностей Сторон и в соответствии с законодательством РФ об осуществлении безналичных расчетов. Стороны вправе установить иные сроки и периодичность выплаты КэшБэков.</p>

	<p><b>5.1.8. </b>Партнер обязан самостоятельно урегулировать с Участником вопрос возврата полученного Участником КэшБэка:</p>

	<p>• в случае возврата Участником Партнеру Товара (вне зависимости от качества Товара), если Партнером уже был выплачен КэшБэк, </p>

	<p>• в случае замены на такой же Товар другой марки (модели, артикула) с возвратом/доплатой разницы в цене или соразмерного уменьшения покупной цены.</p>

	<p>В случае возврата Участником Партнеру Товара, и возврата Партнером Участнику денежных средств, сумма ранее перечисленного КэшБэка, начисленного на Транзакцию по приобретению возвращенного Товара, удерживается из сумм КэшБэка, перечисляемого в пользу Участника в последующем. При невозможности совершить указанные действия, Участник обязан возвратить сумму КэшБэка Партнеру самостоятельно любыми доступными Участнику способами не позднее 7 (Семи) календарных дней с момента возврата Товара.</p>

	<p><b>5.1.9.</b> Расчет, удержание, начисление и перечисление КэшБэка могут быть приостановлены или отменены, если обнаружены случаи мошенничества, нарушения Участником Договора с Участником, Правил, Программы лояльности, действующего законодательства.</p>

	<p><b>5.1.10.</b> За начисление КэшБэка на Карту или иное Электронное средство платежа <b>АЛОЛЬ</b> и Банками могут взиматься комиссии, которые вычитаются из сумм КэшБэков, перечисляемых Участнику, на основании условий договоров между Сторонами, а также между Сторонами и третьими лицами, участвующими в процессе перевода денежных средств по поручению Участника. Обо всех таких случаях Участник будет полностью и заблаговременно проинформирован путем указания комиссий и применимых платежей в Тарифах и/или Личном Кабинете. </p>

	<p><b>5.1.11. </b>В случае несвоевременного перечисления и/или неперечисления Партнером сумм КэшБэков, подлежащих выплате Участникам, Партнер несет ответственность перед Участниками за неполучение и/или несвоевременное получение ими КэшБэков. </p>

	<p><b>5.1.12. </b>В случае предъявления претензий Участниками к <b>АЛОЛЬ </b>или Банкам и привлечения <b>АЛОЛЬ </b>или Банков к ответственности за несвоевременное предоставление и/или не предоставление КэшБэка, вызванное несвоевременным перечислением Партнером денежных средств, Партнер обязуется в полном объеме возместить <b>АЛОЛЬ </b>или Банкам причиненные указанными действиями убытки. </p>

	<p><b>5.1.13.</b> С даты прекращения действия Программы лояльности начисление и перечисление КэшБэка Участникам прекращается, за исключением КэшБэков, рассчитанных и начисленных по Транзакциям, совершенным в пределах срока действия Программы лояльности.</p>

	<p><b>5.1.14.</b> Участник, не присоединивший к Технологии <b>АЛОЛЬ</b> Карту или иное Электронное средство платежа, получает информацию о начисленных КэшБэках. Информация о начисленных КэшБэках, отражаемая в Личном кабинете, является справочной и не порождает прав и обязанностей Сторон до тех пор, пока Участник не присоединит к Технологии АЛОЛЬ Карту или иное Электронное средство платежа. Информация о начисленных КэшБэках будет отражаться накопительно в течение 6 (шести) месяцев с момента принятия Правил Участником, после чего информация удаляется, а начисление КэшБэков начинается заново с отметки «0».</p>

	<p><b>5.1.15.</b> Если Участник присоединил к Технологии <b>АЛОЛЬ</b> несколько Карт или иных Электронных средств платежа, то выплата КэшБэка производится с использованием любого из них по указанию и на усмотрение Участника.</p>

	<p><b>5.1.16.</b> Если Карта или Электронное средство платежа присоединены к Технологии <b>АЛОЛЬ</b>, но Участник в течение 6 (шести) месяцев с момента принятия Правил или последней выплаты КэшБэков не дал распоряжения о выплате КэшБэка, то начисленные КэшБэки аннулируются, денежные средства возвращаются предоставившим их Сторонам, а все обязательства Сторон по отношению к Участнику прекращаются. Начисление КэшБэков при этом возобновляется с даты осуществления первой Транзакции в течение дня, следующего за днем истечения 6-месячного срока. </p>

	<p><b>5.2. Правила расчета КэшБэка.</b></p>

	<p><b>5.2.1. </b>В случае совершения Участником Транзакции, являющейся основанием для начисления обычного КэшБэка, <b>АЛОЛЬ </b>производит расчет причитающегося к выплате КэшБэка, равного определенному проценту от суммы Транзакции. Процент от суммы Транзакции устанавливается Партнером в Программе лояльности.</p>

	<p>В случае совершения Участником Транзакции, являющейся основанием для начисления КэшБэка Плюс, <b>АЛОЛЬ </b>производит расчет причитающегося к выплате КэшБэка Плюс, исходя из соответствующей величины в размере определенного процента от суммы Транзакции и установленной Партнером. Подлежащий к перечислению КэшБэк Плюс после проведения первоначальной Транзакции Участнику не перечисляется, но учитывается <b>АЛОЛЬ</b>. КэшБэк Плюс подлежит перечислению Участнику только в случае совершении Участником последующей Транзакции или в других случаях, определяемых Партнером в Программе лояльности.</p>

	<p><b>5.2.2. </b>Величина конвертации КэшБэка Плюс в КэшБэк может зависеть от суммы последующей Транзакции:</p>

	<p>• если величина конвертируемого КэшБэка Плюс меньше или равна сумме последующей Транзакции, <b>АЛОЛЬ</b> конвертирует КэшБэк Плюс в КэшБэк в полном объеме и перечисляет соответствующую сумму Участнику. </p>

	<p>• если величина конвертируемого КэшБэка Плюс больше суммы последующей Транзакции, <b>АЛОЛЬ</b> конвертирует КэшБэк Плюс в КэшБэк не более величины последующей Транзакции и перечисляет соответствующую сумму Участнику. </p>

	<p>Оставшаяся часть КэшБэка Плюс при этом продолжает учитываться <b>АЛОЛЬ</b> и будет перечислена Участнику при осуществлении последующих Транзакций.</p>

	<p><b>5.2.3.</b> Другие виды КэшБэков и правила их расчета, предоставления и выплаты могут устанавливаться Партнером в Программе лояльности.</p>

	<p><b>5.3. Правила выплаты КэшБэка.</b></p>

	<p><b>5.3.1. </b>Партнер на основании договора с <b>АЛОЛЬ</b> и руководствуясь данными о Транзакциях и суммах КэшБэков, рассчитанных и предоставленных <b>АЛОЛЬ</b>, направляет сумму КэшБэков Расчетному банку или <b>АЛОЛЬ</b>, либо дает поручение Банку-эквайеру на удержание и направление сумм КэшБэков, как определено в договоре между <b>АЛОЛЬ </b>и Партнером и/или договором с Банком-эквайером.</p>

	<p><b>5.3.2. При направлении сумм КэшБэков в Расчетный банк:</b></p>

	<p><b>5.3.2.1. АЛОЛЬ</b> направляет соответствующие данные и реестры в Расчетный банк.</p>

	<p><b>5.3.2.2. </b>Расчетный банк, руководствуясь Правилами, договором с <b>АЛОЛЬ</b>, в рамках договора между Расчетным банком и Банком (если имеется и если это применимо), а также на основании предоставленных <b>АЛОЛЬ</b> данных и реестров перечисляет КэшБэки:</p>

	<p>• Участникам – клиентам Расчетного банка, </p>

	<p>• Банкам-эмитентам – для дальнейшего зачисления на Счета или Электронные средства платежа Участников – клиентов Банков-эмитентов,</p>

	<p>и информирует об этом <b>АЛОЛЬ</b>.</p>

	<p><b>5.3.2.3. АЛОЛЬ</b>, на основании полученной от Расчетного банка информации, формирует и направляет в Банки-эмитенты соответствующие реестры по формам, установленным договорами между <b>АЛОЛЬ</b> и Банками-эмитентами.</p>

	<p><b>5.3.2.4.</b> Банки-эмитенты, руководствуясь Правилами, договором с <b>АЛОЛЬ</b>, в рамках договора между Расчетным банком и Банком-эмитентом (если имеется и если это применимо), а также на основании предоставленных <b>АЛОЛЬ</b> данных и реестров перечисляют КэшБэки Участникам – клиентам Банков-эмитентов на их Счета или Электронные средства платежа, и уведомляют об этом Участника и <b>АЛОЛЬ</b>.</p>

	<p><b>5.3.2.5. АЛОЛЬ</b> уведомляет Участников о произведенном начислении КэшБэков и сообщает информацию о начислениях Партнерам и Расчетному банку.</p>

	<p><b>5.3.3. При удержании сумм КэшБэков Банком-эквайером (в том числе, Расчетным банком в качестве Банка-эквайера):</b></p>

	<p><b>5.3.3.1. АЛОЛЬ</b> направляет соответствующие данные и реестры Партнеру и Банку-эквайеру.</p>

	<p><b>5.3.3.2. </b>Банк-эквайер, руководствуясь Правилами, договором с Партнером, в рамках договора между Банком-эквайером и Расчетным банком или Банком-эмитентом (если имеется и если это применимо), а также на основании предоставленных <b>АЛОЛЬ</b> данных и реестров перечисляет КэшБэки:</p>

	<p>• Участникам – клиентам Банка-эквайера, </p>

	<p>• Расчетному банку - для дальнейшего зачисления на Счета или Электронные средства платежа Участников – клиентов Расчетного банка,</p>

	<p>• Банкам-эмитентам – для дальнейшего зачисления на Счета или Электронные средства платежа Участников – клиентов Банков-эмитентов,</p>

	<p>и информирует об этом <b>АЛОЛЬ</b>.</p>

	<p><b>5.3.3.3. АЛОЛЬ</b>, на основании полученной от Банка-эквайера информации, формирует и направляет в Расчетный банк, Банки-эмитенты соответствующие реестры по формам, установленным договорами между <b>АЛОЛЬ</b> и Банками-эмитентами.</p>

	<p><b>5.3.3.4.</b> Банки-эмитенты, руководствуясь Правилами, договором с <b>АЛОЛЬ</b>, в рамках договора между Расчетным банком и Банком-эмитентом (если имеется и если это применимо), а также на основании предоставленных <b>АЛОЛЬ</b> данных и реестров перечисляют КэшБэки Участникам – клиентам Банков-эмитентов на их Счета или Электронные средства платежа, и уведомляют об этом Участника и <b>АЛОЛЬ</b>.</p>

	<p><b>5.3.3.5. АЛОЛЬ</b> уведомляет Участников о произведенном начислении КэшБэков и сообщает информацию о начислениях Партнерам, Расчетному банку и Банку-эквайеру.</p>

	<p><b>5.3.4. При перечислении сумм КэшБэков на расчетный счет АЛОЛЬ:</b></p>

	<p><b>5.3.4.1. АЛОЛЬ</b> направляет суммы КэшБэков, соответствующие данные и реестры в Расчетный банк или Банк-эмитент при наличии технической возможности и в порядке, предусмотренном договором между <b>АЛОЛЬ</b> и Расчетным банком, или <b>АЛОЛЬ</b> и Банком-эмитентом.</p>

	<p><b>5.3.4.2.</b> Дальнейший порядок действий аналогичен пп. 5.3.2.2 – 5.3.2.5, или 5.3.3.2 – 5.3.3.5 Правил <b>АЛОЛЬ</b>.</p>

	<p><b>5.4. Порядок разрешения спорных ситуаций.</b></p>

	<p><b>5.4.1.</b> В случае, если какая-либо из Сторон выявляет расхождения в документах и информации, она обязана незамедлительно всеми доступными средствами и способами связи уведомить об этом <b>АЛОЛЬ</b> и другие Стороны.</p>

	<p><b>5.4.2. АЛОЛЬ</b> обязано в течение 3 (трех) рабочих дней провести расследование и по его результатам:</p>

	<p>• отклонить информацию о выявленных расхождениях, если они не подтвердились, и уведомить об этом заинтересованные Стороны,</p>

	<p>• осуществить корректировку в создаваемых <b>АЛОЛЬ</b> реестрах, данных, уведомлениях и информации, и инициировать проведение корректирующих расчетов между Сторонами.</p>

	<p><b>5.4.3.</b> Корректирующие расчеты между Сторонами проводятся:</p>

	<p><b>А) </b>если выявлено расхождение между рассчитанным КэшБэком и фактически перечисленной Партнером суммой – в большую сторону (КэшБэк больше фактической суммы) - в виде дополнительного перечисления Партнером денежных средств (доплата) в порядке, установленном разделом 5.3,</p>

	<p><b>Б) </b>если выявлено расхождение между рассчитанным КэшБэком и фактически перечисленной Партнером суммой – в меньшую сторону (КэшБэк меньше фактической суммы) - в виде возврата Партнеру Расчетным банком или <b>АЛОЛЬ</b> излишне перечисленных Партнером денежных средств (возврат), или в виде зачета излишне перечисленных сумм при перечислении КэшБэков в последующих Отчетных периодах (зачет),</p>

	<p><b>В) </b>если Транзакция признана мошеннической или ошибочной, по ней произведен возврат, а КэшБэк еще не получен Участником - в виде возврата суммы КэшБэка Партнеру банками или <b>АЛОЛЬ</b>,</p>

	<p><b>Г) </b>если Транзакция признана мошеннической или ошибочной, по ней произведен возврат, а КэшБэк уже получен Участником - в виде списания суммы КэшБэка Банками со Счета или Электронного средства платежа Участника и возврата в Расчетный банк, а затем Расчетным банком – Партнеру, при наличии средств на Счете или Электронном средстве платежа Участника.</p>

	<p><b>5.4.4.</b> В случае, предусмотренном подпунктом Г) пункта 5.4.3, если на Счете или Электронном средстве платежа Участника недостаточно средств, то Банк производит списание при поступлении средств. Если поступления не происходит в течение 3 (трех) месяцев, Банк уведомляет об этом <b>АЛОЛЬ </b>и Партнера. Партнер самостоятельно, но с помощью Сторон формирует требование о взыскании соответствующей суммы к Участнику и направляет его в суд от своего имени.</p>

	<p><b>5.4.5.</b> Во всех случаях, когда произведены корректирующие расчеты, производится перерасчет (возврат или доплата) вознаграждения, если таковое было получено какой-либо Стороной по условиям Правил или договоров между ними.</p>

	<p><b>5.5. Взаимоотношения АЛОЛЬ, Расчетного банка и Банков.</b></p>

	<p>Взаимоотношения <b>АЛОЛЬ</b>, Расчетного банка и Банков, включая их условия получения ими вознаграждения за информационно-технологическое обеспечение расчетов и иные услуги, оказываемые в рамках Правил, устанавливаются, определяются и регулируются договорами между указанными Сторонами.</p>

	<h2>6. Ответственность.</h2>

	<p><b>6.1. АЛОЛЬ </b>предпринимает все необходимые технические и организационные меры по обеспечению информационной безопасности и нормальной работоспособности Сайта и Технологии <b>АЛОЛЬ</b>, однако ни при каких обстоятельствах не несет ответственности за неисполнение или ненадлежащее исполнение обязательств, а также возможный ущерб, возникший в результате:</p>

	<p>• неправомерных действий третьих лиц, направленных на нарушения информационной безопасности или нормального функционирования Сайта,</p>

	<p>• сбоев в работе сайта, вызванных ошибками в коде, компьютерными вирусами и иными посторонними фрагментами кода в программном обеспечении Сайта, кроме случаев, допущенных по вине <b>АЛОЛЬ</b>,</p>

	<p>• отсутствия (невозможности установления, прекращения и пр.) Интернет-соединений между серверами Участника и сервером Сайта, и/или серверами Сторон,</p>

	<p>• проведения уполномоченными органами мероприятий в рамках СОРМ (Системы оперативно-розыскных мероприятий),</p>

	<p>• установления государственного регулирования (или регулирования иными организациями) хозяйственной деятельности коммерческих организаций в сети интернет и/или установления указанными субъектами разовых ограничений, затрудняющих или делающих невозможным исполнение обязательств Партнера по Программе лояльности,</p>

	<p>• других случаев, связанных с действиями (бездействием) пользователей сети Интернет и/или других субъектов, направленными на ухудшение общей ситуации с использованием сети интернет и/или компьютерного оборудования, существовавшей на момент присоединения Участника.</p>

	<p><b>6.2. АЛОЛЬ</b> не несет ответственности за убытки, причиненные Участнику в результате сообщения Участником недостоверной информации, а также причиненные действиями (бездействием) Участника ему самому или любым третьим лицам. </p>

	<p><b>6.3. АЛОЛЬ</b> не несет ответственности за убытки, причиненные Участнику в результате разглашения третьим лицам информации, предоставленной Участником, произошедшего не по вине <b>АЛОЛЬ</b>.</p>

	<p><b>6.4. </b>Ответственность <b>АЛОЛЬ </b>перед Сторонами за нарушение Правил ограничивается в случае любой претензии, связанной с начислением КэшБэка–выполнением действий для получения Участником надлежащих сумм КэшБэка.</p>

	<p><b>6.5. АЛОЛЬ </b>не несет ответственности по спорам и разногласиям, возникающим между Сторонами, если такие споры и разногласия не вызваны нарушениями <b>АЛОЛЬ </b>своих обязательств.</p>

	<p><b>6.6. </b>Ни одна из Сторон не несет ответственности за неисполнение или ненадлежащее исполнение своих обязательств, если это было вызвано чрезвычайными и непредотвратимыми при данных условиях обстоятельствами, которые Стороны не могли разумными мерами ни предвидеть, ни предотвратить (обстоятельства непреодолимой силы). </p>

	<p><b>6.7. </b>В случае, если <b>АЛОЛЬ</b> вынужденно приостанавливает действие Технологии <b>АЛОЛЬ</b> по обстоятельствам непреодолимой силы, то в этом случае Стороны уведомляются о таком приостановлении в разумный срок.</p>

	<p><b>6.8. </b>В случае действия обстоятельств непреодолимой силы более 3 (трех) месяцев, любая Сторона вправе в одностороннем порядке отказаться от исполнения своих обязательств по настоящим Правилам.</p>

	<h2>7. Споры.</h2>

	<p><b>7.1. </b>Особый порядок разрешения спорных ситуаций по расчету, начислению и возврату КэшБэков установлен пунктом 5.4 Правил. В случае возникновения между Сторонами иных споров, связанных с исполнением настоящих Правил, Стороны примут все меры к разрешению их путем переговоров между собой.</p>

	<p><b>7.2. </b>В случае невозможности разрешения указанных споров путем переговоров, они должны решаться в компетентном суде в соответствии с законодательством Российской Федерации при условии обязательного соблюдения претензионного порядка. Срок ответа на претензию – 30 (тридцать) календарных дней с момента ее получения. </p>

	<h2>8. Прочие условия.</h2>

	<p><b>8.1. АЛОЛЬ</b> имеет право в одностороннем порядке изменять Правила путем опубликования новой редакции Правил на Сайте. Измененные Правила вступают в силу по истечении 15 (пятнадцати) календарных дней с даты опубликования на Сайте. В случае, если Сторона по истечении 15-дневного срока не заявила об отказе принять новую редакцию Правил, либо о желании расторгнуть Договор, либо не удалила свои регистрационные данные, то считается принявшим новую редакцию Правил и полностью согласившейся с ней. Внесение изменений в Правила не освобождает Сторону от исполнения обязательств, возникших до внесения изменений. <b>АЛОЛЬ</b> предпримет все необходимые меры с целью своевременного уведомления Сторон о планируемых изменениях.</p>

	<p><b>8.2. </b>Стороны обязуются самостоятельно отслеживать внесение изменений и дополнений в Правила. Отсутствие возражений Сторон и продолжение выполнения ими Правил в новой редакции является их абсолютным и полным согласием с новой редакцией Правил.</p>

	<p><b>8.3. АЛОЛЬ </b>вправе без каких-либо последствий и ответственности для себя отказаться от своих обязательств перед любым Участником, уведомив Участника о том любым доступным и применимым способом, если Участник:</p>

	<p>• допускает нарушения действующего законодательства РФ, условий Договора, Правил, других применимых документов,</p>

	<p>• отзывает согласие на обработку персональных данных,</p>

	<p>• расторгает договор или соглашение с Партнером или Банком по любым причинам и при любых обстоятельствах, если при этом Участник утрачивает право на начисление КэшБэка и возможность пользоваться своим Электронным средством платежа,</p>

	<p>• в других случаях, установленных Договором или действующим законодательством РФ.</p>

	<p><b>8.4. АЛОЛЬ </b>оставляет за собой право приостанавливать работу Сайта и Технологии <b>АЛОЛЬ</b> для проведения профилактических работ, по возможности в ночное время или выходные дни. <b>АЛОЛЬ</b> предпримет все необходимые меры с целью своевременного уведомления Сторон о планируемых профилактических работах.</p>

	<p><b>8.5. </b>Стороны понимают и выражают свое согласие с тем, что <b>АЛОЛЬ</b> использует любые информацию и сведения о Транзакциях Участника, предоставленные <b>АЛОЛЬ </b>самим Участником или Банком по поручению Участника, или иным законным образом полученные <b>АЛОЛЬ</b> в интересах Участника, в целях получения Участником КэшБэка и исполнения иных обязательств перед ним. </p>

	<h2>9. Безопасность.</h2>

	<p><b>9.1. АЛОЛЬ</b> предпринимает необходимые технические и организационные меры информационной безопасности, чтобы предотвратить утечку информации и свести такие риски к минимуму. Такие меры включают: использование брандмауэров, размещение носителей информации в защищенных серверных центрах, шифрование, трансляцию сетевых адресов и скрытие внутренней структуры сети <b>АЛОЛЬ</b>, развертывание надлежащих систем и процедур управления правами доступа. </p>

	<p><b>9.2. </b>Для защиты от случайной утраты и/или повреждения персональных данных используется резервное копирование данных. </p>

	<p><b>9.3. </b>Для защиты конфиденциальности и безопасности при взаимодействии пользователей с сайтом используются стандартные для отрасли меры безопасности, в том числе обеспечиваемые протоколом “Secure Sockets Layer” (“SSL”). </p>

	<p><b>9.4. АЛОЛЬ</b> самостоятельно определяет перечень организационных, финансовых, технических и юридических мер, состав и характеристики программно-аппаратных средств для сохранения в тайне информации Сторон и обеспечения санкционированного доступа к ней Сторон. </p>

	<p><b>9.5. АЛОЛЬ</b> не несет ответственность за убытки, причиненные Сторонам в результате нарушения прав доступа к конфиденциальной или тайной информации Сторон, или ее разглашения, произошедших не по вине <b>АЛОЛЬ</b>.</p>

  <h2>10. Заявление</h2>

  <p><b>10.1. </b> Настоящим АЛОЛЬ подтверждает, что приложение АЛОЛЬ может содержать или предоставлять информацию о
    состязании или конкурсе, организованном и проводимом Партнерами с использованием приложения АЛОЛЬ (технологии
    АЛОЛЬ), и любые такие состязания и конкурсы не связаны косвенно или напрямую с Apple и/или Google или какими-либо
    связанными с Apple и/или Google лицами, а Apple и/или Google и связанные с ним лица не являются ни спонсорами таких
    состязаний или конкурсов, ни в какой-либо другой форме вовлеченными в такие состязания или конкурсы. Все вопросы,
    связанные с возможными состязаниями и конкурсами являются ответственностью Партнера, запустившего программу
    лояльности, содержащую такие состязания или конкурсы.</p>
</div>