<h4 class="text-center">Правила АЛОЛЬ</h4>
<pre>
1. Термины и определения
В настоящих Правилах применяются следующие термины:

АЛОЛЬ Общество с ограниченной ответственностью &laquo;АЛОЛЬ &raquo;, Россия, 191024, г. Санкт-Петербург, Невский проспект, дом 147, ОГРН 1127847386358, ИНН 7840473816,расчетный счет: 40702810090330000311 в ОАО &laquo;Банк &laquo;Санкт-Петербург&raquo;, корреспондентский счет: 30101810900000000790, БИК: 044030790.
АЛОЛЬ:
&bull; обладает всеми правами на Технологию АЛОЛЬ,
&bull; обеспечивает Партнерам технологическую возможность реализации Программы лояльности и оказывает связанные с этим информационно-технологические услуги по обеспечению расчетов между Партнером и Участником,
&bull; с привлечением банков и небанковских кредитных организаций обеспечивает Партнерам &mdash; возможность использования Технологии АЛОЛЬ и перечисления КэшБэка Участникам, Участникам &mdash; возможность использования Технологии АЛОЛЬ и получения КэшБэка при оплате Товаров.

Банковский счет
Банковский счет Участника, к которому эмитирована Карта, с которого происходит списание денежных средств для оплаты Товара, и на который зачисляется КэшБэк.

Банк-эквайер
Кредитная организация, обеспечивающая Партнеру возможность осуществления торговых операций и оплаты Товара с использованием Карты или иного Электронного средства платежа (эквайринг), которую Партнер уполномочивает удержать суммы КэшБэков из выручки по торговым операциям в порядке и на условиях, определенных Правилами. Банком-эквайером может быть также Банк-эмитент или Расчетный банк в отношении Партнеров и Участников, с которыми у них заключены соответствующие договоры и соглашения. Банк-эквайер может одновременно являться и Банком-эмитентом, и Расчетным банком.
Если Банк-эквайер намеревается присоединиться к Технологии АЛОЛЬ, он должен выразить четкое и недвусмысленное согласие с Правилами и принять их путем письменного акцепта или заключения договора с АЛОЛЬ.
Для выполнения своих функций, соответствующих Правилам, Банк-эквайер заключает Договор с Партнером, предметом которого является взаимодействие с Партнером по обеспечению оплаты Товара Картами (эквайринговый договор) и взаимодействие всех Сторон в рамках Правил АЛОЛЬ.

Банк-эмитент
Кредитная организация, предоставляющая Участнику Электронное средство платежа: персонифицированную или неперсонифицированную Карту или электронное средство платежа типа &laquo;кошелек&raquo;. Банком-эмитентом может быть также Банк-эквайер или Расчетный банк в отношении Партнеров и Участников, с которыми у них заключены соответствующие договоры и соглашения. Банк-эмитент может быть одновременно и Банком-эквайером, и Расчетным банком.
Если Банк-эмитент намеревается присоединиться к Технологии АЛОЛЬ, он должен выразить четкое и недвусмысленное согласие с Правилами и принять их и принять их путем письменного акцепта или заключения договора с АЛОЛЬ.
Для выполнения своих функций, соответствующих Правилам, Банк-эмитент заключает договор с Участником, предметом которого является выпуск и обслуживание карты (или создание и обслуживание иного Электронного средства платежа) и взаимодействие всех Сторон в рамках Правил АЛОЛЬ.

Банки
Банк-эквайер, Банк-эмитент и Расчетный банк, когда (если) упоминаются вместе; также используется для обозначения Банка-эквайера и Банка-эмитента, упоминаемых вместе.

Договор с Партнером
Договор, регламентирующий взаимоотношения АЛОЛЬ и Партнера.

Карта
Банковская карта, эмитированная Банком-эмитентом по правилам международных платежных систем.
Карта используется для регистрации Участника на сайте Партнера, привязки к Технологии АЛОЛЬ, а также для формирования УИН, зачисления и выплаты КэшБэков.

КэшБэк (CashBack)
Скидка, предоставляемая Партнером Участнику в виде возврата части стоимости Товара, которую Партнер обязуется законным способом перечислить Участнику в порядке, предусмотренном Программой лояльности и Правилами АЛОЛЬ. Право на начисление КэшБэка возникает у Участника в рамках Программы лояльности Партнера. Размер, виды и сроки выплаты КэшБэка устанавливаются Партнером самостоятельно.

Личный кабинет Участника
Обособленный раздел Сайта, где размещена информация, предоставленная Участником, собирается и приводится статистическая информация о Транзакциях и КэшБэках, предоставляются средства управления ими, включая программные средства формирования запросов на выплаты КэшБэков. Личный кабинет является однопользовательским, доступ к нему предоставляется при условии принятия настоящих Правил и прохождения процедуры формирования УИН. В Личном кабинете Участник ведет аналитический учет начисленных КэшБэков, выполняет иные действия по использованию Технологии АЛОЛЬ.

Личный кабинет Партнера
Обособленный раздел Сайта, где размещена информация о Партнере, его Программе лояльности, а также имеются программные средства для создания и редактирования условий Программы лояльности, учета КэшБэков, формирования, получения и отправки расчетных документов, актов и счетов, для отслеживания статистики и получения иной информации Партнером, а также настройки и использования возможностей АЛОЛЬ, в том числе, в целях организации получения платежей в пользу Партнера.

Отчетный период
Период с первого включительно по последнее число каждого календарного месяца. Первым Отчетным периодом является неполный месяц с даты заключения Договора по последнее число календарного месяца, в котором договор был заключен. Последним расчетным периодом является неполный календарный месяц, начиная с первого числа месяца, в котором договор расторгнут, и заканчивая датой расторжения договора включительно.
В договорах между Сторонами данное определение может не применяться или применяться в другом виде.
Партнер
Юридическое лицо или индивидуальный предприниматель (включая их структурные подразделения: филиалы, торговые точки, пункты продаж, и тому подобные), если они реализуют Участникам Товар в рамках Программы лояльности, и
&bull; заключили с АЛОЛЬ соответствующий Договор и выполнили все необходимые процедуры информационно-технической интеграции с АЛОЛЬ, или
&bull; заключили с Расчетным банком соответствующий договор о взаимодействии и расчетах при осуществлении Программы лояльности.

Правила АЛОЛЬ (Правила)
Настоящий документ, актуальная и действительная версия которого всегда размещена по адресу: <a href="https://iconto.net/rules" data-bypass target="_blank">https://iconto.net/rules</a>, включая приложение к Правилам &mdash; Условия использования АЛОЛЬ, расположенные по адресу: <a href="https://wrt.to" data-bypass target="_blank">https://wrt.to</a>. Правила АЛОЛЬ являются неотъемлемой частью Договора с Партнером, договоров и соглашений между АЛОЛЬ и Банками. В отношениях между Участником и АЛОЛЬ Правила являются офертой Участнику, которую он принимает, совершая любое действие из предусмотренных Правилами АЛОЛЬ. Правила обязательны для всех Сторон.

Программа лояльности
Маркетинговое мероприятие Партнера, направленное на поощрение клиентов Партнера, стимулирование спроса, повышение объема продаж, привлечение клиентов.
Программа лояльности проводится по инициативе Партнера. Правила, по которым проводится Программа лояльности, определяются Партнером самостоятельно. Принятие Правил лояльности Участником (если это требуется Партнером), а также совершение Транзакции в рамках Программы лояльности является выражением его волеизъявления и согласия на изменение Партнером условий Договора с Участником, в том числе, на изменение условий о цене Товара и предоставление скидки в виде возврата части стоимости Товара.

Расчетный банк
Банк или небанковская кредитная организация, осуществляющая на основании соответствующих договоров с Партнерами, Участниками, АЛОЛЬ, Банком-эмитентом или Банком-эквайером операции по переводу Участникам КэшБэков в виде безналичных или электронных денежных средств.
Для выполнения своих функций, соответствующих Правилам, Расчетный банк заключает договор с АЛОЛЬ, предметом которого являются:
а) информационно-техническое взаимодействие с целью обеспечить расчеты между Партнером и Участником, включая информационный обмен
б) обязательства АЛОЛЬ и Банка осуществлять зачисление и выплату Участнику КэшБэка на указанное Участником электронное средство платежа.
При необходимости и для выполнения функций Банка-эмитента или Банка-эквайера Расчетный банк может заключать с Партнером или Участником соответствующие договоры.
Расчетный банк является оператором по переводу денежных средств и/или оператором электронных денежных средств.
Расчетный банк должен выразить четкое и недвусмысленное согласие с Правилами и принять их.
Расчетный банк может одновременно выполнять функции Банка-эквайера и/или Банка-эмитента. В этих целях Расчетный банк может заключать:
&bull; договор с Партнером, предметом которого является взаимодействие с Партнером по обеспечению оплаты Товара Картами (эквайринговый договор) и взаимодействие Расчетного банка и Партнера в рамках Правил АЛОЛЬ, а также
&bull; договор с Участником, предметом которого является выпуск и обслуживание карты (или создание и обслуживание иного Электронного средства платежа) и взаимодействие Расчетного банка и Участника в рамках Правил АЛОЛЬ.

Сайт
Сайт АЛОЛЬ в сети Интернет по адресу <a href="https://iconto.net" data-bypass target="_blank">https://iconto.net</a>, на котором:
&bull; размещена информация о Технологии АЛОЛЬ, включая текст Правил в актуальной и действующей редакции, а также иная информация, предназначенная для Сторон,
&bull; предоставляется доступ к Технологии АЛОЛЬ, включая доступ к АЛОЛЬ и АЛОЛЬ,
а также Сайт АЛОЛЬ в сети Интернет по адресу <a href="https://wrt.to" data-bypass target="_blank">https://wrt.to</a>, на котором предоставляется доступ к АЛОЛЬ и возможность его использования.
Здесь и далее термин &laquo;Сайт&raquo; означает как сайт <a href="https://iconto.net" data-bypass target="_blank">https://iconto.net</a>, так и сайт <a href="https://wrt.to" data-bypass target="_blank">https://wrt.to</a>, если прямо не указано иное.

Сделка
(Договор с Участником)
Гражданско-правовая сделка между Партнером и Участником (розничная купля-продажа товаров, потребление работ или услуг), совершенная путем выполнения конклюдентных действий, порождающих права и обязанности Партнера и Участника.

Стороны
Участник, Банк-эквайер, Банк-эмитент, Расчетный банк, Партнер и АЛОЛЬ вместе именуются &laquo;Стороны&raquo; и по отдельности &laquo;Сторона&raquo;.
АЛОЛЬ по своему усмотрению предоставляет Сторонам информацию о какой-либо другой Стороне, обязуясь при этом соблюдать применимые требования действующего законодательства о конфиденциальности, защите персональных данных и другой информации.

Технология АЛОЛЬ Программно-аппаратный комплекс АЛОЛЬ, а также организационные, юридические, финансовые и технические способы, средства и меры (действия и бездействие), применяемые и осуществляемые АЛОЛЬ (всеми работниками АЛОЛЬ в том числе) для его эксплуатации.
Технология АЛОЛЬ принадлежит АЛОЛЬ (включая исключительные права на Технологию АЛОЛЬ или любую ее составную часть как на объект интеллектуальной собственности).
Предназначение Технологии АЛОЛЬ &mdash; обеспечить Сторонам:
&bull; информационно-технологическую возможность осуществления расчетов, включая выплату КэшБэков,
&bull; возможность Партнерам осуществлять Программы лояльности, а Участникам &mdash; участвовать в реализации таких Программ,
&bull; получение Сторонами всей и полной информации, необходимой для осуществления прав и обязанностей по отношению друг к другу, включая поддержание информационно-технического взаимодействия Сторон в пределах, указанных в Правилах.
Технология АЛОЛЬ используется в соответствии с действующим законодательством РФ и своим предназначением. Конкретные виды, способы, области использования и применения Технологии АЛОЛЬ устанавливаются Правилами, договорами, а также иными документами, устанавливающими права и обязанности Сторон.
АЛОЛЬ
Информационно-технологическая инфраструктура АЛОЛЬ &mdash; составная часть Технологии АЛОЛЬ.
АЛОЛЬ &mdash; информационно-технологическое средство обеспечения расчетов между Партнером, Участником, формирования отчетных и расчетных документов для Сторон, а также предоставления Сторонами информации о расчетах. АЛОЛЬ позволяет Участнику (путем регистрации и принятия оферты кредитной организации &mdash; оператора электронных денежных средств) создать электронное средство платежа (ЭСП), предназначенное для осуществления Участником переводов без открытия счета, в том числе расчетов электронными денежными средствами.
АЛОЛЬ размещен в сети Интернет на сайте wallet.iconto.net и не является электронным средством платежа.
АЛОЛЬ и создаваемое с его помощью электронное средство платежа используются по умолчанию как средство обеспечения выплаты КэшБэка Участнику в порядке, предусмотренном Правилами, и до тех пор, пока Участником не определен иной способ получения КэшБэков (при наличии такой технологической возможности).

АЛОЛЬ
Информационно-технологическая инфраструктура АЛОЛЬ &mdash; составная часть Технологии АЛОЛЬ.
АЛОЛЬ &mdash; информационно-технологическое средство обеспечения расчетов между Партнером, Участником, формирования отчетных и расчетных документов для Сторон, а также предоставления Сторонами информации о расчетах. АЛОЛЬ позволяет Партнеру:
&bull; путем регистрации и принятия оферты кредитной организации &mdash; оператора электронных денежных средств обеспечить прием платежей и обработку Транзакций с использованием Электронных средств платежа, когда плательщиком выступает Участник,
&bull; обеспечить управление получаемыми и отправляемыми уведомлениями и информацией, включая возможность прямого информационного обмена с Участником,
&bull; организовывать и проводить рекламу и маркетинговые мероприятия.
Доступ к АЛОЛЬ предоставляется в Личном кабинете Партнера.

АЛОЛЬ
Информационно-технологическая инфраструктура АЛОЛЬ &mdash; составная часть Технологии АЛОЛЬ.
АЛОЛЬ &mdash; информационно-технологическое средство обеспечения коммуникаций между Партнерами и Участниками, позволяющее формировать, отправлять, получать и контролировать отправку и получение электронных сообщений с использованием Личного кабинета и Сайта в рамках использования Технологии АЛОЛЬ.
АЛОЛЬ используется для коммуникаций, осуществляемых с использованием Технологии АЛОЛЬ и может применяться для формирования, отправки и получения коротких текстовых сообщений (SMS), отправляемых с использованием передвижной (мобильной) связи, только при наличии технической возможности, предоставленной оператором связи, а также четкого, недвусмысленного и идентифицированного согласия Участника на использование АЛОЛЬ для получения таких сообщений.
Доступ к АЛОЛЬ и возможность его использования предоставляются в Личном кабинете Партнера или Участника на Сайте, в составе функций мобильного приложения либо отдельно на сайте <a href="https://wrt.to" data-bypass target="_blank">https://wrt.to</a>.

Товар
Товары, работы, услуги Партнера, а также любые иные материальные и нематериальные блага, которые (или права на которые) приобретаются и оплачиваются Участником в рамках Программы лояльности.

Транзакция
Операция по оплате Товара, совершенная Участником в рамках Программы лояльности. Не является Транзакцией и не служит основанием для предоставления КэшБэка операция по оплате Товара вне рамок Программы лояльности или совершенная с нарушением правил Программы лояльности.
Транзакция совершается в рамках исполнения договора Партнера с Участником и является основанием для предоставления КэшБэка.
Транзакция может быть осуществлена как с помощью Карты или иного Электронного средства платежа, так и наличными денежными средствами.
Для признания операций по оплате Товара Транзакциями может потребоваться создание Уникального Идентификационного Номера Участника и привязка к нему Карты или иного Электронного средства платежа, с использованием которых Участнику будут выплачиваться КэшБэки.

Участник
Дееспособное физическое лицо, которое:
&bull; является держателем активированной и действительной Карты или пользователем иного действительного Электронного средства платежа,
&bull; присоединилось к Технологии АЛОЛЬ способом, указанным в Правилах АЛОЛЬ,
&bull; совершает Транзакции в рамках Программы лояльности Партнера.
В целях получения КэшБэков Участник может использовать как Карту, так и иное Электронное средство платежа, если допустимо применимым законодательством.

Уникальный Идентификационный Номер
Уникальный идентификационный номер &mdash; УИН &mdash; номер, необходимый для идентификации Участника в Технологии АЛОЛЬ и сопоставления данных о Транзакциях исключительно в целях последующего предоставления КэшБэка и оказания Участнику услуг предусмотренных Правилами.
УИН формируется:
&bull; путем регистрации Участника на сайте Партнера, или
&bull; путем считывания данных Карты Участника на кассовом аппарате или POS-терминале Партнера, или
&bull; при выдаче Участнику Карты или средств доступа к иному Электронному средству платежа, подключаемому к Технологии АЛОЛЬ, или
&bull; при создании Участником через АЛОЛЬ электронного средства платежа, подключенного к Технологии АЛОЛЬ.
При присоединении Участника к Технологии АЛОЛЬ Участнику создается Личный кабинет.

Электронное средство платежа
Средство или способ, позволяющее Участнику распоряжаться своими денежными средствами в рамках применяемых форм безналичных расчетов или расчетов электронными денежными средствами с использованием информационно-коммуникационных технологий, электронных носителей информации и других технических устройств, например: банковская карта (включая предоплаченная банковские карты); электронный кошелек и подобные.
При присоединении Участника к Технологии АЛОЛЬ, Электронное средство платежа используется для формирования Уникального Идентификационного Номера Участника.
Электронное средство платежа должно быть зарегистрировано Участником при присоединении к Технологии АЛОЛЬ (привязка Электронного средства платежа).

2. Общие положения.
2.1.  Все термины и определения, используемые в Правилах, трактуются и применяются в соответствии с действующим законодательством РФ.
2.2.  Отношения Партнера и Участника по приобретению и оплате Товара регулируются действующим законодательством РФ, в том числе &mdash; законодательством о защите прав потребителей.
2.3.  Отношения Банков с любой другой Стороной и между собой по перечислению сумм КэшБэков определяются действующим законодательством РФ о банках и банковской деятельности.
2.4.  Правила определяют условия и порядок использования Технологии АЛОЛЬ Сторонами в целях участия в Программе лояльности, права и обязанности Сторон, порядок информационно-технологического взаимодействия Сторон.
2.5.  Правила размещаются на Сайте в открытом публичном доступе. Размещенные на Сайте Правила являются наиболее актуальными. При разночтениях и расхождениях в тексте Правил, размещенном на Сайте, и тексте Правил, размещенном в печатных материалах или на других сайтах, приоритет имеют только Правила, размещенные на Сайте АЛОЛЬ.
2.6.  Предоставление Участнику КэшБэка основано на праве Партнера и Участника изменять условия заключенной ими Сделки и исполнять их, а также на праве Партнера уполномочить на совершение этих действий АЛОЛЬ и поручить Банкам осуществить необходимые расчеты.

3. Взаимоотношения с Участником.
3.1. Установление взаимоотношений.
3.1.1.Физическое лицо становится Участником, если согласилось с Правилами и приняло их.
Право Участника на получение КэшБэка возникает при условии:
&bull; принятия Правил АЛОЛЬ и присоединения к Технологии АЛОЛЬ путем подключения Карты или иного Электронного средства платежа,
&bull; формирования УИН,
&bull; совершения Транзакции в рамках Программы лояльности и в соответствии с ее правилами.
3.1.2. Последовательность действий, указанных в пункте 3.1.1 Правил, может быть любой.
3.1.3.  Совершение Сделки и Транзакции происходит в обычном порядке, как установлено законодательством.
3.1.4.  При необходимости принятия правил Программы лояльности (если такая необходимость установлена Партнером в правилах Программы лояльности), выражение согласия с ними и приобретение статуса клиента Партнера или участника Программы лояльности (в зависимости от того, что установлено Партнером), происходит в порядке и на условиях, установленных Программой лояльности, в том числе &mdash; путем совершения действий на сайте Партнера или на ином сайте или странице сайта по адресу в сети Интернет, указанному Партнером в Программе лояльности.
3.1.5. Присоединяясь к Технологии АЛОЛЬ, принимая Правила и соглашаясь с ними, Участник принимает оферту на заключение между ним и АЛОЛЬ договора оказания возмездных информационно-технологических услуг, включая информационно-технологические услуги по обеспечению расчетов и коммуникаций.
3.1.6.  Принятие Правил АЛОЛЬ происходит путем совершения действий по принятию Правил (проставление отметки/чекбокса, нажатие кнопки &laquo;Согласен&raquo;, &laquo;Принимаю&raquo; или аналогичной в соответствующем разделе на Сайте АЛОЛЬ). Дата принятия Правил определяется автоматически программными средствами Технологии АЛОЛЬ при выполнении указанных действий.
3.1.7. Размер вознаграждения АЛОЛЬ за услуги, оказываемые Участнику, срок и порядок его уплаты устанавливается в Тарифах, публикуемых на Сайте (<a href="https://iconto.net/wallet/tariffs" data-bypass target="_blank">https://iconto.net/wallet/tariffs</a>), и может быть изменен АЛОЛЬ по своему усмотрению в любой момент в порядке, указанном в пункте 8.1 Правил. При изменении размера вознаграждения в действующих Тарифах возврат части суммы вознаграждения не осуществляется, требование по доплате вознаграждения по отношению к уже присоединившимся Участникам не применяется.
3.1.8. Оплата услуг АЛОЛЬ происходит путем удержания денежных средств в размере, установленном Тарифами, до зачисления на счет Карты или иного Электронного средства платежа, либо списания денежных средств с Карты или иного Электронного средства платежа, использованных для формирования УИН или указанных Участником для получения КэшБэка, с чем Участник безусловно и безоговорочно соглашается, принимая Правила АЛОЛЬ и предоставляя АЛОЛЬ заранее данный акцепт на удержание/списание указанной суммы.
3.1.9.  Получая КэшБэки и выполняя иные действия, как того требуют Правила, Программа лояльности, условия договоров со Сторонами и другие обязательные применимые документы, Участник подтверждает, что он ознакомился с Правилами, безусловно согласен с ними и обязуется их соблюдать. Присоединяясь к Технологии АЛОЛЬ, Участник дает согласие на рассылку (отправку Участнику) сообщений на номер сотового телефона и адрес электронной почты, которые Участник самостоятельно и по своей инициативе предоставляет при присоединении к Технологии АЛОЛЬ. Параметры рассылки информационных и рекламных сообщений могут быть изменены в Личном кабинете.
3.1.10.  При присоединении к Технологии АЛОЛЬ Участник обязуется указать достоверную информацию о себе и представить иные сведения, о которых будет запрошено на Сайте при регистрации.

3.2. Присоединение к Технологии АЛОЛЬ, подключение Карты или иного Электронного средства платежа.
3.2.1.  Карта или иное Электронное средство платежа и их данные являются средством и способом сопоставления информации о Транзакциях, имеющейся у Сторон. Их использование для формирования УИН является непреложным условием взаимодействия Сторон.
3.2.2.  Подключение Карты или иного Электронного средства платежа к Технологии АЛОЛЬ может происходить как в отношении уже выпущенной Карты или созданного Электронного средства платежа), так и в отношении вновь выпускаемой Карты или вновь созданного Электронного средства платежа.
3.2.3. При открытии счета и выпуске Карты к нему, при создании Электронного средства платежа и получении средств доступа к нему, присоединение к Технологии АЛОЛЬ может происходить путем совершения действий, указанных в пункте 3.1.6, на сайтах Партнеров или Банков, a также путем подписания документов (заключения договоров) с Партнерами или Банками. Партнеры и Банки в этом случае обеспечивают получение явно выраженного и недвусмысленного согласия Участника с Правилами АЛОЛЬ. Если такое согласие получено и подтверждено, Участник считается принявшим оферту АЛОЛЬ, содержащуюся в Правилах.
3.2.4. При подключении Карты или иного Электронного средства Платежа, формировании УИН, а также при совершении Участником действий, направленных на получение КэшБэка, от Участника может потребоваться осуществление верификационного платежа с использованием Электронного средства платежа, с помощью которого он намерен сформировать УИН или получить КэшБэк. Верификация производится осуществлением транзакции авторизации по платежным данным на случайную сумму в диапазоне, устанавливаемом Тарифами.
3.2.5. При принятии Участником Правил, Участнику создается Личный кабинет для получения сведений о покупках (время и дата, сумма и другие параметры), ведения учета покупок, информационного взаимодействия с Партнером, получения информации о Программах лояльности, других программах и акциях поощрения, информации и уведомлений о выплаченных и начисленных КэшБэках, подключения или отключения Карт и иных электронных средств платежа, добавления или изменения информации о себе и своих данных для уведомлений, настройки КэшБэков и формирования персональных специальных предложений, бюджетирования финансов.
Вся информация, находящаяся в Личном кабинете Участника, включая УИН, хранится, обрабатывается и защищается в соответствии с действующим законодательством (раздел 9 Правил).
3.2.6.  Информация о Транзакциях поступает Участнику от Банка непосредственно в Личный кабинет Участника. В Личном кабинете Участник может выбрать способ получения информации о транзакциях: SMS-уведомления или электронная почта. В зависимости от выбранного способа Участнику будет предоставлен индивидуальный адрес электронной почты либо индивидуальный федеральный номер телефона для приема SMS.

3.3. Использование Технологии АЛОЛЬ Участником.
3.3.1.  Участник в любое время может получить актуальную информацию о Технологии АЛОЛЬ и условиях предоставления услуг на Сайте или через соответствующее мобильное приложение.
3.3.2.  Участник получает информацию о сумме КэшБэков, количестве и сумме Транзакций в Личном кабинете.
3.3.3.  Участник обязуется не разглашать и не сообщать кому-либо информацию о своих средствах доступа (пароль, логин, иная контрольная информация) в Личный кабинет на Сайте, и подтверждает, что единолично, безусловно и безоговорочно отвечает перед АЛОЛЬ и Сторонами по всем возможным претензиям, обязуется возместить в полном объеме все возможные убытки, вызванные таким нарушением.
3.3.4. Принимая Правила и соглашаясь с ними, принимая оферту АЛОЛЬ, Участник получает неисключительное, неограниченное по территории использования, неограниченное по времени право использования программного обеспечения Технологии АЛОЛЬ в личных некоммерческих целях (без права на распространение, декомпиляцию, модификацию, передачу третьим лицам). Такое программное обеспечение АЛОЛЬ предоставляется на условиях &laquo;как есть&raquo;. Участник полностью и единолично несет любую ответственность за любые нарушения прав и законных интересов любых третьих лиц, включая убытки (в виде реального ущерба и упущенной выгоды), если таковые произошли по причине нарушения Участником Правил или неправомерного использования Технологии АЛОЛЬ и включенного в него программного обеспечения.
3.3.5. Участник считается принявшим оферту АЛОЛЬ, если принял условия Правил и согласился с ними. Но в случае, если Участник не присоединил к Технологии АЛОЛЬ Карту или иное Электронное средство платежа, это влечет невозможность выплаты КэшБэка, и у Участника не возникает права требовать такой выплаты КэшБэка, а возможности Технологии АЛОЛЬ по выплате КэшБэка становятся ему недоступными.
3.3.6. При обнаружении Участником на веб-странице или приложениях АЛОЛЬ оскорбительной, сексуальной или иной информации ненадлежащего содержания, Участник может сообщить об этом АЛОЛЬ, а АЛОЛЬ обязуется устранить такой контент в течении 24 часов с момента получения обращения.

3.4. Согласие на обработку и хранение персональных данных. Согласие на получение информации в Личный кабинет.
3.4.1. Присоединяясь к Технологии АЛОЛЬ, Участник дает согласие на обработку информации о себе, предоставленной им как при присоединении, так и при дальнейшем использовании Технологии АЛОЛЬ (согласие на обработку и хранение персональных данных, далее &mdash; Согласие).
Это означает, что Участник добровольно, полностью и безусловно соглашается:
&bull; предоставить АЛОЛЬ свои актуальные, действительные и достоверные персональные данные в целях исполнения обязательств АЛОЛЬ перед Участником (настоящих Правил),
&bull; предоставить АЛОЛЬ право и возможность передавать свои персональные данные Партнерам и Банкам в целях исполнения обязательств АЛОЛЬ перед Участником, между Участником и Партнером, между Участником и Банками.
3.4.2.  Участник единолично несет риск возникновения неблагоприятных последствий и ответственность, если при присоединении им указана неточная, неполная или ошибочная информация.
3.4.3.  Обработка и хранение персональных данных, предоставленных Участником АЛОЛЬ, осуществляется на основании согласия Участника и исключительно в целях исполнения обязательств в отношениях между АЛОЛЬ и Участником.
3.4.4.  Если Участник не согласен предоставить свои персональные данные и дать согласие на их обработку, как требуется Правилами, а также, если умышленно предоставил недостоверную информацию о себе, использование Участником Технологии АЛОЛЬ в целях получения КэшБэка невозможно.
3.4.5. Предоставление персональных данных Участником, их обработка и хранение регламентируются настоящими Правилами и Политикой конфиденциальности, которая публикуется на Сайте.
3.4.6. Принимая Правила, Участник безусловно и безоговорочно соглашается получать данные о своих Транзакциях в том числе в свой Личный кабинет, созданный по Технологии АЛОЛЬ, и дает АЛОЛЬ право ссылаться на такое согласие как на полученное и действительное при установлении взаимоотношений между АЛОЛЬ и Банками. Если Участник не согласен получать информацию о Транзакциях в свой Личный кабинет, получение им КэшБэков невозможно.

3.5. Прекращение взаимоотношений.
3.5.1. Участник вправе в любое время отказаться от использования Технологии АЛОЛЬ, получения КэшБэка и выполнения иных действий, предусмотренных Правилами. В этом случае, и немедленно после получения об этом уведомления от Участника, АЛОЛЬ удаляет все данные об Участнике, его Транзакциях, а также все данные, сведения и информацию, касающиеся Участника и имеющиеся у АЛОЛЬ.
3.5.2. Уведомление должно явно и недвусмысленно, прямо и четко выражать волю Участника на расторжение Договора и прекращение использования Технологии АЛОЛЬ.
3.5.3. Ни Партнер, ни Банки, ни АЛОЛЬ не имеют права и не могут препятствовать в реализации Участником права на расторжение договора с Участником и на отказ от использования технологии АЛОЛЬ.

4. Взаимоотношения с Партнерами.
4.1.  Реализация Партнером Программы лояльности осуществляется в соответствии с Правилами АЛОЛЬ и с использованием Технологии iCоnto.
4.2.  Для реализации Программы лояльности с использованием Технологии АЛОЛЬ Партнер должен:
&bull; присоединиться к Правилам и заключить договор с АЛОЛЬ, как указано в пункте 4.3 Правил, или
&bull; заключить с Банком договор (соглашение), устанавливающие порядок взаимодействия, информационного обмена и расчетов между Партнером и Банком при реализации Программы лояльности с использованием Технологии АЛОЛЬ. Такой договор (соглашение) должен соответствовать Правилам и не может содержать положения, противоречащие Правилам.
4.3.  Отношения АЛОЛЬ и Партнера регулируются Договором между ними. Заключение Договора &mdash; акцепт оферты АЛОЛЬ осуществляется Партнером в порядке, указанном в Договоре. Отношения Партнера и Банка (Расчетного банка или Банка-эквайера) регулируются договором (соглашением) между ними.
4.4.  Заключая договор с АЛОЛЬ, как указано в Правилах и самом Договоре, или договор (соглашение с Банком), Партнер подтверждает, что он ознакомился с текстом Правил, принимает их условия, согласен с ними и обязуется их соблюдать.
4.5. В целях выплаты КэшБэков Участникам Партнер принимает или утверждает внутренним организационным документом положения или правила Программы лояльности, которые отражает в своем Личном кабинете.
4.6.  В некоторых случаях использование Партнером Технологии АЛОЛЬ (функции АЛОЛЬ, позволяющие обеспечивать проведение Транзакций и получение платежей от Участников) невозможно, если Партнер не заключил соответствующий договор с Банком.
4.7.  Во исполнение Договора с АЛОЛЬ, Партнер обязуется предоставить АЛОЛЬ всю необходимую и имеющуюся у него информацию о заключенных им Сделках и осуществленных Транзакциях, включая сведения о цене, условиях, характере и точном времени совершения Сделки, условиях Программы лояльности, а также другие сведения, запрашиваемые АЛОЛЬ. АЛОЛЬ гарантирует Партнеру полную конфиденциальность получаемых сведений и информации и их защиту от неправомерного доступа третьих лиц по применимым стандартам защиты информации.
Информация предоставляется Партнером:
&bull; путем сбора и передачи в АЛОЛЬ информации о реализации за отчетный период на основе данных и документов контрольно-кассовой техники, в том числе &mdash; с использованием установленного на ККТ программного обеспечения,
&bull; с использованием технологического канала или данных банка-эмитента электронного средства платежа, с помощью которого осуществлена Транзакция, при наличии договора об информационно-техническом сотрудничестве или информационном обмене между АЛОЛЬ и Банком-эмитентом,
&bull; в порядке, предусмотренном договором эквайринга между Партнером и Банком-эквайером, с учетом требований и с использованием технологического канала Банка-эквайера.
4.8.  В целях перечисления КэшБэков Участникам Партнер по своему выбору и усмотрению:
4.8.1.  На основании данных и реестров, полученных от АЛОЛЬ, перечисляет суммы КэшБэков на счет Расчетного банка по реквизитам, предоставленным Расчетным банком,
4.8.2.  На основании соответствующего дополнительного соглашения к договору эквайринга с Банком-эквайером, данных и реестров, полученных от АЛОЛЬ (включая реестры, направляемые от АЛОЛЬ в Банк-эквайер) поручает Банку-эквайеру удерживать из сумм Транзакций суммы КэшБэков, производить их перечисление Участникам и/или по реквизитам, указанным в пунктах 4.8.1 или 4.8.3 Правил, или
4.8.3. На основании данных и реестров, полученных от АЛОЛЬ, по предварительному согласованию с АЛОЛЬ направляет суммы КэшБэков на расчетный счет АЛОЛЬ, указанный в Договоре.
4.9.  Размер суммы, перечисляемой Партнером по пунктам 4.8.1-4.8.3 Договора, определяется Партнером самостоятельно и по своему усмотрению, исходя из прогнозируемых Партнером размеров КэшБэков, причитающихся к выплате.
4.10.  Партнер осуществляет перечисление сумм КэшБэков в порядке, Правилами, за первый Отчетный период &mdash; в течение 5 (пяти) рабочих дней с даты заключения Договора, за последующие Отчетные периоды &mdash; не позже 5 (пяти) рабочих дней с даты начала текущего Отчетного периода.
4.11.  АЛОЛЬ формирует отчет о рассчитанных КэшБэках и направляет его Партнеру в порядке, предусмотренном Договором, вместе с Актом об оказанных услугах не позже 1 (одного) рабочего дня, следующего за днем окончания Отчетного периода.
4.12.  АЛОЛЬ имеет право приостановить исполнение любых обязательств по Договору при отсутствии или недостаточности средств, предоставленных Партнером в целях выплаты КэшБэков, или в случае неоплаты партнером услуг АЛОЛЬ.
5. КэшБэк.
5.1.  Общие условия начисления и получения КэшБэка Участником.
5.1.1.  Выбор вида КэшБэка, определение его размера и даты вступления в силу размера КэшБэка, сроков выплаты, минимального и максимального порога выплаты и других условия его предоставления, осуществляется Партнером в одностороннем порядке, утверждается им и отражается в Личном кабинете. Участник самостоятельно отслеживает изменение информации о величине КэшБэка на Сайте. Партнер и АЛОЛЬ имеют право уведомлять Участника об изменениях этих сведений в любой момент способами, предусмотренными в Правилах.
5.1.2.  Если Партнер предоставляет Участнику право самостоятельно выбрать, какой КэшБэк получает Участник в рамках Программы лояльности, Участник реализует такое право в порядке, предусмотренном Программой лояльности, а АЛОЛЬ предоставляет Участнику технологическую возможность реализации этого права. Если Участник не реализовал такое право, то считается согласившимся получить обычный КэшБэк по умолчанию.
5.1.3.  Участник получает КэшБэк на Банковский счет, соответствующий Карте, присоединенной к Технологии АЛОЛЬ, или с использованием иного присоединенного к Технологии АЛОЛЬ Электронного средства платежа.
5.1.4.  Участник не сможет получить КэшБэк, если информация, указанная им при присоединении Карты или иного Электронного средства платежа, является или окажется недействительной или неверной. В этом случае присоединение считается несостоявшимся и является недействительным.  При этом Участник несет полную ответственность за последствия предоставления в АЛОЛЬ недостоверных данных.
5.1.5.  Перечисление КэшБэка производится путем осуществления Банками своих обязанностей по договорам между Банками и АЛОЛЬ, Банками и Партнером.
5.1.6.  Минимальная сумма подлежащего выплате КэшБэка, а также правила выплаты или аннулирования КэшБэка при недостижении минимальной суммы к выплате могут устанавливаться Партнером и/или АЛОЛЬ в Тарифах.
5.1.7.  Если иное не установлено Программой лояльности Партнера, КэшБэк выплачивается только один раз в месяц, но не реже. Период (число), в течение (после) которого может быть выплачен КэшБэк, устанавливается по усмотрению Партнера, Банка или АЛОЛЬ, исходя из технологических возможностей Сторон и в соответствии с законодательством РФ об осуществлении безналичных расчетов. Стороны вправе установить иные сроки и периодичность выплаты КэшБэков.
5.1.8.  Партнер обязан самостоятельно урегулировать с Участником вопрос возврата полученного Участником КэшБэка:
&bull; в случае возврата Участником Партнеру Товара (вне зависимости от качества Товара), если Партнером уже был выплачен КэшБэк,
&bull; в случае замены на такой же Товар другой марки (модели, артикула) с возвратом/доплатой разницы в цене или соразмерного уменьшения покупной цены.
В случае возврата Участником Партнеру Товара, и возврата Партнером Участнику денежных средств, сумма ранее перечисленного КэшБэка, начисленного на Транзакцию по приобретению возвращенного Товара, удерживается из сумм КэшБэка, перечисляемого в пользу Участника в последующем. При невозможности совершить указанные действия, Участник обязан возвратить сумму КэшБэка Партнеру самостоятельно любыми доступными Участнику способами не позднее 7 (Семи) календарных дней с момента возврата Товара.
5.1.9. Расчет, удержание, начисление и перечисление КэшБэка могут быть приостановлены или отменены, если обнаружены случаи мошенничества, нарушения Участником Договора с Участником, Правил, Программы лояльности, действующего законодательства.
5.1.10. За начисление КэшБэка на Карту или иное Электронное средство платежа АЛОЛЬ и Банками могут взиматься комиссии, которые вычитаются из сумм КэшБэков, перечисляемых Участнику, на основании условий договоров между Сторонами, а также между Сторонами и третьими лицами, участвующими в процессе перевода денежных средств по поручению Участника. Обо всех таких случаях Участник будет полностью и заблаговременно проинформирован путем указания комиссий и применимых платежей в Тарифах и/или Личном Кабинете.
5.1.11.  В случае несвоевременного перечисления и/или неперечисления Партнером сумм КэшБэков, подлежащих выплате Участникам, Партнер несет ответственность перед Участниками за неполучение и/или несвоевременное получение ими КэшБэков.
5.1.12.  В случае предъявления претензий Участниками к АЛОЛЬ или Банкам и привлечения АЛОЛЬ или Банков к ответственности за несвоевременное предоставление и/или не предоставление КэшБэка, вызванное несвоевременным перечислением Партнером денежных средств, Партнер обязуется в полном объеме возместить АЛОЛЬ или Банкам причиненные указанными действиями убытки.
5.1.13.  С даты прекращения действия Программы лояльности начисление и перечисление КэшБэка Участникам прекращается, за исключением КэшБэков, рассчитанных и начисленных по Транзакциям, совершенным в пределах срока действия Программы лояльности.
5.1.14. Участник, не присоединивший к Технологии АЛОЛЬ Карту или иное Электронное средство платежа, получает информацию о начисленных КэшБэках. Информация о начисленных КэшБэках, отражаемая в Личном кабинете, является справочной и не порождает прав и обязанностей Сторон до тех пор, пока Участник не присоединит к Технологии АЛОЛЬ Карту или иное Электронное средство платежа. Информация о начисленных КэшБэках будет отражаться накопительно в течение 6 (шести) месяцев с момента принятия Правил Участником, после чего информация удаляется, а начисление КэшБэков начинается заново с отметки &laquo;0&raquo;.
5.1.15. Если Участник присоединил к Технологии АЛОЛЬ несколько Карт или иных Электронных средств платежа, то выплата КэшБэка производится с использованием любого из них по указанию и на усмотрение Участника.
5.1.16. Если Карта или Электронное средство платежа присоединены к Технологии АЛОЛЬ, но Участник в течение 6 (шести) месяцев с момента принятия Правил или последней выплаты КэшБэков не дал распоряжения о выплате КэшБэка, то начисленные КэшБэки аннулируются, денежные средства возвращаются предоставившим их Сторонам, а все обязательства Сторон по отношению к Участнику прекращаются. Начисление КэшБэков при этом возобновляется с даты осуществления первой Транзакции в течение дня, следующего за днем истечения 6-месячного срока.

5.2.  Правила расчета КэшБэка.
5.2.1.  В случае совершения Участником Транзакции, являющейся основанием для начисления обычного КэшБэка, АЛОЛЬ производит расчет причитающегося к выплате КэшБэка, равного определенному проценту от суммы Транзакции. Процент от суммы Транзакции устанавливается Партнером в Программе лояльности.
В случае совершения Участником Транзакции, являющейся основанием для начисления КэшБэка Плюс, АЛОЛЬ производит расчет причитающегося к выплате КэшБэка Плюс, исходя из соответствующей величины в размере определенного процента от суммы Транзакции и установленной Партнером. Подлежащий к перечислению КэшБэк Плюс после проведения первоначальной Транзакции Участнику не перечисляется, но учитывается АЛОЛЬ. КэшБэк Плюс подлежит перечислению Участнику только в случае совершении Участником последующей Транзакции или в других случаях, определяемых Партнером в Программе лояльности.
5.2.2.  Величина конвертации КэшБэка Плюс в КэшБэк может зависеть от суммы последующей Транзакции:
&bull; если величина конвертируемого КэшБэка Плюс меньше или равна сумме последующей Транзакции, АЛОЛЬ конвертирует КэшБэк Плюс в КэшБэк в полном объеме и перечисляет соответствующую сумму Участнику.
&bull; если величина конвертируемого КэшБэка Плюс больше суммы последующей Транзакции, АЛОЛЬ конвертирует КэшБэк Плюс в КэшБэк не более величины последующей Транзакции и перечисляет соответствующую сумму Участнику.
Оставшаяся часть КэшБэка Плюс при этом продолжает учитываться АЛОЛЬ и будет перечислена Участнику при осуществлении последующих Транзакций.
5.2.3. Другие виды КэшБэков и правила их расчета, предоставления и выплаты могут устанавливаться Партнером в Программе лояльности.

5.3. Правила выплаты КэшБэка.
5.3.1.  Партнер на основании договора с АЛОЛЬ и руководствуясь данными о Транзакциях и суммах КэшБэков, рассчитанных и предоставленных АЛОЛЬ, направляет сумму КэшБэков Расчетному банку или АЛОЛЬ, либо дает поручение Банку-эквайеру на удержание и направление сумм КэшБэков, как определено в договоре между АЛОЛЬ и Партнером и/или договором с Банком-эквайером.
5.3.2.  При направлении сумм КэшБэков в Расчетный банк:
5.3.2.1. АЛОЛЬ направляет соответствующие данные и реестры в Расчетный банк.
5.3.2.2.  Расчетный банк, руководствуясь Правилами, договором с АЛОЛЬ, в рамках договора между Расчетным банком и Банком (если имеется и если это применимо), а также на основании предоставленных АЛОЛЬ данных и реестров перечисляет КэшБэки:
&bull; Участникам &mdash; клиентам Расчетного банка,
&bull; Банкам-эмитентам &mdash; для дальнейшего зачисления на Счета или Электронные средства платежа Участников &mdash; клиентов Банков-эмитентов,
и информирует об этом АЛОЛЬ.
5.3.2.3.  АЛОЛЬ, на основании полученной от Расчетного банка информации, формирует и направляет в Банки-эмитенты соответствующие реестры по формам, установленным договорами между АЛОЛЬ и Банками-эмитентами.
5.3.2.4. Банки-эмитенты, руководствуясь Правилами, договором с АЛОЛЬ, в рамках договора между Расчетным банком и Банком-эмитентом (если имеется и если это применимо), а также на основании предоставленных АЛОЛЬ данных и реестров перечисляют КэшБэки Участникам &mdash; клиентам Банков-эмитентов на их Счета или Электронные средства платежа, и уведомляют об этом Участника и АЛОЛЬ.
5.3.2.5. АЛОЛЬ уведомляет Участников о произведенном начислении КэшБэков и сообщает информацию о начислениях Партнерам и Расчетному банку.
5.3.3. При удержании сумм КэшБэков Банком-эквайером (в том числе, Расчетным банком в качестве Банка-эквайера):
5.3.3.1. АЛОЛЬ направляет соответствующие данные и реестры Партнеру и Банку-эквайеру.
5.3.3.2.  Банк-эквайер, руководствуясь Правилами, договором с Партнером, в рамках договора между Банком-эквайером и Расчетным банком или Банком-эмитентом (если имеется и если это применимо), а также на основании предоставленных АЛОЛЬ данных и реестров перечисляет КэшБэки:
&bull; Участникам &mdash; клиентам Банка-эквайера,
&bull; Расчетному банку &mdash; для дальнейшего зачисления на Счета или Электронные средства платежа Участников &mdash; клиентов Расчетного банка,
&bull; Банкам-эмитентам &mdash; для дальнейшего зачисления на Счета или Электронные средства платежа Участников &mdash; клиентов Банков-эмитентов,
и информирует об этом АЛОЛЬ.
5.3.3.3.  АЛОЛЬ, на основании полученной от Банка-эквайера информации, формирует и направляет в Расчетный банк, Банки-эмитенты соответствующие реестры по формам, установленным договорами между АЛОЛЬ и Банками-эмитентами.
5.3.3.4. Банки-эмитенты, руководствуясь Правилами, договором с АЛОЛЬ, в рамках договора между Расчетным банком и Банком-эмитентом (если имеется и если это применимо), а также на основании предоставленных АЛОЛЬ данных и реестров перечисляют КэшБэки Участникам &mdash; клиентам Банков-эмитентов на их Счета или Электронные средства платежа, и уведомляют об этом Участника и АЛОЛЬ.
5.3.3.5. АЛОЛЬ уведомляет Участников о произведенном начислении КэшБэков и сообщает информацию о начислениях Партнерам, Расчетному банку и Банку-эквайеру.
5.3.4. При перечислении сумм КэшБэков на расчетный счет АЛОЛЬ:
5.3.4.1. АЛОЛЬ направляет суммы КэшБэков, соответствующие данные и реестры в Расчетный банк или Банк-эмитент при наличии технической возможности и в порядке, предусмотренном договором между АЛОЛЬ и Расчетным банком, или АЛОЛЬ и Банком-эмитентом.
5.3.4.2. Дальнейший порядок действий аналогичен пп. 5.3.2.2 &mdash; 5.3.2.5, или 5.3.3.2 &mdash; 5.3.3.5 Правил АЛОЛЬ.

5.4. Порядок разрешения спорных ситуаций.
5.4.1. В случае, если какая-либо из Сторон выявляет расхождения в документах и информации, она обязана незамедлительно всеми доступными средствами и способами связи уведомить об этом АЛОЛЬ и другие Стороны.
5.4.2. АЛОЛЬ обязано в течение 3 (трех) рабочих дней провести расследование и по его результатам:
&bull; отклонить информацию о выявленных расхождениях, если они не подтвердились, и уведомить об этом заинтересованные Стороны,
&bull; осуществить корректировку в создаваемых АЛОЛЬ реестрах, данных, уведомлениях и информации, и инициировать проведение корректирующих расчетов между Сторонами.
5.4.3. Корректирующие расчеты между Сторонами проводятся:
А) если выявлено расхождение между рассчитанным КэшБэком и фактически перечисленной Партнером суммой &mdash; в большую сторону (КэшБэк больше фактической суммы) &mdash; в виде дополнительного перечисления Партнером денежных средств (доплата) в порядке, установленном разделом 5.3,
Б) если выявлено расхождение между рассчитанным КэшБэком и фактически перечисленной Партнером суммой &mdash; в меньшую сторону (КэшБэк меньше фактической суммы) &mdash; в виде возврата Партнеру Расчетным банком или АЛОЛЬ излишне перечисленных Партнером денежных средств (возврат), или в виде зачета излишне перечисленных сумм при перечислении КэшБэков в последующих Отчетных периодах (зачет),
В) если Транзакция признана мошеннической или ошибочной, по ней произведен возврат, а КэшБэк еще не получен Участником &mdash; в виде возврата суммы КэшБэка Партнеру банками или АЛОЛЬ,
Г) если Транзакция признана мошеннической или ошибочной, по ней произведен возврат, а КэшБэк уже получен Участником &mdash; в виде списания суммы КэшБэка Банками со Счета или Электронного средства платежа Участника и возврата в Расчетный банк, а затем Расчетным банком &mdash; Партнеру, при наличии средств на Счете или Электронном средстве платежа Участника.
5.4.4. В случае, предусмотренном подпунктом Г) пункта 5.4.3, если на Счете или Электронном средстве платежа Участника недостаточно средств, то Банк производит списание при поступлении средств. Если поступления не происходит в течение 3 (трех) месяцев, Банк уведомляет об этом АЛОЛЬ и Партнера. Партнер самостоятельно, но с помощью Сторон формирует требование о взыскании соответствующей суммы к Участнику и направляет его в суд от своего имени.
5.4.5. Во всех случаях, когда произведены корректирующие расчеты, производится перерасчет (возврат или доплата) вознаграждения, если таковое было получено какой-либо Стороной по условиям Правил или договоров между ними.

5.5.  Взаимоотношения АЛОЛЬ, Расчетного банка и Банков.
Взаимоотношения АЛОЛЬ, Расчетного банка и Банков, включая их условия получения ими вознаграждения за информационно-технологическое обеспечение расчетов и иные услуги, оказываемые в рамках Правил, устанавливаются, определяются и регулируются договорами между указанными Сторонами.

6. Ответственность.
6.1.  АЛОЛЬ предпринимает все необходимые технические и организационные меры по обеспечению информационной безопасности и нормальной работоспособности Сайта и Технологии АЛОЛЬ, однако ни при каких обстоятельствах не несет ответственности за неисполнение или ненадлежащее исполнение обязательств, а также возможный ущерб, возникший в результате:
&bull; неправомерных действий третьих лиц, направленных на нарушения информационной безопасности или нормального функционирования Сайта,
&bull; сбоев в работе сайта, вызванных ошибками в коде, компьютерными вирусами и иными посторонними фрагментами кода в программном обеспечении Сайта, кроме случаев, допущенных по вине АЛОЛЬ,
&bull; отсутствия (невозможности установления, прекращения и пр.) Интернет-соединений между серверами Участника и сервером Сайта, и/или серверами Сторон,
&bull; проведения уполномоченными органами мероприятий в рамках СОРМ (Системы оперативно-розыскных мероприятий),
&bull; установления государственного регулирования (или регулирования иными организациями) хозяйственной деятельности коммерческих организаций в сети интернет и/или установления указанными субъектами разовых ограничений, затрудняющих или делающих невозможным исполнение обязательств Партнера по Программе лояльности,
&bull; других случаев, связанных с действиями (бездействием) пользователей сети Интернет и/или других субъектов, направленными на ухудшение общей ситуации с использованием сети интернет и/или компьютерного оборудования, существовавшей на момент присоединения Участника.
6.2.  АЛОЛЬ не несет ответственности за убытки, причиненные Участнику в результате сообщения Участником недостоверной информации, а также причиненные действиями (бездействием) Участника ему самому или любым третьим лицам.
6.3.  АЛОЛЬ не несет ответственности за убытки, причиненные Участнику в результате разглашения третьим лицам информации, предоставленной Участником, произошедшего не по вине АЛОЛЬ.
6.4.  Ответственность АЛОЛЬ перед Сторонами за нарушение Правил ограничивается в случае любой претензии, связанной с начислением КэшБэка&mdash;выполнением действий для получения Участником надлежащих сумм КэшБэка.
6.5.  АЛОЛЬ не несет ответственности по спорам и разногласиям, возникающим между Сторонами, если такие споры и разногласия не вызваны нарушениями АЛОЛЬ своих обязательств.
6.6.  Ни одна из Сторон не несет ответственности за неисполнение или ненадлежащее исполнение своих обязательств, если это было вызвано чрезвычайными и непредотвратимыми при данных условиях обстоятельствами, которые Стороны не могли разумными мерами ни предвидеть, ни предотвратить (обстоятельства непреодолимой силы).
6.7.  В случае, если АЛОЛЬ вынужденно приостанавливает действие Технологии АЛОЛЬ по обстоятельствам непреодолимой силы, то в этом случае Стороны уведомляются о таком приостановлении в разумный срок.
6.8.  В случае действия обстоятельств непреодолимой силы более 3 (трех) месяцев, любая Сторона вправе в одностороннем порядке отказаться от исполнения своих обязательств по настоящим Правилам.

7. Споры.
7.1.  Особый порядок разрешения спорных ситуаций по расчету, начислению и возврату КэшБэков установлен пунктом 5.4 Правил. В случае возникновения между Сторонами иных споров, связанных с исполнением настоящих Правил, Стороны примут все меры к разрешению их путем переговоров между собой.
7.2.  В случае невозможности разрешения указанных споров путем переговоров, они должны решаться в компетентном суде в соответствии с законодательством Российской Федерации при условии обязательного соблюдения претензионного порядка. Срок ответа на претензию &mdash; 30 (тридцать) календарных дней с момента ее получения.

8. Прочие условия.
8.1.  АЛОЛЬ имеет право в одностороннем порядке изменять Правила путем опубликования новой редакции Правил на Сайте. Измененные Правила вступают в силу по истечении 15 (пятнадцати) календарных дней с даты опубликования на Сайте. В случае, если Сторона по истечении 15-дневного срока не заявила об отказе принять новую редакцию Правил, либо о желании расторгнуть Договор, либо не удалила свои регистрационные данные, то считается принявшим новую редакцию Правил и полностью согласившейся с ней. Внесение изменений в Правила не освобождает Сторону от исполнения обязательств, возникших до внесения изменений. АЛОЛЬ предпримет все необходимые меры с целью своевременного уведомления Сторон о планируемых изменениях.
8.2.  Стороны обязуются самостоятельно отслеживать внесение изменений и дополнений в Правила. Отсутствие возражений Сторон и продолжение выполнения ими Правил в новой редакции является их абсолютным и полным согласием с новой редакцией Правил.
8.3.  АЛОЛЬ вправе без каких-либо последствий и ответственности для себя отказаться от своих обязательств перед любым Участником, уведомив Участника о том любым доступным и применимым способом, если Участник:
&bull; допускает нарушения действующего законодательства РФ, условий Договора, Правил, других применимых документов,
&bull; отзывает согласие на обработку персональных данных,
&bull; расторгает договор или соглашение с Партнером или Банком по любым причинам и при любых обстоятельствах, если при этом Участник утрачивает право на начисление КэшБэка и возможность пользоваться своим Электронным средством платежа,
&bull; в других случаях, установленных Договором или действующим законодательством РФ.
8.4.  АЛОЛЬ оставляет за собой право приостанавливать работу Сайта и Технологии АЛОЛЬ для проведения профилактических работ, по возможности в ночное время или выходные дни. АЛОЛЬ предпримет все необходимые меры с целью своевременного уведомления Сторон о планируемых профилактических работах.
8.5.  Стороны понимают и выражают свое согласие с тем, что АЛОЛЬ использует любые информацию и сведения о Транзакциях Участника, предоставленные АЛОЛЬ самим Участником или Банком по поручению Участника, или иным законным образом полученные АЛОЛЬ в интересах Участника, в целях получения Участником КэшБэка и исполнения иных обязательств перед ним.

9. Безопасность.
9.1.  АЛОЛЬ предпринимает необходимые технические и организационные меры информационной безопасности, чтобы предотвратить утечку информации и свести такие риски к минимуму. Такие меры включают: использование брандмауэров, размещение носителей информации в защищенных серверных центрах, шифрование, трансляцию сетевых адресов и скрытие внутренней структуры сети АЛОЛЬ, развертывание надлежащих систем и процедур управления правами доступа.
9.2.  Для защиты от случайной утраты и/или повреждения персональных данных используется резервное копирование данных.
9.3.  Для защиты конфиденциальности и безопасности при взаимодействии пользователей с сайтом используются стандартные для отрасли меры безопасности, в том числе обеспечиваемые протоколом &laquo;Secure Sockets Layer&raquo; (&laquo;SSL&raquo;).
9.4.  АЛОЛЬ самостоятельно определяет перечень организационных, финансовых, технических и юридических мер, состав и характеристики программно-аппаратных средств для сохранения в тайне информации Сторон и обеспечения санкционированного доступа к ней Сторон.
9.5.  АЛОЛЬ не несет ответственность за убытки, причиненные Сторонам в результате нарушения прав доступа к конфиденциальной или тайной информации Сторон, или ее разглашения, произошедших не по вине АЛОЛЬ.

10. Заявление
10.1. Настоящим АЛОЛЬ подтверждает, что приложение АЛОЛЬ может содержать или предоставлять информацию о
		    состязании или конкурсе, организованном и проводимом Партнерами с использованием приложения АЛОЛЬ (технологии
		    АЛОЛЬ), и любые такие состязания и конкурсы не связаны косвенно или напрямую с Apple и/или Google или какими-либо
		    связанными с Apple и/или Google лицами, а Apple и/или Google и связанные с ним лица не являются ни спонсорами таких
		    состязаний или конкурсов, ни в какой-либо другой форме вовлеченными в такие состязания или конкурсы. Все вопросы,
		    связанные с возможными состязаниями и конкурсами являются ответственностью Партнера, запустившего программу
		    лояльности, содержащую такие состязания или конкурсы.
</pre>