<h4 class="text-center">Тарифы вознаграждения АЛОЛЬ<br/>(редакция от 16 июня 2014 года)</h4>

<table>
  <thead>
  <tr>
    <th width="50">№</th>
    <th>Услуга</th>
    <th>Стоимость</th>
  </tr>
  </thead>
  <tbody>
  <tr>
    <td>1</td>
    <td>Оплата услуг по информационно-технологическому обеспечению расчетов.</td>
    <td>10 % от суммы перечисленного КэшБэка*, мин. 30 руб.</td>
  </tr>
  </tbody>
</table>

<p>Примечания:</p>
<p>1) * Не облагается НДС на основании подпункта 3 пункта 4 ст. 149 НК РФ</p>
<p>2)	Ограничение на выплаты КэшБэков: согласно Правилам АЛОЛЬ, редакция от 05 июня 2014 года.</p>
