<h4 class="text-center">Условия использования АЛОЛЬ</h4>
<pre>
Настоящие условия использования АЛОЛЬ (далее – Условия) устанавливают порядок и правила использования АЛОЛЬ Участниками.
Условия обязательны для исполнения всеми лицами, использующими АЛОЛЬ, независимо от того, используется ли таким лицом какая-либо другая возможность, предоставляемая АЛОЛЬ такому лицу с использованием Технологии АЛОЛЬ.
Термины и определения, используемые в Условиях, а также их значения приведены и описаны в Правилах АЛОЛЬ, расположенных по адресу <a href="https://iconto.net/rules" data-bypass target="_blank">https://iconto.net/rules</a>.
Условия являются неотъемлемой частью Правил, и приводятся отдельно лишь с целью обеспечить удобство использования АЛОЛЬ.
Для того, чтобы использовать АЛОЛЬ, Участник должен принять настоящие Условия и согласиться с ними.
В случае, если Участник уже принял Правила АЛОЛЬ и согласился с ними (принял оферту АЛОЛЬ), доступ к АЛОЛЬ предоставляется ему автоматически.
В случае, если Участник не принимал Правила АЛОЛЬ и не соглашался с ними, но согласился с настоящими Условиями, такой Участник считается принявшим оферту АЛОЛЬ на оказание информационно-технологических услуг путем предоставления доступа к возможности использования только АЛОЛЬ. В этом случае на Участника распространяются положения Правил АЛОЛЬ, но в части, регулирующей отношения АЛОЛЬ и Участника в общем, а также использования Технологии АЛОЛЬ в виде АЛОЛЬ, включая положения об оплате услуг АЛОЛЬ и Тарифы АЛОЛЬ (если применимо).
АЛОЛЬ запрещается использовать в целях, противоположных действующему законодательству РФ. Принимая настоящие Условия и соглашаясь с ними, используя АЛОЛЬ, каждый Участник гарантирует АЛОЛЬ, что своими действиями по использованию АЛОЛЬ не будут нарушать права и законные интересы третьих лиц  и не будет использовать АЛОЛЬ в каких-либо незаконных целях.
АЛОЛЬ предоставляется на условиях «как есть». АЛОЛЬ не гарантирует постоянную и бесперебойную работу АЛОЛЬ или постоянный доступ к АЛОЛЬ, хотя предпринимает все возможное, чтобы достичь этого. АЛОЛЬ не гарантирует соответствие АЛОЛЬ ожиданиям Участника и не несет ответственности за действия Участника, совершенные с использованием АЛОЛЬ.
</pre>