<img class="big-pnf-logo" src="<%= asset_path '404.svg' %>" alt=""/>

<div class="info">
	<p>
		<span class="accent">Мы не виноваты ;)</span><br>
		Попробуйте найти нужную информацию на главной странице.
	</p>

	<a href="mailto:welcome@alol.io" class="theme" data-bypass>Сообщить об ошибке</a>

</div>