<div class="search-wrapper" data-bind="toggle: state_showSearch">
  <input type="text" class="search" data-bind="value: trim(query), events: ['input', 'paste', 'change']" placeholder="Поиск"/>
</div>

<div class="list-items" data-scroll></div>
