<div class="topbar-region theme"
     data-bind="classes: { 'has-tabs': length(state_tabs), 'has-breadcrumbs': length(state_breadcrumbs), 'has-title': state_topbarTitle, 'has-subtitle': state_topbarSubtitle  }">
    <div class="flexbox">
        <button class="left-small" type="button" data-bind="attr: { class: state_topbarLeftButtonResultClass }, disabled: state_topbarLeftButtonDisabled">
            <span data-bind="attr: { class: state_topbarLeftButtonSpanClass }, text: state_topbarLeftButtonSpanText"></span>
        </button>

        <div class="middle-small" data-bind="attr: { 'data-padding-left': state_topbarLeftButtonVisible, 'data-padding-right': state_topbarRightButtonVisible }">
            <div class="title" data-bind="text: state_topbarTitle"></div>
            <div class="subtitle" data-bind="text: state_topbarSubtitle"></div>
        </div>

        <button class="right-small" type="button" data-bind="attr: { class: state_topbarRightButtonResultClass }, disabled: state_topbarRightButtonDisabled">
            <!--<div data-bind="toggle: not(state_topbarRightLogoUrl), attr:{class:format('room-view-logo icon $1', state_topbarRightLogoIcon)}"></div>-->
            <!--<div data-bind="toggle: state_topbarRightLogoUrl, css: { 'background-image': format('url($1)', state_topbarRightLogoUrl) }" class="room-view-logo image"></div>-->
            <span data-bind="attr: { class: state_topbarRightButtonSpanClass }, text: state_topbarRightButtonSpanText"></span>
        </button>
    </div>
</div>