<div class="menu-items">
	<a class="taxi button list-item menu-item">
		<i class="ic-taxi"></i>
		<span class="content">Вызов такси</span>
		<i class="ic-chevron-right"></i>
	</a>

	<a class="restaurant-booking button list-item menu-item">
		<i class="ic-cutlery"></i>
		<span class="content">Бронь столиков в ресторанах</span>
		<i class="ic-chevron-right"></i>
	</a>

	<a class="beauty-salon button list-item menu-item">
		<i class="ic-mirror"></i>
		<!--<i class="ic-barbershop-equipment"></i>-->
		<span class="content">Запись в салоны красоты</span>
		<i class="ic-chevron-right"></i>
	</a>

	<a class="flowers-delivery button list-item menu-item">
		<i class="ic-gift"></i>
		<span class="content">Доставка цветов и подарков</span>
		<i class="ic-chevron-right"></i>
	</a>

	<a class="supermarket button list-item menu-item">
		<i class="ic-cart"></i>
		<span class="content">Супермаркет на дом</span>
		<i class="ic-chevron-right"></i>
	</a>

	<a class="food-delivery button list-item menu-item">
		<i class="ic-dish"></i>
		<span class="content">Доставка еды из ресторанов</span>
		<i class="ic-chevron-right"></i>
	</a>
</div>