<div class="auth-inner">

  <div class="text-center iconto-logo">
    <%= image_tag "logo.png" %>
  </div>

  <div class="text-center" data-bind="text:state_messageText, classes: { 'error': state_error, 'success': state_success }"></div>

	<div class="phone-input">
		<div class="phone-prefix">+7</div>
		<div class="input-wrapper">
			<input type="tel" placeholder="№ телефона" class="radius" maxlength="10" data-bind="value:phone, events: ['input', 'paste']"/>
		</div>
	</div>

  <div class="text-center" data-bind="toggle:not(state_isRegistering)">
    <input type="password" placeholder="Пароль" class="radius" name="password"
           data-bind="value: password, events: ['input', 'paste']"/>
  </div>

  <div class="text-center">
    <button class="button blue filled" name="submit" disabled data-bind="text:select(state_isRegistering, 'Зарегистрироваться', 'Войти')">OK</button>
  </div>

	<div class="text-center">
		<span class="change-mode-button" data-bind="text:select(state_isRegistering, 'Вход', 'Регистрация')"></span>
	</div>

</div>