<ul class="list l-m-0" data-bind="classes:{hide: state_isLoadingMore}"></ul>
<div class="inner-lists-wrapper"></div>
<div class="loader-bubbles theme" data-bind="classes:{hide: not(state_isLoadingMore)}"></div>