<div class="send-icon ic-send"></div>
<div class="content">{{=title}}</div>
<div class="arrow-right ic-chevron-right"></div>
<div class="list-wrapper scroll-parent">
	<button class="menu-item list-item close" tabindex="-1">
		<div class="ic-chevron-left"></div>
		<div class="content">{{=title}}</div>
	</button>
	<ul class="list"></ul>
</div>
