<div class="bank-image">
	<img src="{{= bank.image.url }}" alt=""/>
</div>
<div class="card-info">
	<div class="bank-name">{{- bank.name }}</div>
	<div class="card-name">{{- title }}</div>
	<div class="card-number">{{= card_number.replace(/x/g, "*") }}</div>
</div>
