<div class="image-preview">
	<div class="image" style="background-image: url('{{= imgDataUrl }}')"></div>
	<i  class="remove-button ic-cross"></i>
	<div class="progress-bar"><div class="progress"><span class="text"></span></div></div>
</div>
