<div class="list">
	<!--<div class="category">-->
		<!--<div class="title">Sushi</div>-->
		<!--<i class="ic-chevron-right"></i>-->
	<!--</div>-->

	<!--<div class="category">-->
		<!--<div class="title">Wok</div>-->
		<!--<i class="ic-chevron-right"></i>-->

		<!--<div class="subcategories hide">-->
			<!--<div class="content">-->
				<!--<div class="category">-->
					<!--<div class="title">Mini wok</div>-->
					<!--<i class="ic-chevron-right"></i>-->
				<!--</div>-->

				<!--<div class="category">-->
					<!--<div class="title">Normal wok</div>-->
					<!--<i class="ic-chevron-right"></i>-->
				<!--</div>-->

				<!--<div class="category">-->
					<!--<div class="title">Large wok</div>-->
					<!--<i class="ic-chevron-right"></i>-->
				<!--</div>-->
			<!--</div>-->
		<!--</div>-->
	<!--</div>-->

	<!--<div class="category">-->
		<!--<div class="title">Pizza</div>-->
		<!--<i class="ic-chevron-right"></i>-->
	<!--</div>-->
</div>
