			<!-- level 1 -->
<div
	id="catalog-region"
	class="shop-catalog-region-wrapper"
    data-bind="classes:{'is-visible': equal(state_stateName, 'catalog')}">
	<div class="shop-catalog-region"></div>
</div>