<div id="menu">
  <div class="row text-center terms-tabs">

    <a class="terms-link">
      <div class="small-12 medium-6 columns terms-tab terms">
        <span>Правила сервиса АЛОЛЬ</span>
      </div>
    </a>

    <a class="tariffs-link">
      <div class="small-12 medium-6 columns terms-tab tariffs">
        <span>Тарифы сервиса АЛОЛЬ</span>
      </div>
    </a>

  </div>
</div>

<div class="row">
  <div class="small-12 columns">
    <div class="data-content"></div>
  </div>
</div>