<h4 class="text-center">Тарифы вознаграждения АЛОЛЬ<br/>(редакция от 23 декабря 2014 года)</h4>

<!-- TODO: move to separate file to require -->
<style>
	p {
		font-size: 14px !important;
		margin-bottom: 10px !important;
	}

	p:first-letter {
		padding: 0 !important;
	}

	ol {
		font-size: 14px;
		margin-bottom: 0;
	}

	table {
		border: solid 1px #999;
		border-collapse: collapse;
	}

	thead th {
		text-align: center !important;
	}

	td {
		border-collapse: collapse;
		border: solid 1px #999;
	}
</style>

<table cellpadding="0" cellspacing="0">
  <thead>
  <tr>
    <th align="center" width="50">№</th>
    <th align="center">Услуга (для пользователей)</th>
    <th align="center">Стоимость</th>
  </tr>
  </thead>

  <tbody>
  <tr>
    <td>1</td>
    <td>Оплата услуг по информационно-технологическому обеспечению расчетов</td>
    <td align="center"><b>10 % от суммы перечисленного КэшБэка*, мин. 30 руб.</b></td>
  </tr>
  </tbody>
</table>

<p>Примечания:</p>
<ol>
  <li>* Не облагается НДС на основании подпункта 3 пункта 4 ст. 149 НК РФ</li>
  <li>Ограничение на выплаты КэшБэков: согласно Правилам <b>АЛОЛЬ</b>, редакция от 23 декабря 2014 года.</li>
</ol>
