<h4 class="text-center">Правила АЛОЛЬ</h4>
<div class="terms-layout">
  <p><strong>Правила АЛОЛЬ</strong></p>

  <p><strong>1. Термины и определения</strong></p>

  <p>В настоящих Правилах применяются следующие термины:</p>

  <p><strong>АЛОЛЬ</strong></p>

  <p>Общество с ограниченной ответственностью «АЛОЛЬ », Россия, 191024, г. Санкт-Петербург, Невский проспект, дом 147,
    ОГРН 1127847386358, ИНН 7840473816,расчетный счет: 40702810090330000311 в ОАО «Банк «Санкт-Петербург»,
    корреспондентский счет: 30101810900000000790, БИК: 044030790.</p>

  <p><strong>АЛОЛЬ</strong>:</p>

  <p>· обладает всеми правами на Технологию<b>АЛОЛЬ</b>, </p>

  <p>· обеспечивает Партнерам технологическую возможность реализации Программы лояльности и оказывает связанные с этим
    информационно-технологические услуги по обеспечению расчетов между Партнером и Участником,</p>

  <p>· с привлечением банков и небанковских кредитных организаций обеспечивает Партнерам - возможность использования
    Технологии <b>АЛОЛЬ</b> и перечисления КэшБэка Участникам, Участникам - возможность использования
    Технологии<b>АЛОЛЬ</b> и получения КэшБэка при оплате Товаров.</p>

  <p><b>Банковский счет</b></p>

  <p>Банковский счет Участника, к которому эмитирована Карта, с которого происходит списание денежных средств для оплаты
    Товара, и на который зачисляется КэшБэк.</p>

  <p><b>Банк-эквайрер</b></p>

  <p>Кредитная организация, обеспечивающая Партнеру возможность приема оплаты Товара с использованием Карты или иного
    Электронного средства платежа (эквайринг). Партнер должен уполномочить Банк-эквайрер удержать суммы КэшБэков из
    выручки по торговым операциям в порядке и на условиях, определенных Правилами и договором между Партнером и
    Банком-эквайрером. Банком-эквайрером могут быть также Банк-эмитент или Расчетный банк.</p>

  <p>Если Банк-эквайрер намеревается присоединиться к Технологии <b>АЛОЛЬ</b>, он должен выразить четкое и
    недвусмысленное согласие с Правилами и принять их путем письменного акцепта или заключения договора с <b>АЛОЛЬ</b>.
  </p>

  <p><b>Банк-эмитент</b></p>

  <p>Кредитная организация, предоставляющая Участнику Электронное средство платежа любого вида.. Банком-эмитентом может
    быть также Банк-эквайрер или Расчетный банк.</p>

  <p>Если Банк-эмитент намеревается присоединиться к Технологии <b>АЛОЛЬ</b>, он должен выразить четкое и
    недвусмысленное согласие с Правилами и принять их путем письменного акцепта или заключения договора с <b>АЛОЛЬ</b>.
  </p>

  <p><b>Банк (Банки)</b></p>

  <p>Банк-эквайрер, Банк-эмитент и Расчетный банк, или Банк-эквайрер и Банк-эмитент, упоминаемые вместе.</p>

  <p><b>Карта</b></p>

  <p>Банковская карта Участника, используемая при покупке и оплате Товара, регистрации Участника на сайте Партнера,
    привязки к Технологии <b>АЛОЛЬ</b>, а также для формирования УИН, зачисления и выплаты КэшБэков.</p>

  <p><strong>КэшБэк (CashBack)</strong></p>

  <p>Скидка в виде возврата части стоимости Товара, которую Партнер обязуется законным способом перечислить Участнику.
    Предоставляется в порядке, предусмотренном Программой лояльности Партнера и Правилами <b>АЛОЛЬ</b>.<strong><i>Размер,
    виды и сроки выплаты КэшБэка устанавливаются Партнером самостоятельно. </i></strong></p>

  <p><strong>Личный кабинет Участника</strong></p>

  <p>Обособленный раздел Сайта или часть мобильного приложения АЛОЛЬс информацией об Участнике, собирается и
    приводится статистическая информация о Транзакциях и КэшБэках, предоставляются средства управления ими, включая
    программные средства формирования запросов на выплаты КэшБэков. Личный кабинет является однопользовательским, доступ
    к нему предоставляется при условии принятия Правил и формирования УИН.</p>

  <p><strong>Личный кабинет Партнера</strong></p>

  <p>Обособленный раздел Сайта или часть мобильного приложения АЛОЛЬc информацией о Партнере, его Программе
    лояльности, программными средствами создания и редактирования Программы лояльности, учета КэшБэков, формирования,
    получения и отправки расчетных документов, актов и счетов, отслеживания статистики и получения иной информации,
    настройки и использования возможностей АЛОЛЬ, в том числе, в целях организации получения платежей в пользу
    Партнера.</p>

  <p><strong>Отчетный период</strong></p>

  <p>Период с первого включительно по последнее число каждого календарного месяца. Первым Отчетным периодом является
    неполный месяц с даты заключения Договора по последнее число календарного месяца, в котором договор был заключен.
    Последним расчетным периодом является неполный календарный месяц, начиная с первого числа месяца, в котором договор
    расторгнут, и заканчивая датой расторжения договора включительно. </p>

  <p><b>Партнер</b></p>

  <p>Юридическое лицо или индивидуальный предприниматель (включая их структурные подразделения: филиалы, торговые точки,
    пункты продаж, и тому подобные), реализующие Участникам Товар в рамках Программы лояльности, если</p>

  <p>· заключили с <strong>АЛОЛЬ</strong> Договор<strong> и </strong>выполнили все необходимые процедуры
    информационно-технической интеграции с <b>АЛОЛЬ,</b> или </p>

  <p>· заключили с Банком соответствующий договор о взаимодействии и расчетах при осуществлении Программы
    лояльности.</p>

  <p><strong>Правила АЛОЛЬ (Правила)</strong></p>

  <p>Настоящий документ, актуальная и действительная версия которого всегда размещена по адресу:
    <a data-bypass target="_blank" href="https://iconto.net/rules">https://iconto.net/rules</a>. Правила <b>АЛОЛЬ </b>являются неотъемлемой частью
    Договора с Партнером, договоров и соглашений между <b>АЛОЛЬ</b>и Банками. В отношениях между Участником и
    <b>АЛОЛЬ</b>Правила являются офертой Участнику, которую он принимает, совершая любое действие из предусмотренных
    Правилами <b>АЛОЛЬ</b>. Правила обязательны для всех Сторон.</p>

  <p><strong>Программа лояльности</strong></p>

  <p>Маркетинговое мероприятие Партнера, направленное на поощрение клиентов Партнера, стимулирование спроса, повышение
    объема продаж, привлечение клиентов, утвержденное распорядительным документом Партнера.</p>

  <p>Программа лояльности проводится по инициативе Партнера. Правила, по которым проводится Программа лояльности,
    определяются Партнером самостоятельно. Принятие Правил лояльности Участником (если это требуется Партнером), а также
    совершение Транзакции в рамках Программы лояльности является выражением его волеизъявления и согласия на изменение
    Партнером условий Договора с Участником, в том числе, на изменение условий о цене Товара и предоставление скидки в
    виде возврата части стоимости Товара.</p>

  <p><b>Расчетный банк</b></p>

  <p>Банк или небанковская кредитная организация, осуществляющая на основании договоров с Партнерами, Участниками,
    <b>АЛОЛЬ</b>, Банком-эмитентом или Банком-эквайрером операции по переводу Участникам КэшБэков в виде безналичных
    или электронных денежных средств. Расчетный банк должен выразить четкое и недвусмысленное согласие с Правилами и
    принять их.</p>

  <p><strong>Сайт</strong></p>

  <p>Сайт <strong>АЛОЛЬ</strong> в сети Интернет по адресу <a data-bypass target="_blank" href="https://iconto.net/">https://iconto.net</a>, на
    котором:</p>

  <p>· размещена информация о Технологии <b>АЛОЛЬ</b>, включая текст <a data-bypass target="_blank" href="https://iconto.net/rules">Правил</a> в
    актуальной и действующей редакции, а также иная информация, предназначенная для Сторон,</p>

  <p>· предоставляется доступ к Технологии <b>АЛОЛЬ.</b></p>

  <p><b>Сделка</b></p>

  <p><b>(Договор с Участником)</b></p>

  <p>Гражданско-правовая сделка между Партнером и Участником (розничная купля-продажа товаров, потребление работ или
    услуг), порождающая основания для начисления и выплаты КэшБэка.</p>

  <p><b>Стороны</b></p>

  <p>Участник, Банк-эквайрер, Банк-эмитент, Расчетный банк, Партнер и
    <strong>АЛОЛЬ вместе именуются «Стороны» и по отдельности «Сторона». </strong></p>

  <p><b>Технология АЛОЛЬ</b></p>

  <p>Программно-аппаратный комплекс <strong>АЛОЛЬ</strong>, а также организационные, юридические, финансовые и
    технические способы, средства и меры (действия и бездействие), применяемые и осуществляемые <strong>АЛОЛЬ</strong>
    (всеми работниками <strong>АЛОЛЬ в том числе</strong>) для его эксплуатации, включая мобильные приложения, веб
    приложения и сайты, а также аналогичные продукты.</p>

  <p>Технология <b>АЛОЛЬ</b> принадлежит <strong>АЛОЛЬ (включая исключительные права на </strong>Технологию
    <b>АЛОЛЬ</b><strong> или любую ее составную часть </strong>как на объект интеллектуальной собственности).</p>

  <p>Предназначение Технологии <b>АЛОЛЬ</b> – обеспечить Сторонам:</p>

  <p>· информационно-технологическую возможность осуществления расчетов, включая выплату КэшБэков,</p>

  <p>· возможность Партнерам осуществлять Программы лояльности, а Участникам – участвовать в реализации таких Программ,
    включая конкурсы, лотереи, розыгрыши и другие формы привлечения клиентов,</p>

  <p>· получение Сторонами всей и полной информации, необходимой для осуществления прав и обязанностей по отношению друг
    к другу, включая поддержание информационно-технического взаимодействия Сторон в пределах, указанных в Правилах.</p>

  <p>Технология АЛОЛЬ может использоваться как в целом, так и в виде производных продуктов, либо с помощью
    программного обеспечения, расположенного на Сайте, либо путем скачивания и запуска отдельных приложений и программ
    АЛОЛЬ, включая мобильные приложения. Все и любые программные продукты АЛОЛЬ являются составной частью Технологии
    АЛОЛЬ, а на их использование, распространение и воспроизведение полностью распространяется действие
    Правил.</p>

  <p><strong>Товар</strong></p>

  <p>Товары, работы, услуги Партнера, а также любые иные материальные и нематериальные блага, которые (или права на
    которые) приобретаются и оплачиваются Участником в рамках Программы лояльности.</p>

  <p><b>Транзакция</b></p>

  <p>Операция по оплате Товара в рамках Программы лояльности. Не является Транзакцией и не служит основанием для
    предоставления КэшБэка операция по оплате Товара вне Программы лояльности или совершенная с нарушением ее
    правил.</p>

  <p>Транзакция совершается в рамках исполнения договора Партнера с Участником и является основанием для предоставления
    КэшБэка.</p>

  <p>Транзакция может быть осуществлена как с помощью Карты или иного Электронного средства платежа, так и наличными
    денежными средствами.</p>

  <p>Для признания операций по оплате Товара Транзакциями может потребоваться создание Уникального Идентификационного
    Номера Участника и привязка к нему используемого Электронного средства платежа.</p>

  <p><b>Участник</b></p>

  <p>Дееспособное физическое лицо, которое:</p>

  <p>· является держателем активированной и действительной Карты или пользователем иного действительного Электронного
    средства платежа,</p>

  <p>· присоединилось к Технологии <b>АЛОЛЬ</b> способом, указанным в Правилах,</p>

  <p>· совершает Транзакции в рамках Программы лояльности Партнера.</p>

  <p>В целях получения КэшБэков Участник может использовать любое Электронное средство платежа.</p>

  <p><b>Уникальный Идентификационный Номер </b></p>

  <p>Уникальный идентификационный номер –<b>УИН</b>–номер, необходимый для идентификации Участника в Технологии
    <b>АЛОЛЬ</b> и сопоставления данных о Транзакциях исключительно в целях последующего предоставления КэшБэка и
    оказания Участнику услуг предусмотренных Правилами.</p>

  <p><b>УИН </b>формируется:</p>

  <p>· путем регистрации Участника на сайте <b>Партнера</b>, или</p>

  <p>· путем считывания данных Карты Участника на кассовом аппарате или POS-терминале <b>Партнера</b>, или</p>

  <p>· при выдаче Участнику Карты или средств доступа к иному Электронному средству платежа, подключаемому к Технологии
    <b>АЛОЛЬ</b>, или </p>

  <p>· при создании Участником электронного средства платежа, подключенного к Технологии <b>АЛОЛЬ</b>.</p>

  <p>При присоединении Участника к Технологии <b>АЛОЛЬ</b>Участнику создается Личный кабинет.</p>

  <p><b>Электронное средство платежа</b></p>

  <p>Средство или способ, позволяющее Участнику распоряжаться своими денежными средствами в рамках применяемых форм
    безналичных расчетов или расчетов электронными денежными средствами с использованием информационно-коммуникационных
    технологий, электронных носителей информации и других технических устройств, например: банковская карта (включая
    предоплаченная банковские карты); электронный кошелек и подобные.</p>

  <p>При присоединении Участника к Технологии <b>АЛОЛЬ</b>, Электронное средство платежа используется для формирования
    Уникального Идентификационного Номера Участника.</p>

  <p>Электронное средство платежа должно быть зарегистрировано Участником при присоединении к Технологии <b>АЛОЛЬ</b>
    (привязка Электронного средства платежа).</p>

  <p><b>2. Общие положения.</b></p>

  <p><b>2.1. </b>Все термины и определения, используемые в Правилах, трактуются и применяются в соответствии с
    действующим законодательством РФ.</p>

  <p><b>2.2. </b>Отношения Партнера и Участника по приобретению и оплате Товара регулируются действующим
    законодательством РФ, в том числе – законодательством о защите прав потребителей.</p>

  <p><b>2.3. </b>Отношения Банков с любой другой Стороной и между собой по перечислению сумм КэшБэков определяются
    действующим законодательством РФ о банках и банковской деятельности.</p>

  <p><b>2.4. </b>Правила определяют условия и порядок использования Технологии <b>АЛОЛЬ</b>Сторонами.</p>

  <p><b>2.5. </b>Правила размещаются на Сайте в открытом публичном доступе. Размещенные на Сайте Правила являются
    наиболее актуальными. При разночтениях и расхождениях в тексте Правил, размещенном на Сайте, и тексте Правил,
    размещенном в печатных материалах или на других сайтах, приоритет имеют Правила, размещенные на
    Сайте<strong>.</strong></p>

  <p><b>2.6. </b>Предоставление Участнику КэшБэка основано на праве Партнера и Участника изменять условия заключенной
    ими Сделки и исполнять их, а также на праве Партнера уполномочить на совершение этих действий <b>АЛОЛЬ</b>и
    поручить Банкам осуществить необходимые расчеты.</p>

  <p><strong>3. Взаимоотношения с Участником.</strong></p>

  <p><b>3.1. <strong>Установление взаимоотношений</strong>.</b></p>

  <p><b>3.1.1.Физическое лицо становится Участником, если согласилось с Правилами и приняло их.</b></p>

  <p><b>Право Участника на получение КэшБэка возникает при условии:</b></p>

  <p>· принятия Правил <b>АЛОЛЬ,</b></p>

  <p>· присоединения к Технологии <b>АЛОЛЬ путем подключения Карты или иного Электронного средства платежа</b>, либо
    при согласии с созданием неперсонифицированного электронного средства платежа на условиях оферты Небанковская
    кредитная организация «МОНЕТА.РУ» (п. 3.2.3 Правил)</p>

  <p>· формирования УИН,</p>

  <p>· совершения Транзакции в рамках Программы лояльности и в соответствии с ее правилами.</p>

  <p><b>3.1.2. </b>Последовательность действий, указанных в пункте 3.1.1 Правил, может быть любой.</p>

  <p><b>3.1.3. </b>Порядок применения условий Программы лояльности (в том числе принятие ее условий, регистрация у
    Партнера, и тому подобные) устанавливаются Партнером.</p>

  <p><b>3.1.4. </b>Принятие Правил происходит путем совершения действий - нажатия кнопки «Зарегистрироваться» или
    аналогичной при регистрации на Сайте <b>АЛОЛЬ </b>или при запуске мобильного приложения. Дата принятия Правил
    определяется автоматически программными средствами Технологии <b>АЛОЛЬ</b><strong>.</strong></p>

  <p><b>3.1.5. </b>Получая КэшБэки и выполняя иные действия, как того требуют Правила, Программа лояльности, условия
    договоров со Сторонами и другие обязательные применимые документы, Участник подтверждает, что он ознакомился с
    Правилами, безусловно согласен с ними и обязуется их соблюдать. Присоединяясь к Технологии <b>АЛОЛЬ</b>, Участник
    дает согласие на рассылку (отправку Участнику) сообщений на номер сотового телефона и адрес электронной почты,
    которые Участник самостоятельно и по своей инициативе предоставляет при присоединении к Технологии <b>АЛОЛЬ</b>.
    Параметры рассылки информационных и рекламных сообщений могут быть изменены в Личном кабинете.</p>

  <p><b>3.1.6. </b>При присоединении к Технологии <b>АЛОЛЬ </b>Участник обязуется указать достоверную информацию о себе
    и представить иные сведения, о которых будет запрошено на Сайте при регистрации.</p>

  <p><b>3.2. Присоединение к Технологии АЛОЛЬ, подключение Карты или иного Электронного средства платежа.</b></p>

  <p><b>3.2.1. </b>Карта или иное Электронное средство платежа и их данные являются средством получения и сопоставления
    информации о Транзакциях, имеющейся у Сторон. Их использование для формирования УИН является обязательным. </p>

  <p><b>3.2.2. </b>Подключение Карты или иного Электронного средства платежа к Технологии<b>АЛОЛЬ</b>может происходить
    как в отношении уже выпущенной Карты или созданного Электронного средства платежа), так и в отношении вновь
    выпускаемой Карты или вновь созданного Электронного средства платежа.</p>

  <p><b>3.2.3. </b>В случае, если Участник зарегистрировался, принял Правила и совершает Транзакции, но не подключил
    Карту или иное Электронное средство платежа, то в целях перечисления Участнику КэшБэков ему создается и
    предоставляется неперсонифицированное электронное средство платежа на условиях оферты Небанковская кредитная
    организация «МОНЕТА.РУ» (общество с ограниченной ответственностью)
    <a data-bypass target="_blank" href="https://www.moneta.ru/info/d/ru/public/users/offer.htm">https://www.moneta.ru/info/d/ru/public/users/offer.htm</a>,
    а Участник считается согласившимся с условиями указанной оферты и принявшим ее.Участник имеет право отказаться от
    электронного средства платежа, предоставляемого НКО «Монета.Ру» в любой момент без каких-либо ограничений. В случае,
    если при отказе Участник не присоединил к Технологии АЛОЛЬ какое-либо иное электронное средство платежа и отказался
    от электронного средства платежа, предоставляемого НКО «Монета.Ру», КэшБэки могут начисляться, но не
    предоставляются, при этом Участнику доступны только коммуникационный и информационный функционалы Технологии АЛОЛЬ.
  </p>

  <p><b>3.2.4. </b>При открытии счета и выпуске Карты к нему, при создании Электронного средства платежа и получении
    средств доступа к нему, присоединение к Технологии <b>АЛОЛЬ </b>может происходить путем совершения действий,
    указанных в пункте 3.1.4, на сайтах Партнеров или Банков, a также путем подписания документов (заключения договоров)
    с Партнерами или Банками. Партнеры и Банки в этом случае обеспечивают получение явно выраженного и недвусмысленного
    согласия Участника с Правилами <b>АЛОЛЬ.</b>Если такое согласие получено и подтверждено, Участник считается
    принявшим оферту<b>АЛОЛЬ</b>, содержащуюся в Правилах.</p>

  <p><b>3.2.5.</b> При подключении Карты или иного Электронного средства Платежа, формировании УИН, а также при
    совершении Участником действий, направленных на получение КэшБэка, от Участника может потребоваться осуществление
    верификационного платежа с использованием присоединяемого Электронного средства платежа. При верификации
    производится транзакция авторизации по платежным данным на случайную сумму в диапазоне, устанавливаемом Банками.</p>

  <p><b>3.2.6. </b>После регистрации и привязки Карты или Электронного средства платежа, Участнику создается Личный
    кабинет для получения сведений о покупках (время и дата, сумма и другие параметры), ведения учета покупок,
    информационного взаимодействия с Партнером (включая заказ товаров, работ или услуг) получения информации о
    Программах лояльности, информации и уведомлений о КэшБэках, присоединенных Картах и иных Электронных средств
    платежа, редактирования информации о себе, настройки КэшБэков и другие функции.</p>

  <p>Вся информация, находящаяся в Личном кабинете Участника, включая УИН, хранится, обрабатывается и защищается в
    соответствии с действующим законодательством (раздел 9 Правил).</p>

  <p><b>3.2.7. </b>Информация о Транзакциях поступает Участнику от Банка непосредственно в Личный кабинет Участника. В
    Личном кабинете Участник может выбрать способ получения информации о Транзакциях.</p>

  <p><b>3.3. Использование Технологии АЛОЛЬ Участником.</b></p>

  <p><b>3.3.1. </b>Участник в любое время может получить актуальную информацию о Технологии <b>АЛОЛЬ </b>и условиях
    предоставления услуг на Сайте или через соответствующее мобильное приложение. </p>

  <p><b>3.3.2. </b>Участник обязуется не разглашать и не сообщать кому-либо информацию о своих средствах доступа
    (пароль, логин, иная контрольная информация) в Личный кабинет на Сайте, и подтверждает, что единолично, безусловно и
    безоговорочно отвечает перед <strong>АЛОЛЬ </strong>и Сторонами по всем возможным претензиям, обязуется возместить
    в полном объеме все возможные убытки, вызванные таким нарушением.</p>

  <p><b>3.3.3.</b> Принимая Правила и соглашаясь с ними, принимая оферту <b>АЛОЛЬ</b>, Участник получает
    неисключительное, неограниченное по территории использования, неограниченное по времени право использования
    программного обеспечения Технологии <b>АЛОЛЬ </b>в личных некоммерческих целях (без права на распространение,
    декомпиляцию, модификацию, передачу третьим лицам). Такое программное обеспечение <b>АЛОЛЬ</b> предоставляется на
    условиях «как есть». Участник полностью и единолично несет любую ответственность за любые нарушения прав и законных
    интересов любых третьих лиц, включая убытки (в виде реального ущерба и упущенной выгоды), если таковые произошли по
    причине нарушения Участником Правил или неправомерного использования Технологии <b>АЛОЛЬ</b> и включенного в него
    программного обеспечения.</p>

  <p><b>3.3.5.</b>В случае, если Участник не присоединил к Технологии <b>АЛОЛЬ</b> Карту или иное Электронное средство
    платежа и отказался от электронного средства платежа, предоставляемого НКО «Монета.Ру», это влечет невозможность
    выплаты КэшБэка и означает отсутствие у Участника права требовать такой выплаты.</p>

  <p>
    <b>3.4. Согласие на обработку и хранение персональных данных. Согласие на получение информации в Личный кабинет.</b>
  </p>

  <p><b>3.4.1. Присоединяясь к Технологии АЛОЛЬ, </b>Участник дает согласие на обработку информации о себе,
    предоставленной им как при присоединении, так и при дальнейшем использовании Технологии <b>АЛОЛЬ</b> (согласие на
    обработку и хранение персональных данных, далее - <b>Согласие</b>). </p>

  <p>Этим Участник добровольно, полностью и безусловно соглашается:</p>

  <p>· предоставить <strong>АЛОЛЬ</strong> свои действительные и достоверные персональные данные в целях исполнения
    обязательств <strong>АЛОЛЬ </strong>перед Участником (настоящих Правил),</p>

  <p>· предоставить <strong>АЛОЛЬ</strong> право и возможность передавать свои персональные данные Партнерам и Банкам в
    целях исполнения обязательств <strong>АЛОЛЬ </strong>перед Участником, между Участником и Партнером, между
    Участником и Банками.</p>

  <p><b>3.4.2. </b>Участник единолично несет риск возникновения неблагоприятных последствий и ответственность, если при
    присоединении им указана неточная, неполная или ошибочная информация. </p>

  <p><b>3.4.3. </b>Обработка и хранение персональных данных, предоставленных Участником <strong>АЛОЛЬ, </strong>осуществляется
    на основании согласия Участника и исключительно в целях исполнения обязательств в отношениях между
    <strong>АЛОЛЬ и Участником</strong><b>.</b></p>

  <p><b>3.4.4. </b>Если Участник не согласен предоставить свои персональные данные и дать согласие на их обработку, как
    требуется Правилами, а также, если умышленно предоставил недостоверную информацию о себе, присоединение Участника к
    Технологии <b>АЛОЛЬ</b> невозможно.</p>

  <p><b>3.4.5.</b> Предоставление персональных данных Участником, их обработка и хранение регламентируются настоящими
    Правилами и Политикой конфиденциальности, которая публикуется на <a data-bypass target="_blank" href="https://iconto.net/privacy">Сайте</a>.</p>

  <p><b>3.4.6.</b> Принимая Правила, Участник безусловно и безоговорочно соглашается получать данные о своих Транзакциях
    способами, предоставленными Технологией <b>АЛОЛЬ</b>, и дает <b>АЛОЛЬ</b> право ссылаться на такое согласие как на
    полученное и действительное при установлении взаимоотношений между <b>АЛОЛЬ</b> и Банками. Если Участник не
    согласен получать информацию о Транзакциях в свой Личный кабинет, получение им КэшБэков невозможно.</p>

  <p><b>3.5. Прекращение взаимоотношений.</b></p>

  <p><b>3.5.1.</b> Участник вправе в любое время отказаться от использования Технологии <b>АЛОЛЬ</b>, получения КэшБэка
    и выполнения иных действий, предусмотренных Правилами. В этом случае, и немедленно после получения об этом
    уведомления от Участника, <strong>АЛОЛЬ</strong> удаляет все данные об Участнике, его Транзакциях, а также все
    данные, сведения и информацию, касающиеся Участника и имеющиеся у <strong>АЛОЛЬ</strong>.</p>

  <p><b>3.5.2.</b>Отказ от использования осуществляется Участником лично путем удаления регистрационной записи и
    информации о нем, либо путем уведомления Участником <b>АЛОЛЬ</b>. Уведомление должно явно и недвусмысленно выражать
    волю Участника на прекращение использования Технологии <b>АЛОЛЬ</b>. </p>

  <p><b>3.5.3.</b> Ни Партнер, ни Банки, ни <strong>АЛОЛЬ</strong> не имеют права и не могут препятствовать в
    реализации Участником права на расторжение договора с Участником и на отказ от использования технологии
    <b>АЛОЛЬ</b>.</p>

  <p><b>4. Взаимоотношения с Партнерами.</b></p>

  <p><b>4.1. </b>Реализация Партнером Программы лояльности осуществляется в соответствии с Правилами <b>АЛОЛЬ</b> и с
    использованием Технологии <b>iCоnto</b>.</p>

  <p><b>4.2. </b>Для реализации Программы лояльности с использованием Технологии <b>АЛОЛЬ</b> Партнер должен:</p>

  <p>· присоединиться к Правилами заключить договор с <b>АЛОЛЬ</b>, как указано в пункте 4.3 Правил, или</p>

  <p>· заключить с Банком договор (соглашение), устанавливающие порядок взаимодействия, информационного обмена и
    расчетов между Партнером и Банком при реализации Программы лояльности с использованием Технологии <b>АЛОЛЬ</b>.
    Такой договор (соглашение) должен соответствовать Правилам и не может содержать положения, противоречащие Правилам.
  </p>

  <p><b>4.3.</b> Отношения <b>АЛОЛЬ</b> и Партнера регулируются Договором между ними. Заключение Договора – акцепт
    оферты <b>АЛОЛЬ </b>осуществляется Партнером в порядке, указанном в Договоре. Отношения Партнера и Банка
    (Расчетного банка или Банка-эквайрера) регулируются договором (соглашением) между ними.</p>

  <p><strong>4.4. </strong>Заключая договор с <b>АЛОЛЬ</b>, как указано в Правилах и самом Договоре, или договор
    (соглашение) с Банком, Партнер подтверждает, что он ознакомился с текстом Правил, принимает их условия, согласен с
    ними и обязуется их соблюдать.</p>

  <p><strong>4.</strong><b>5.</b> В целях выплаты КэшБэков Участникам Партнер принимает или утверждает внутренним
    организационным документом Программу лояльности, которую публикует в своем Личном кабинете.</p>

  <p><strong>4.</strong><b>6.</b> Использование Партнером Технологии <b>АЛОЛЬ</b> (функции <b>АЛОЛЬ</b>,
    позволяющие обеспечивать проведение Транзакций и получение платежей от Участников) может быть недоступно, если
    Партнер не заключил соответствующий договор с Банком.</p>

  <p><b>4.7. </b>Во исполнение Договора с <b>АЛОЛЬ, </b><strong>Партнер обязуется предоставить АЛОЛЬ всю необходимую и
    имеющуюся у него информацию о Транзакциях, включая сведения о цене, условиях, характере и точном времени совершения
    Сделки, условиях Программы лояльности, другие сведения, запрашиваемые АЛОЛЬ. АЛОЛЬ гарантирует Партнеру полную
    конфиденциальность получаемых сведений и информации и их защиту от неправомерного доступа третьих лиц по применимым
    стандартам защиты информации.</strong></p>

  <p><strong>Информация предоставляется Партнером:</strong></p>

  <p>· в виде данных о реализации за отчетный период на основе данных и документов контрольно-кассовой техники, в том
    числе - с использованием установленного на ККТ программного обеспечения,</p>

  <p>· с использованием технологического канала или данных банка-эмитента электронного средства платежа, с помощью
    которого осуществлена Транзакция, при наличии договора об информационно-техническом сотрудничестве или
    информационном обмене между <b>АЛОЛЬ</b>и Банком-эмитентом,</p>

  <p><strong>· </strong>в порядке, предусмотренном договором эквайринга между Партнером и Банком-эквайрером, с учетом
    требований и с использованием технологического канала Банка-эквайрера.</p>

  <p><b>4.8. </b>Для перечисления КэшБэков Партнер по своему выбору и усмотрению:</p>

  <p><b>4.8.1. </b>На основании данных и реестров, полученных от <b>АЛОЛЬ</b>, перечисляет суммы КэшБэков на счет
    Расчетного банка по реквизитам, предоставленным Расчетным банком,</p>

  <p><b>4.8.2. </b>На основании соответствующего дополнительного соглашения к договору эквайринга с Банком-эквайрером,
    данных и реестров, полученных от <b>АЛОЛЬ</b>(включая реестры, направляемые от <b>АЛОЛЬ</b> в Банк-эквайрер)
    поручает Банку-эквайреру удерживать из сумм Транзакций суммы КэшБэков, производить их перечисление Участникам и/или
    по реквизитам, указанным в пунктах 4.8.1 или 4.8.3 Правил, или</p>

  <p><b>4.8.3.</b> На основании данных и реестров, полученных от <b>АЛОЛЬ</b>, по предварительному согласованию с
    <b>АЛОЛЬ</b> направляет суммы КэшБэков на расчетный счет <b>АЛОЛЬ</b>, указанный в Договоре.</p>

  <p><b>4.9.</b> Размер суммы, перечисляемой Партнером по пунктам 4.8.1-4.8.3 Правил, может определяться Партнером
    самостоятельно и по своему усмотрению, исходя из прогнозируемых Партнером размеров КэшБэков, причитающихся к
    выплате, но не может быть менее суммы, указанной в реестрах. </p>

  <p><b>4.10.</b> <b>АЛОЛЬ </b>формирует отчет о рассчитанных КэшБэках и направляет его Партнеру в порядке,
    предусмотренном Договором.</p>

  <p><b>4</b>.<b>12. АЛОЛЬ </b>имеет право приостановить исполнение любых обязательств по Договору при отсутствии или
    недостаточности средств, предоставленных Партнером в целях выплаты КэшБэков, или в случае неоплаты Партнером услуг
    <b>АЛОЛЬ</b>.</p>

  <p><b>5. КэшБэк.</b></p>

  <p><b>5.1. Общие условия начисления и получения КэшБэка Участником.</b></p>

  <p><b>5.1.1. </b>Выбор вида КэшБэка, определение его размера и даты вступления в силу размера КэшБэка, сроков выплаты,
    минимального и максимального порога выплаты и других условия его предоставления, осуществляется
    <strong>Партнером </strong>в одностороннем порядке<strong>, утверждается им и отражается в Личном кабинете</strong>.
    Участник самостоятельно отслеживает изменение информации о величине КэшБэка на Сайте. Партнер и <b>АЛОЛЬ </b>имеют
    право уведомлять Участника об изменениях этих сведений в любой момент способами, предусмотренными в Правилах.</p>

  <p><b>5.1.2. </b>Если Партнер предоставляет Участнику право самостоятельно выбрать, какой КэшБэк можно получить,
    <b>АЛОЛЬ </b>предоставляет Участнику технологическую возможность реализации этого права. Если Участник не выбрал
    вид КэшБэка, то по умолчанию считается согласившимся получить обычный КэшБэк.</p>

  <p><b>5.1.3. </b>Участник получает КэшБэк на Банковский счет, соответствующий Карте, присоединенной к Технологии
    <b>АЛОЛЬ</b>, или с использованием иного присоединенного к Технологии <b>АЛОЛЬ </b>Электронного средства платежа,
    включая Электронное средство платежа, созданное Участнику по п. 3.2.3 Правил.</p>

  <p><b>5.1.4. </b>Участник не сможет получить КэшБэк, если информация, указанная им при присоединении Карты или иного
    Электронного средства платежа, является или окажется недействительной или неверной.
    <strong>Участник несет полную ответственность за последствия предоставления в АЛОЛЬ недостоверных данных.</strong>
  </p>

  <p><b>5.1.5. </b>Перечисление КэшБэка производится
    <strong>Банками при исполнении своих обязанностей по договорам между Банками и АЛОЛЬ, Банками и Партнером</strong>.
  </p>

  <p><b>5.1.6. </b>Минимальная сумма КэшБэка, а также правила его выплаты или отмены при недостижении минимальной суммы
    могут устанавливаться Партнером и/или <b>АЛОЛЬ</b> в Тарифах.</p>

  <p><b>5.1.7.</b> Период (число), в течение (после) которого может быть выплачен КэшБэк, устанавливается по усмотрению
    Партнера, Банка или <b>АЛОЛЬ</b>, исходя из технологических возможностей Сторон и в соответствии с
    законодательством РФ об осуществлении безналичных расчетов. Стороны вправе установить иные сроки и периодичность
    выплаты КэшБэков.</p>

  <p><b>5.1.8. </b>Партнер обязан самостоятельно урегулировать с Участником вопрос возврата полученного Участником
    КэшБэка:</p>

  <p>· в случае возврата Участником Товара (вне зависимости от качества Товара), если Партнером уже был выплачен
    КэшБэк, </p>

  <p>· в случае замены на такой же Товар другой марки (модели, артикула) с возвратом/доплатой разницы в цене или
    соразмерного уменьшения покупной цены.</p>

  <p>В случае возврата Товара и денежных средств, сумма КэшБэка, начисленного на Транзакцию, удерживается из сумм
    следующего КэшБэка, перечисляемого в пользу Участника в будущем, с чем Участник соглашается, принимая Правила. В
    противоположном случае <strong>Участник </strong>обязан возвратить сумму КэшБэка Партнеру самостоятельно любыми
    доступными Участнику способами не позднее 7 (семи) календарных дней с момента возврата Товара, а при невозврате
    самостоятельно несет риск всех неблагоприятных налоговых и правовых последствий.</p>

  <p><b>5.1.9.</b> Расчет, удержание, начисление и перечисление КэшБэка могут быть приостановлены или отменены в случае
    мошенничества, нарушения Участником Правил, Программы лояльности, действующего законодательства.</p>

  <p><b>5.1.10.</b> За начисление КэшБэка на Карту или иное Электронное средство платежа <b>АЛОЛЬ</b> и Банками могут
    взиматься комиссии, которые вычитаются из сумм КэшБэков, перечисляемых Участнику, на основании условий договоров
    между Сторонами, а также между Сторонами и третьими лицами, участвующими в процессе перевода денежных средств по
    поручению Участника. Обо всех таких случаях Участник будет полностью и заблаговременно проинформирован путем
    указания комиссий и применимых платежей в Тарифах и/или Личном Кабинете.</p>

  <p><b>5.1.11. </b>В случае несвоевременного перечисления и/или неперечисления Партнером сумм КэшБэков Партнер несет
    ответственность перед Участниками. </p>

  <p><b>5.1.12. </b>В случае предъявления претензий Участниками к <b>АЛОЛЬ </b>или Банкам и привлечения <b>АЛОЛЬ </b>или
    Банков к ответственности за несвоевременное предоставление и/или не предоставление КэшБэка, вызванное
    несвоевременным перечислением Партнером денежных средств, Партнер обязуется в полном объеме возместить
    <b>АЛОЛЬ </b>и/или Банкам причиненные указанными действиями убытки. </p>

  <p><b>5.1.13.</b> С даты прекращения Программы лояльности начисление и перечисление КэшБэка Участникам прекращается,
    за исключением КэшБэков, рассчитанных и начисленных по Транзакциям, совершенным в пределах срока действия Программы
    лояльности.</p>

  <p><b>5.1.14.</b> Участник, не присоединивший к Технологии <b>АЛОЛЬ</b> Карту или иное Электронное средство платежа,
    получает КэшБэк на Электронное средство платежа в порядке п. 3.2.3 Правил.</p>

  <p><b>5.1.15.</b> Если Участник присоединил к Технологии <b>АЛОЛЬ </b>несколько Карт или иных Электронных средств
    платежа, то выплата КэшБэка производится с использованием любого из них по указанию Участника.</p>

  <p><strong>5.2. Правила расчета КэшБэка.</strong></p>

  <p><b>5.2.1. </b>В случае совершения Участником Транзакции и начисления обычного КэшБэка, <strong>АЛОЛЬ </strong>рассчитывает
    КэшБэк, равный определенному проценту от суммы Транзакции. Процент от суммы Транзакции устанавливается Партнером в
    Программе лояльности.</p>

  <p>В случае совершения Участником Транзакции и начисления КэшБэка Плюс, <strong>АЛОЛЬ </strong>рассчитывает КэшБэк
    Плюс в размере определенного процента от суммы Транзакции и установленной Партнером, а КэшБэк Плюс Участнику не
    перечисляется, но учитывается. КэшБэк Плюс подлежит перечислению Участнику только в случае совершении им последующей
    Транзакции или в других случаях, определенных Партнером в Программе лояльности.</p>

  <p><b>5.2.2. </b>Величина конвертации КэшБэка Плюс в КэшБэк может зависеть от суммы последующей Транзакции:</p>

  <p>· если величина конвертируемого КэшБэка Плюс меньше или равна сумме последующей Транзакции,<strong>АЛОЛЬ</strong>
    конвертирует КэшБэк Плюс в КэшБэкв полном объеме и перечисляет соответствующую сумму Участнику. </p>

  <p>· если величина конвертируемого КэшБэка Плюс больше суммы последующей Транзакции, <strong>АЛОЛЬ</strong>
    конвертирует КэшБэк Плюс в КэшБэкне более величины последующей Транзакции и перечисляет соответствующую сумму
    Участнику. </p>

  <p>Оставшаяся часть КэшБэка Плюс при этом продолжает учитываться <strong>АЛОЛЬ</strong> и будет перечислена Участнику
    при осуществлении последующих Транзакций.</p>

  <p><b>5.2.3.</b> Другие виды КэшБэков и правила их расчета, предоставления и выплаты могут устанавливаться Партнером в
    Программе лояльности.</p>

  <p><b>5.3. Правила выплаты КэшБэка.</b></p>

  <p><b>5.3.1. </b>Партнер на основании договора с <b>АЛОЛЬ</b>, данных о Транзакциях и суммах КэшБэков, рассчитанных и
    предоставленных <b>АЛОЛЬ</b>, направляет сумму КэшБэков Расчетному банку или <b>АЛОЛЬ</b>, либо дает поручение
    Банку-эквайреру на удержание и направление сумм КэшБэков.</p>

  <p><b>5.3.2. При перечислении сумм КэшБэков в Расчетный банк:</b></p>

  <p><b>5.3.2.1. АЛОЛЬ</b> направляет данные и реестры в Расчетный банк.</p>

  <p><b>5.3.2.2. </b>Расчетный банк, руководствуясь Правилами, договором с <b>АЛОЛЬ</b>, в рамках договора между
    Расчетным банком и Банком (если имеется / применимо), а также на основании предоставленных <b>АЛОЛЬ</b> данных и
    реестров перечисляет КэшБэки:</p>

  <p>· Участникам – клиентам Расчетного банка, </p>

  <p>· Банкам-эмитентам – для дальнейшего зачисления на Счета или Электронные средства платежа Участников – клиентов
    Банков-эмитентов,</p>

  <p>и информирует об этом <b>АЛОЛЬ</b>.</p>

  <p><b>5.3.2.3. АЛОЛЬ</b>, на основании полученной от Расчетного банка информации, формирует и направляет в
    Банки-эмитенты соответствующие реестры по формам, установленным договорами между <b>АЛОЛЬ</b> и Банками-эмитентами.
  </p>

  <p><b>5.3.2.4.</b> Банки-эмитенты, руководствуясь Правилами, договором с <b>АЛОЛЬ</b>, в рамках договора между
    Расчетным банком и Банком-эмитентом (если имеется и если это применимо), а также на основании предоставленных
    <b>АЛОЛЬ</b> данных и реестров перечисляют КэшБэки Участникам – клиентам Банков-эмитентов на их Счета или
    Электронные средства платежа, и уведомляют об этом Участника и <b>АЛОЛЬ</b>.</p>

  <p><b>5.3.2.5. АЛОЛЬ</b> уведомляет Участников о произведенном начислении КэшБэков и сообщает информацию о
    начислениях Партнерам и Расчетному банку.</p>

  <p><b>5.3.3. При удержании сумм КэшБэков Банком-эквайрером (в том числе, Расчетным банком в качестве
    Банка-эквайрера):</b></p>

  <p><b>5.3.3.1. АЛОЛЬ</b> направляет соответствующие данные и реестры Партнеру и Банку-эквайреру.</p>

  <p><b>5.3.3.2. </b>Банк-эквайрер, руководствуясь Правилами, договором с Партнером, в рамках договора между
    Банком-эквайрером и Расчетным банком или Банком-эмитентом (если имеется и если это применимо), а также на основании
    предоставленных <b>АЛОЛЬ</b> данных и реестров перечисляет КэшБэки:</p>

  <p>· Участникам – клиентам Банка-эквайрера, </p>

  <p>· Расчетному банку - для дальнейшего зачисления на Счета или Электронные средства платежа Участников – клиентов
    Расчетного банка,</p>

  <p>· Банкам-эмитентам – для дальнейшего зачисления на Счета или Электронные средства платежа Участников – клиентов
    Банков-эмитентов,</p>

  <p>и информирует об этом <b>АЛОЛЬ</b>.</p>

  <p><b>5.3.3.3. АЛОЛЬ</b>, на основании полученной от Банка-эквайрера информации, формирует и направляет в Расчетный
    банк, Банки-эмитенты соответствующие реестры по формам, установленным договорами между <b>АЛОЛЬ</b> и
    Банками-эмитентами.</p>

  <p><b>5.3.3.4.</b> Банки-эмитенты, руководствуясь Правилами, договором с <b>АЛОЛЬ</b>, в рамках договора между
    Расчетным банком и Банком-эмитентом (если имеется и если это применимо), а также на основании предоставленных
    <b>АЛОЛЬ</b> данных и реестров перечисляют КэшБэки Участникам – клиентам Банков-эмитентов на их Счета или
    Электронные средства платежа, и уведомляют об этом Участника и <b>АЛОЛЬ</b>.</p>

  <p><b>5.3.3.5. АЛОЛЬ</b> уведомляет Участников о произведенном начислении КэшБэков и сообщает информацию о
    начислениях Партнерам, Расчетному банку и Банку-эквайреру.</p>

  <p><b>5.3.4. При перечислении сумм КэшБэков на расчетный счет АЛОЛЬ:</b></p>

  <p><b>5.3.4.1. АЛОЛЬ</b> направляет суммы КэшБэков, данные и реестры в Расчетный банк или Банк-эмитент при наличии
    технической возможности и в порядке, предусмотренном договором между <b>АЛОЛЬ</b> и Расчетным банком, или
    <b>АЛОЛЬ</b> и Банком-эмитентом.</p>

  <p><b>5.3.4.2.</b>Далее применяются пп. 5.3.2.2 – 5.3.2.5 / 5.3.3.2 – 5.3.3.5 Правил <b>АЛОЛЬ</b>.</p>

  <p><b>5.4. Порядок разрешения спорных ситуаций.</b></p>

  <p><b>5.4.1.</b> В случае, если какая-либо из Сторон выявляет расхождения в документах и информации, она обязана
    незамедлительно любыми средствами уведомить об этом <b>АЛОЛЬ</b> и другие Стороны.</p>

  <p><b>5.4.2.АЛОЛЬ</b> обязано в течение 3 (трех) рабочих дней провести расследование и по его результатам:</p>

  <p>· отклонить информацию о выявленных расхождениях, если они не подтвердились, и уведомить об этом заинтересованные
    Стороны,</p>

  <p>· откорректировать реестры, данные, уведомления и информацию, организовать корректирующие расчеты между
    Сторонами.</p>

  <p><b>5.4.3.</b> Корректирующие расчеты между Сторонами проводятся:</p>

  <p><b>А)</b>если выявлено расхождение между рассчитанным КэшБэком и фактически перечисленной Партнером суммой – в
    большую сторону (КэшБэк больше фактической суммы) - в виде дополнительного перечисления Партнером денежных средств
    (доплата) в порядке, установленном разделом 5.3,</p>

  <p><b>Б)</b>если выявлено расхождение между рассчитанным КэшБэком и фактически перечисленной Партнером суммой – в
    меньшую сторону (КэшБэк меньше фактической суммы) - в виде возврата Партнеру Расчетным банком или <b>АЛОЛЬ</b>излишне
    перечисленных Партнером денежных средств (возврат), или в виде зачета излишне перечисленных сумм при перечислении
    КэшБэков в последующих Отчетных периодах(зачет),</p>

  <p><b>В)</b>если Транзакция признана мошеннической или ошибочной, по ней произведен возврат, а КэшБэк еще не получен
    Участником - в виде возврата суммы КэшБэка Партнеру банками или <b>АЛОЛЬ</b>,</p>

  <p><b>Г)</b>если Транзакция признана мошеннической или ошибочной, по ней произведен возврат, а КэшБэк уже получен
    Участником - в виде списания суммы КэшБэка Банками со Счета или Электронного средства платежа Участника и возврата в
    Расчетный банк, а затем Расчетным банком – Партнеру, при наличии средств на Счете или Электронном средстве платежа
    Участника.</p>

  <p><b>5.4.4.</b> В случае, предусмотренном подпунктом Г) пункта 5.4.3, если на Счете или Электронном средстве платежа
    Участника недостаточно средств, то Банк производит списание при поступлении средств. Если поступления не происходит
    в течение 3 (трех) месяцев, Банк уведомляет об этом <b>АЛОЛЬ </b>и Партнера. Партнер самостоятельно, но с помощью
    Сторон формирует требование о взыскании соответствующей суммы к Участнику и направляет его в суд от своего имени.
  </p>

  <p><b>5.4.5.</b> Во всех случаях, когда произведены корректирующие расчеты, производится перерасчет (возврат или
    доплата) вознаграждения, если таковое было получено какой-либо Стороной по условиям Правил или договоров между ними.
  </p>

  <p><b>5.5. Взаимоотношения АЛОЛЬ, Расчетного банка и Банков.</b></p>

  <p>Взаимоотношения <b>АЛОЛЬ</b> и Банков регулируются договорами между ними.</p>

  <p><strong>6. Ответственность.</strong></p>

  <p><b>6.1. </b><strong>АЛОЛЬ </strong>предпринимает все необходимые технические и организационные меры по обеспечению
    информационной безопасности и нормальной работоспособности Сайта и Технологии <b>АЛОЛЬ</b>, однако ни при каких
    обстоятельствах не несет ответственности за неисполнение или ненадлежащее исполнение обязательств, а также возможный
    ущерб, возникший в результате:</p>

  <p>· неправомерных действий третьих лиц, направленных на нарушения информационной безопасности или нормального
    функционирования Сайта,</p>

  <p>· сбоев в работе сайта, вызванных ошибками в коде, компьютерными вирусами и иными посторонними фрагментами кода в
    программном обеспечении Сайта, кроме случаев, допущенных по вине <b>АЛОЛЬ</b>,</p>

  <p>· отсутствия (невозможности установления, прекращения и пр.) Интернет-соединений между серверами Участника и
    сервером Сайта, и/или серверами Сторон,</p>

  <p>· проведения уполномоченными органами мероприятий в рамках СОРМ (Системы оперативно-розыскных мероприятий),</p>

  <p>· установления государственного регулирования (или регулирования иными организациями) хозяйственной деятельности
    коммерческих организаций в сети интернет и/или установления указанными субъектами разовых ограничений, затрудняющих
    или делающих невозможным исполнение обязательств Партнера по Программе лояльности,</p>

  <p>· других случаев, связанных с действиями (бездействием) пользователей сети Интернет и/или других субъектов,
    направленными на ухудшение общей ситуации с использованием сети интернет и/или компьютерного оборудования,
    существовавшей на момент присоединения Участника.</p>

  <p><b>6.2. </b><strong>АЛОЛЬ</strong> не несет ответственности за убытки, причиненные Участнику в результате
    сообщения Участником недостоверной информации, а также причиненные действиями (бездействием) Участника ему самому
    или любым третьим лицам. </p>

  <p><b>6.3. </b><strong>АЛОЛЬ</strong> не несет ответственности за убытки, причиненные Участнику в результате
    разглашения третьим лицам информации, предоставленной Участником, произошедшего не по вине <strong>АЛОЛЬ</strong>.
  </p>

  <p><b>6.4. </b>Ответственность <strong>АЛОЛЬ </strong>перед Сторонами за нарушение Правил ограничивается в случае
    любой претензии, связанной с начислением КэшБэка–выполнением действий для получения Участником надлежащих сумм
    КэшБэка.</p>

  <p><b>6.5. </b><strong>АЛОЛЬ </strong>не несет ответственности по спорам и разногласиям, возникающим между Сторонами,
    если такие споры и разногласия не вызваны нарушениями <strong>АЛОЛЬ </strong>своих обязательств.</p>

  <p><b>6.6. </b>Ни одна из Сторон не несет ответственности за неисполнение или ненадлежащее исполнение своих
    обязательств, если это было вызвано чрезвычайными и непредотвратимыми при данных условиях обстоятельствами, которые
    Стороны не могли разумными мерами ни предвидеть, ни предотвратить (обстоятельства непреодолимой силы). </p>

  <p><b>6.7. </b>В случае, если <strong>АЛОЛЬ</strong> вынужденно приостанавливает действие Технологии <b>АЛОЛЬ</b> по
    обстоятельствам непреодолимой силы, то в этом случае Стороны уведомляются о таком приостановлении в разумный срок.
  </p>

  <p><b>6.8. </b>В случае действия обстоятельств непреодолимой силы более 3 (трех) месяцев, любая Сторона вправе в
    одностороннем порядке отказаться от исполнения своих обязательств по настоящим Правилам.</p>

  <p><b>7. Споры.</b></p>

  <p><b>7.1. </b>Особый порядок разрешения спорных ситуаций по расчету, начислению и возврату КэшБэков установлен
    пунктом 5.4 Правил. В случае возникновения между Сторонами иных споров, связанных с исполнением настоящих Правил,
    Стороны примут все меры к разрешению их путем переговоров между собой.</p>

  <p><b>7.2. </b>В случае невозможности разрешения указанных споров путем переговоров, они должны решаться в
    компетентном суде в соответствии с законодательством Российской Федерации при условии обязательного соблюдения
    претензионного порядка. Срок ответа на претензию – 30 (тридцать) календарных дней с момента ее получения. </p>

  <p><strong>8. Прочие условия.</strong></p>

  <p><b>8.1. </b><strong>АЛОЛЬ</strong> имеет право в одностороннем порядке изменять Правила путем опубликования новой
    редакции Правил на Сайте. Измененные Правила вступают в силу по истечении 15 (пятнадцати) календарных дней с даты
    опубликования. В случае, если Сторона по истечении 15-дневного срока не заявила об отказе принять новую редакцию
    Правил, либо о желании расторгнуть Договор, либо не удалила свои регистрационные данные, то считается принявшей
    новую редакцию Правил и полностью согласившейся с ней. Внесение изменений в Правила не освобождает Сторону от
    исполнения обязательств, возникших до внесения изменений.<b>АЛОЛЬ</b> предпримет все необходимые меры с целью
    своевременного уведомления Сторон о планируемых изменениях.</p>

  <p><b>8.2. </b>Стороны обязуются самостоятельно отслеживать внесение изменений и дополнений в Правила. Отсутствие
    возражений Сторон и продолжение выполнения ими Правил в новой редакции является их абсолютным и полным согласием с
    новой редакцией Правил.</p>

  <p><b>8.3. </b><strong>АЛОЛЬ </strong>вправе без каких-либо последствий и ответственности для себя отказаться от
    своих обязательств перед любым Участником, уведомив Участника о том любым доступным и применимым способом, если
    Участник:</p>

  <p>· допускает нарушения действующего законодательства РФ, условий Договора, Правил, других применимых документов,</p>

  <p>· отзывает согласие на обработку персональных данных,</p>

  <p>· расторгает договор или соглашение с Партнером или Банком по любым причинам и при любых обстоятельствах, если при
    этом Участник утрачивает право на начисление КэшБэка и возможность пользоваться своим Электронным средством
    платежа,</p>

  <p>· в других случаях, установленных Договором или действующим законодательством РФ.</p>

  <p><b>8.4. </b><strong>АЛОЛЬ </strong>оставляет за собой право приостанавливать работу Сайта и Технологии
    <b>АЛОЛЬ</b> для проведения профилактических работ, по возможности в ночное время или выходные дни.<b>АЛОЛЬ</b>
    предпримет все необходимые меры с целью своевременного уведомления Сторон о планируемых профилактических работах.
  </p>

  <p><b>8.5. </b>Стороны понимают и выражают свое согласие с тем, что <strong>АЛОЛЬ</strong> использует любые
    информацию и сведения о Транзакциях Участника, предоставленные <strong>АЛОЛЬ </strong>самим Участником или Банком
    по поручению Участника, или иным законным образом полученные <strong>АЛОЛЬ</strong> в интересах Участника, в целях
    получения Участником КэшБэка и исполнения иных обязательств перед ним. </p>

  <p><b>9. Безопасность.</b></p>

  <p><strong>9.1. АЛОЛЬ</strong> предпринимает необходимые технические и организационные меры информационной
    безопасности, чтобы предотвратить утечку информации и свести такие риски к минимуму. Такие меры включают:
    использование брандмауэров, размещение носителей информации в защищенных серверных центрах, шифрование, трансляцию
    сетевых адресов и скрытие внутренней структуры сети <strong>АЛОЛЬ</strong>, развертывание надлежащих систем и
    процедур управления правами доступа. </p>

  <p><b>9.2. </b>Для защиты от случайной утраты и/или повреждения персональных данных используется резервное копирование
    данных. </p>

  <p><b>9.3. </b>Для защиты конфиденциальности и безопасности при взаимодействии пользователей с сайтом используются
    стандартные для отрасли меры безопасности, в том числе обеспечиваемые технологией (сертификатом)
    “SecureSocketsLayer” (“SSL”). </p>

  <p><strong>9.4. АЛОЛЬ</strong> самостоятельно определяет перечень организационных, финансовых, технических и
    юридических мер, состав и характеристики программно-аппаратных средств для сохранения в тайне информации Сторон и
    обеспечения санкционированного доступа к ней Сторон. </p>

  <p><strong>9.5. АЛОЛЬ</strong> не несет ответственность за убытки, причиненные Сторонам в результате нарушения прав
    доступа к конфиденциальной или тайной информации Сторон, или ее разглашения, произошедших не по вине
    <strong>АЛОЛЬ</strong>.</p>

  <p><b>10. Заявление</b></p>

  <p>10.1. Настоящим АЛОЛЬ подтверждает, что приложение АЛОЛЬ может содержать или предоставлять информацию о
    состязании или конкурсе, организованном и проводимом Партнерами с использованием приложения АЛОЛЬ (технологии
    АЛОЛЬ), и любые такие состязания и конкурсы не связаны косвенно или напрямую с Apple и/или Google или какими-либо
    связанными с Apple и/или Google лицами, а Apple и/или Google и связанные с ним лица не являются ни спонсорами таких
    состязаний или конкурсов, ни в какой-либо другой форме вовлеченными в такие состязания или конкурсы. Все вопросы,
    связанные с возможными состязаниями и конкурсами являются ответственностью Партнера, запустившего программу
    лояльности, содержащую такие состязания или конкурсы.</p>


</div>