<div class="line">
  <div class="text"><i class="ic-document"></i>Договор партнера,
    <a class="theme" href="/offers_and_terms/Partners_contract_041114.docx" download data-bypass target="_blank">скачать</a>
  </div>
</div>

<div class="line">
  <div class="text"><i class="ic-document"></i>Тарифы вознаграждения АЛОЛЬ ,
    <a class="theme" href="/offers_and_terms/АЛОЛЬ _fees_23122014.pdf" download data-bypass target="_blank">скачать</a>
  </div>
</div>

<hr>

<h6 class="text-center">Тарифы вознаграждения АЛОЛЬ <br/>(редакция от 23 декабря 2014 года)</h6>

<table cellpadding="0" cellspacing="0">
  <thead>
  <tr>
    <th align="center" width="50">№</th>
    <th align="center">Услуга (для пользователей)</th>
    <th align="center">Стоимость</th>
  </tr>
  </thead>

  <tbody>
  <tr>
    <td>1</td>
    <td>Оплата услуг по информационно-технологическому обеспечению расчетов</td>
    <td align="center"><b>10 % от суммы перечисленного КэшБэка*, мин. 30 руб.</b></td>
  </tr>
  </tbody>
</table>

<p>Примечания:</p>
<ol>
  <li>* Не облагается НДС на основании подпункта 3 пункта 4 ст. 149 НК РФ</li>
  <li>Ограничение на выплаты КэшБэков: согласно Правилам <b>АЛОЛЬ </b>, редакция от 23 декабря 2014 года.</li>
</ol>


<!-- TODO: move to separate file to require -->
<style>
	p {
		font-size: 11px;
		margin-bottom: 10px;
	}

	ol {
		font-size: 11px;
		margin-bottom: 0;
	}

	table {
		border: solid 1px #999;
		border-collapse: collapse;
		margin-top: 18px;
	}

	thead th {
		text-align: center !important;
	}

	td {
		border-collapse: collapse;
		border: solid 1px #999;
	}
</style>

<table cols="3" cellpadding="0" cellspacing="0">
  <thead>
  <tr>
    <th align="center" width="50">№</th>
    <th align="center" colspan="2">Услуга (для партнеров)</th>
    <th align="center" colspan="2">Стоимость</th>
  </tr>
  </thead>
  <tbody>
  <tr class="blue" color="white">
    <td></td>
    <td align="center" colspan="2">
      <div>Услуга (согласно пункту договора с Партнером)</div>
    </td>
    <td align="center">
      <div>При отсутствии КэшБэков в ОП</div>
    </td>
    <td align="center">
      <div>При наличии КэшБэков в ОП</div>
    </td>
  </tr>
  <tr bordercolor="black" border="1">
    <td>1</td>
    <td colspan="2">2.1, 2.2.1</td>
    <td align="center" colspan="2"><b>0 рублей</b></td>
  </tr>
  <tr bordercolor="black" border="1">
    <td rowspan="2">2</td>
    <td rowspan="2">2.2.2 -коммуникации через АЛОЛЬ .Messenger</td>
    <td>Пакет «Стандарт»</td>
    <td align="center" colspan="2"><b>0 рублей</b></td>
  </tr>
  <tr bordercolor="black" border="1">
    <td>Пакет «Бизнес» (более одной точки обращения и/или использование более одного аккаунта (сотрудников))</td>
    <td align="center" colspan="2"><b>1000 рублей в месяц</b></td>
  </tr>
  <tr>
    <td rowspan="3">3</td>
    <td rowspan="3">2.2.2 и 2.2.7 (*) - направление сообщений</td>
    <td>SMS (СМС-сообщения), за 1 сообщение, гарантированная доставка</td>
    <td align="center" colspan="2"><b>0,60 рублей</b></td>
  </tr>
  <tr>
    <td>PUSH-уведомления</td>
    <td align="center" colspan="2"><b>0 рублей</b></td>
  </tr>
  <tr>
    <td>e-mail уведомления</td>
    <td align="center" colspan="2"><b>0 рублей</b></td>
  </tr>
  <tr>
    <td>4</td>
    <td>2.2.3</td>
    <td>Распространение инструментов лояльности</td>
    <td align="center" colspan="2"><b>30 % (**)</b></td>
  </tr>
  <tr>
    <td>5</td>
    <td colspan="2">2.2.9</td>
    <td align="center"><b>0 рублей</b></td>
    <td align="center"><b>0 рублей</b></td>
  </tr>
  </tbody>
</table>

<p>Примечания:</p>
<ol type="1">
  <li>ОП – Отчетный Период</li>
  <li>Точка обращения – QR-код, как таргетированный источник получения отзывов и предложений от посетителей.</li>
  <li>* Не облагается НДС на основании подпункта 3 пункта 4 ст. 149 НК РФ</li>
  <li>** от суммы, уплаченной Участником за виртуальную дисконтную карту, флаер, скидочный купон, промо-код, кодовую,
    буквенную, цифровую или цифро-буквенную комбинацию, или другие способ или и средство привлечения Участников и
    предоставления скидок.
  </li>
  <li>Ограничение на выплаты КэшБэков: согласно Правилам АЛОЛЬ , редакция от 23 декабря 2014 года.</li>
</ol>
