<div class="column-wrap flexbox" data-bind="toggle: state_hasCards">
  <div class="cards" role="region"></div>
  <div class="details" role="region"></div>
</div>

<div class="empty-state hint" data-bind="toggle: not(state_hasCards)">У вас нет карт</div>