<div class="panel flexbox" {{%= getCompanyColor() }}>
	<div class="company-image" {{%= getCompanyImage() }}></div>
	<div class="info">
		<div class="company-name">{{= getCompanyName() }}</div>
		<div class="currency">{{= getCurrency() }}</div>
	</div>
	<div class="discount">
		<div class="discount-percent">{{= getDiscountPercent() }}</div>
		<div class="card-name">{{= getCardName() }}</div>
	</div>
</div>