<div>Получите МАСТЕР-КАРТУ у наших партнеров в Санкт-Петербурге:</div>
<div class="company-name">Юлмарт</div>
<div class="text">На промостойке. Выдаются в комплекте с программой лояльности (бесплатно).</div>
<ul>
  <li>ЦИЗ на Богатырском: пр. Сизова д. 2 (станция метро Комендантский проспект)</li>
</ul>