<div class="row">
	<div class="small-12 medium-6 medium-centered columns">
		<ul class="radius tabs row collapse">
			<li class="small-6 columns tab chats-tab {{= state.subpage=='chats'?'active':'' }}">
				<a href="/wallet/messages/chats" class="button tiny">Чаты</a>
			</li>
			<li class="small-6 columns tab settings {{= state.subpage=='settings'?'active':'' }}">
				<a href="/wallet/messages/settings" class="button tiny">Настройки</a>
			</li>
		</ul>
	</div>
</div>