<button class="button text">

	{{ if (images.length > 0) { }}
	<div class="logo">
		<img src="{{= images[0].url }}" alt=""/>
		<!--<img src="//chart.googleapis.com/chart?chs=300x300&cht=qr&chl={{= hash }}" alt=""/>-->
	</div>
	{{ } }}

	<div class="title">{{= title }}</div>
	<div class="description">{{= description }}</div>

</button>