<ul class="radius tabs row collapse">
	<li class="small-6 columns tab coupons-tab {{= state.subpage=='coupons'?'active':'' }}">
		<a href="/office/{{= state.companyId }}/offers/coupons" class="button tiny">Акции</a>
	</li>
	<li class="small-6 columns tab deliveries-tab {{= state.subpage=='advertisements'?'active':'' }}">
		<a href="/office/{{= state.companyId }}/offers/advertisements" class="button tiny">Анонсы</a>
	</li>
</ul>
